[2012-07-10 07:29] Progi1984 opened #1 "Implement ODP Writer"
Add ODPWriter as writer

[2012-07-28 08:21] Progi1984 opened #2 "Add Github Pages"
Duplicate PHPOffice/PHPExcel pages and adapt them for PHPPowerPoint

[2012-08-09 12:53] tstrader opened #3 "Scatter chart with numerical X values not working well"
The following code 'works' but the resulting chart crashes Powerpoint quite frequently.
The .pptx does open and the chart does appear, but the x-axis has a strange format and Powerpoint itself becomes very slow when this chart is present.
Is this a known issue?  Is there a way to fix it?

See code below.

[code]

[2012-08-14 09:03] muhkuh opened #4 "PowerPoint2003"
Hi,

How can i save the ppt in 2003 format.

I have set setOffice2003Compatibility to true (with $objWriter->setOffice2003Compatibility(true);) , still its not working for 2003. I m not able to open ppt.

Is there a workaround.

Thanks

[2012-09-26 10:09] lejuraco opened #5 "InsetTop & Bottom in Table Row"
Hi,

I don't succeed in modify the inset top and bottom of a row in a table.
Is it possible ?
How could i do ?

Thanks
##

[2013-07-09 15:57] ed1023 opened #7 "Adding an image to a slide gives me a blank image object"
I must be doing something wrong, but when I try to add an image to a slide then i down load and open the ppt i get a blank image shape in the slide.

I am running the latest version of phppowerpoint from trunk.

and here is the code I am using to create my slide with image:

[code]

If any one can tell me where I am going off the path or give me some pointers I would be grateful.

-Joel
##

[2013-11-28 11:22] fbenothman opened #9 "BUG : Add layout pack with two images"
I have a problem when loading an external template (pptx). it reverses the order of the images already present in the template.

see the code below:

[code]

![pb_layout](https://f.cloud.github.com/assets/4608817/1639332/1686eee6-581e-11e3-80a7-68f73299bc29.png)

thank you for your help
##

[2014-02-08 12:03] fly85 opened #11 "PHP5.3 Type hinting"
In PHPPowerPoint_DocumentLayout l180 and l191

[code]

there is a cast with integer which cause the error:
 "must be an instance of integer, integer given"

[2014-03-07 12:19] Progi1984 opened #12 "Documentation"
- [x] Basic documentation
- [x] Table with differences between writers

[2014-03-07 12:20] Progi1984 opened #13 "Unit Tests"

[2014-03-31 13:41] oleghind opened #14 "How to read powerpoint files?"
You said it can read, but I couldn't find any code that can read powerpoint file, could you please show me a small example or source files where I can find it?

[2014-04-14 11:02] Progi1984 opened #15 "Implement PPT Reader"
Documentation :
- http://msdn.microsoft.com/en-us/library/cc313106(v=office.12).aspx
- http://msdn.microsoft.com/en-us/library/gg615594.aspx
- http://msdn.microsoft.com/en-us/library/hh244173(v=office.14).aspx
- https://poi.apache.org/slideshow/ppt-file-format.html
- http://blogs.msdn.com/b/openspecification/archive/2009/10/19/beginning-with-the-powerpoint-document-stream.aspx
- http://blogs.msdn.

[2014-04-17 13:13] delphiki opened #17 "Packagist webhook?"
Hi,

Don't you have a webhook configured for packagist?
Would be realy helpful to get the updates via composer.

[2014-04-17 13:34] #11 closed, assigned to nobody

[2014-05-03 08:05] potofcoffee opened #21 "ODP writer is locale sensitive in the wrong places"
On locales with a decimal mark different from the dot, the ODP writer will produce invalid documents, because page dimensions in styles.xml will contain invalid characters.

E.g., on a German (de_DE) locale, where the decimal mark is the comma, the fo:page-width attribute in style:page-layout-properties will be "25,4cm" instead of "25.4cm." The result is a broken file.

A temporary workaround is t

[2014-05-13 05:07] ghost opened #22 "Create "develop" branch"
How about creating `develop` branch for PHPPowerPoint, PHPVisio, and PHPProject?

[2014-05-13 12:30] #22 closed, assigned to nobody

[2014-05-16 07:32] nynka opened #23 "Wrong input parameter object type in setHyperlink()"
Documentation suggests that function setHyperlink() receives a PHPPowerPoint_Shape_Hyperlink object as input parameter but the function receives a PHPExcel_Cell_Hyperlink  object in [PHPPowerPoint_Shape_RichText_TextElement](https://github.com/PHPOffice/PHPPowerPoint/blob/master/Classes/PHPPowerPoint/Shape/RichText/TextElement.php) on line 124.

The same applies for [PHPPowerPoint_Shape](https://g

[2014-05-16 11:42] #2 closed, assigned to Progi1984

[2014-05-16 11:49] Progi1984 opened #24 "Use PHPWord as reference"
To Do List for having PHPPowerPoints equals to PHPWord Quality :
- [x] Migrate source from Classes to src
- [x] Migrate examples from Examples to samples
- [x] Migrate unit tests from Tests to tests
- [x] Migrate doc from Documentation to docs
- [x] Remove Build directory
- [x] Support of PHP 5.3 min. (Reference : https://github.com/PHPOffice/PHPWord/issues/58 & https://github.com/PHPOffice/PHPWor

[2014-05-16 12:04] RomanSyroeshko opened #25 "Rename the project"
It seems that ```PowerPoint``` is a [registered trademark](http://www.microsoft.com/en-us/legal/IntellectualProperty/Trademarks/EN-US.aspx#P_Title) of Microsoft.

I suggest to rename into ```PHPPresentation```.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2202577-rename-the-project?utm_campaign=plugin&utm_content=tracker%2F323104&

[2014-05-16 12:04] ghost opened #26 "Rename the project"
It seems that `PowerPoint` is a [registered trademark](http://www.microsoft.com/en-us/legal/IntellectualProperty/Trademarks/EN-US.aspx#P_Title) of Microsoft.

[2014-05-16 12:05] ghost opened #27 "Rename the project"
It seems that `PowerPoint` is a [registered trademark](http://www.microsoft.com/en-us/legal/IntellectualProperty/Trademarks/EN-US.aspx#P_Title) of Microsoft.

[2014-05-16 12:06] #27 closed, assigned to nobody

[2014-05-16 12:07] #26 closed, assigned to nobody

[2014-06-05 20:54] benbeaumont opened #28 "Ability to set auto shrink text"
it would be really useful to be able to set the "auto shrink text" ability in powerpoint, especially when creating powerpoint slides dynamically with text.

I'd be happy to help out to develop this if someone could give me some pointers.

[2014-06-10 15:04] #23 closed, assigned to Progi1984

[2014-06-11 14:37] #13 closed, assigned to ivanlanin

[2014-06-17 11:06] Progi1984 opened #29 "Sample_04_InMemoryImage.php"
Don't display the image in LibreOffice.

The image is well in ODP ZIP File.

[2014-06-17 11:08] Progi1984 opened #30 "Sample_05_Templated.php"
Don"t generate Line Shape

[2014-06-17 11:14] Progi1984 opened #31 "Sample_06_Table.php"
No tables displayed

[2014-06-17 11:30] Progi1984 opened #32 "Sample_07_Chart.php : PPTX"
The bar3D display nothing.

The fill is not used : I change the background color and no changes in appareance.

[2014-06-17 11:31] Progi1984 opened #33 "Sample_07_Chart.php : ODP"
No charts displayed.

[2014-06-18 13:45] Progi1984 opened #34 "Composer and Tools"
- [x] Use PHPMD with Composer (https://packagist.org/packages/phpmd/phpmd)
- [x] Use PHPCS with Composer (https://github.com/squizlabs/PHP_CodeSniffer#installation)
- [x] Use PHPCPD with Composer (https://github.com/sebastianbergmann/phpcpd#composer)
- [x] Use PHPLoc with Composer (https://github.com/sebastianbergmann/phploc#composer)

[2014-06-22 08:16] #34 closed, assigned to ivanlanin

[2014-06-30 15:42] #1 closed, assigned to Progi1984

[2014-07-01 12:34] #29 closed, assigned to Progi1984

[2014-07-01 12:45] #30 closed, assigned to Progi1984

[2014-07-01 22:16] #24 closed, assigned to Progi1984

[2014-07-01 22:17] #12 closed, assigned to Progi1984

[2014-07-03 07:38] #31 closed, assigned to Progi1984

[2014-07-10 01:14] jarredholman opened #35 "VERTICAL_BOTTOM alignment doesn't work for RichText Shapes."
The text is always vertically aligned to the top of the box.

[2014-07-10 14:11] #32 closed, assigned to Progi1984

[2014-07-21 12:27] #21 closed, assigned to Progi1984

[2014-07-21 13:28] #33 closed, assigned to Progi1984

[2014-07-21 13:44] #35 closed, assigned to Progi1984

[2014-07-22 06:32] #3 closed, assigned to Progi1984

[2014-07-30 14:25] Tryycks opened #39 "BUG : Powerpoint Repair Error"
When I follow any sample, I'm experiencing an error upon opening the pptx files in Powerpoint 2010 (and 2007) :
"Powerpoint has found a problem with the content in xxxxx.pptx
Powerpoint can attempt to repair the presentation.
If you trust the source of this presentation, click Repair."

By clicking on the repair button, the pptx in fine with a popup :
"powerpoint remove unreadable content"

[2014-07-31 12:45] #15 closed, assigned to Progi1984

[2014-07-31 12:46] #14 closed, assigned to Progi1984

[2014-07-31 12:47] #4 closed, assigned to Progi1984

[2014-07-31 14:10] #39 closed, assigned to Progi1984

[2014-08-04 07:34] #28 closed, assigned to Progi1984

[2014-08-05 21:11] fregge opened #42 "BUG: Repair Error / Wrong anchor if you don't set vertical alignment different to VERTICAL_BASE"
When you create a richText shape and set the vertical alignment to "VERTICAL_BASE" or leave the default value, the "a:bodyPr" attribute "anchor" is set to "base" wich is wrong and results in a repair error message. The "anchor" attribute is of type "ST_TextAnchoringType".

Valid values can be found here: http://www.datypic.com/sc/ooxml/t-a_ST_TextAnchoringType.html

Steps to reproduce:
[code]

[2014-08-06 08:47] sportok opened #43 "Bug when create text"
Hello !

Thanks for your works.

When a create richText on my slide, i have a error :
<code>"PowerPoint was unable to display some of the text, images, or objects on slides in the file, "FileName", because they have become corrupted. Affected slides have been replaced by blank slides in the presentation and it is not possible to recover the lost information. To ensure that the file can be opened i

[2014-08-06 08:55] #43 closed, assigned to Progi1984

[2014-08-06 14:18] arbabi2010 opened #44 "Reader for PowerPoint2007"
Hi. I want to  set document properties for an exiting file ... I know how i can set properties but i can't load a existing file ... i asked about like this in phpword and i can load but for powerpoint i can't load something like that.
please help me. thanks a lot

[2014-08-07 12:17] sportok opened #45 "set text pre-formatted on slide (without set property by property)"
Hi,

Users want to format text with an editor like "tinyMCE" since web interface.
It's possible to set formatted text on slides without set property by property ? Maybe with RTF, HTML or other format ?

If not, would there be a solution that I can implement ? (with eventually a pull-request after)

Thanks.

[2014-08-18 15:14] #45 closed, assigned to Progi1984

[2014-08-20 12:23] Progi1984 opened #46 "Make a PPTX compatible with Mac Keynote"
Actually, @djuki have some problems for reading PPTX in Keynote.

I added a patch for CodePlex (92ffaf48efb935639da46ef1a0b0e70de216724d - 29a3321cac8862005a66706ce90904a9b78780bf (Fix) - c0ef044cb9d1df3652964dad80c423fa13289586 (Fix)).

But they always have a problem.

Now, could you send me a PPTX file created by Keynote, plz ? Thx

[2014-08-25 12:25] newhope opened #47 "Open generated pptx file throw error when opening"
Hi,

My server passed on the requirement checks
(phpinfo: http://app.dbhost.in/nfo.php)

But after running your sample script, the generated pptx throw error when opening :

"PowerPoint found a problem with content in Sample_01_Simple.pptx.
PowerPoint can attempt to repair the presentation.
If you trust the source of this presentation, click Repair."

I have attached the generated sample 1,2 for y

[2014-08-27 16:23] Progi1984 opened #48 "Reader / Writer for Keynote"
Ref : @surefirejack (#46)

Links :
- https://github.com/obriensp/iWorkFileFormat/blob/master/Docs/index.md
##

Goal : Basic Reader/Writer : Image and Text

[2014-08-29 10:45] dvdtth opened #49 "How to add link to image?"
Taking the following code from the samples folder:

[code]

[2014-09-02 13:50] trq opened #51 "psr-0 via composer broken."
You are telling composer that the namespace "PHPPowerPoint" exists within src/, it doesn't.

All your code is within PhpOffice\PhpPowerpoint.

Please fix.

[2014-09-10 11:11] #47 closed, assigned to Progi1984

[2014-09-14 19:20] fabianosilvadev opened #52 "Bug with PHPPowerPoint"
![captura de tela 2014-09-14 as 16 27 14](https://cloud.githubusercontent.com/assets/6819383/4265233/441b0972-3c44-11e4-825f-1e9d5934ecfc.png)
I have this error and not know more to do. Please help!
##

[2014-09-23 09:11] rdoepke opened #55 "OpenOffice and Charts"
Hi everyone,

I finally managed to get PHPExcel working with the latest version of PHPPowerPoint. When I run sample 8, the file opens correctly in PowerPoint it looks fine plus I can view and edit the chart. When I import it via OpenOffice (Version 3.4.1), the slides looks both different and the data is not attached.

![openoffice](https://cloud.githubusercontent.com/assets/2574570/4369785/e01d376

[2014-09-24 14:20] #17 closed, assigned to Progi1984

[2014-10-08 10:27] #51 closed, assigned to Progi1984

[2014-10-30 12:03] gmuehl opened #60 "Feature not implemented (l.1131 : 102)"
Some strange Problems over here. When opening a ppt with

$pptreader = PhpOffice\PhpPowerpoint\IOFactory::createReader('PowerPoint97');

it tells me "Unknown File Format". So i have opened the File in LibreOffice and saved it as PowerPoint97 because saving in Office makes no difference. After that this Exception shows up:

[code]

so, what is the meaning of these numbers? ;)

[2014-11-10 00:12] jarredholman opened #61 "Border and Fill don't work for RichTextShapes."
From looking at the code (Writer/PowerPoint2007/Slide.php) it looks like Fill is only implemented for Table, and Border is only implemented for Table, Line and Pic.

Is it possible for them to be implemented for RichTextShape as well? This used to work in the older versions before PHPPowerPoint switched to namespaced classes.

[2014-11-13 21:09] rijvirajib opened #62 "Image/Shape inside Table Cell"
Is it possible to create an image shape inside a table cell?

[2014-11-18 03:39] dung1764 opened #63 "Support of notes slide"
Is it possible to add notes/comments for each slide ?

[2014-11-23 06:21] AdamGaskins opened #64 "A few questions..."
I'm trying to use this (and great work so far btw), but I have quite a few questions...

I know I can get the width of a slide using `$slide->getLayout()->getLayoutXmilli()`, which is in millimeters. I've confirmed this was accurate when I opened the generated file.

But what units do the setWidth etc... functions take? I opened up the a pptx file where I created a "1000" unit width item, and it w

[2014-11-24 14:24] skwi opened #65 "Disapearing space"
I have an issue that happens randomly (at least is how it looks to me). I can not reporduce it but my users see it regularly.

When I open a PPTX and saves it back, some spaces in text are disapearing.

For example :
[code]
becomes
[code]

I can't find a pattern leading to this bug.

Any idea why I see it ?
Is there something to do in Powerpoint to prevent it ? (Userers on my website are willing t

[2014-12-02 16:35] pat123456 opened #66 "can't get(real)Height of richTextShape when auto shrink"
when a richTextShape shrink to adapte his height to his content text, we can't get the "real" height of the shape with getHeight(), only the height witch have been defined by setHeight()

so it make impossible to set y offset of an other element below the richTextShape depending on his (dynamic) text size.

may be there is an other way to do that, but didn't find... ?

(sorry my bad english)

[2014-12-03 15:39] omadsen opened #67 "Namespace error on charts with PHPExcel"
I cannot get presentations with slides containing charts with spreadsheets to work. I think the references to PHPExcel in  Writer\PowerPoint2007\Chart.php not will comply with the PHPExcel autoloader, unless there is a backslash in the beginning?

[2014-12-09 21:25] edalbem opened #69 "Bullet::TYPE_BULLET showing up as dash"
(PhpPowerpoint\Style\Bullet::TYPE_BULLET );
Is showing up as dash.

[2014-12-11 18:03] chuebert opened #70 "Hyperlink in table cell"
Hello,

it is possible to set an hyperlink in table cell?
It is very important for other project.
I have solved it by adding an text-shape, but it is no good solution.

http://stackoverflow.com/questions/26846836/phppowerpoint-set-hyperlink-in-table-cell

Thanks,
Christoph

[2014-12-11 18:39] desigennaro opened #71 "autosize text"
If the text is too large to fit in the box I would like it to automatically make the font size smaller. I assume that autoFit would be used, but I have been unable to get it working.

[2014-12-11 22:43] #66 closed, assigned to Progi1984

[2014-12-12 18:26] #69 closed, assigned to Progi1984

[2014-12-16 14:23] #70 closed, assigned to Progi1984

[2014-12-16 15:41] chuebert opened #72 "calculate end of slide with height or other option"
it is possible to calculate the height of a current slide.
for example i have an table and want to splitt it, when reached end of slide.
or is there a other option to do this?

[2014-12-18 13:04] chuebert opened #74 "TableDesign in PPHPowerPoint"
It is possible to Style Tables like this:

Change border-color: white
https://dl.dropboxusercontent.com/u/6242507/PHPPowerpoint%20Example/Design_1.png

No border left, top and right
https://dl.dropboxusercontent.com/u/6242507/PHPPowerpoint%20Example/Design_2.pdf

[2014-12-18 15:17] Gyzmoo opened #75 "Shape with dynamic Height"
Hi Progi,

I would like to create a Shape, (i don't know contents before), so i put a ridiculous height

$shape->setHeight(10)->setWidth(915)->setOffsetX(25)->setOffsetY(248)->setAutoFit( RichText::AUTOFIT_NORMAL );

After that i populate my shape with a long long text with createTextRun!

$textRun = $shape->createTextRun("Profitez de la bien nommée Costa del Sol en séjournant à Torremolinos à l'h

[2014-12-19 12:30] #61 closed, assigned to Progi1984

[2014-12-22 20:00] #71 closed, assigned to Progi1984

[2014-12-23 07:35] #64 closed, assigned to Progi1984

[2014-12-26 07:51] #62 closed, assigned to Progi1984

[2014-12-27 15:35] #74 closed, assigned to Progi1984

[2014-12-29 16:52] chuebert opened #76 "Options for Charts"
Hi,

it is possible to have charts like this:
![https://dl.dropboxusercontent.com/u/6242507/charts.png](https://dl.dropboxusercontent.com/u/6242507/charts.png)

In the left chart i want have the values on the left line and not by the points.
In the secon chart i want no paddings in the cake.

and it is possible to use percent by countet value or must i calculate it by my self?

[2014-12-31 07:36] #46 closed, assigned to Progi1984

[2014-12-31 10:46] Progi1984 opened #77 "$shape->getLegend()->setVisible doesn't work"
Link to : https://github.com/PHPOffice/PHPPowerPoint/issues/76#issuecomment-68432741

PS : @chuebert One behavior = one issue ;) Thanks

[2014-12-31 14:40] #76 closed, assigned to Progi1984

[2014-12-31 14:42] #72 closed, assigned to Progi1984

[2014-12-31 14:42] #75 closed, assigned to Progi1984

[2014-12-31 14:52] #77 closed, assigned to Progi1984

[2014-12-31 15:07] Progi1984 opened #78 "Documentation for Charts"
Add documentation for charts

[2014-12-31 15:08] Progi1984 opened #79 "Support PowerPoint2007 & OpenOffice"
Difference between each samples for having differences.
##

[2015-01-06 19:20] JewrassicPark commented on #63
I changed the writeNote function of my Slide writer for Powerpoint2007 and this works for me:

    public function writeNote(Note $pNote = null)
    {
        // Check slide
        if (is_null($pNote)) {
            throw new \Exception("Invalid \PhpOffice\PhpPowerpoint\Slide\Note object passed.");
        }

        // Create XML writer
        $objWriter = $this->getXMLWriter();

        // XML

[2015-01-07 12:49] Progi1984 commented on #63
@JewrassicPark @dung1764 If you could test with the last version of the develop branch, and give some feedback (success & fail), I could close or continue this issue. Thanks.

[2015-01-07 14:04] JewrassicPark commented on #63
Works for me, but to be fair it's the code I already checked so it's not a great test.

[2015-01-08 11:11] nynka opened #81 "Shadow does not work on RichTextShapes anymore"
Setting the shadow on RichTextShapes seems to have no effect anymore.

Consider this:
[code]
This used to work in previous versions, please look into it.

[2015-01-08 12:00] Progi1984 commented on #63
I finally tested on my Windows Computer with PowerPoint & PowerPoint online and it works. So I close this issue.

[2015-01-08 12:00] #63 closed

[2015-01-08 12:01] Progi1984 commented on #49
Some members in @PHPOffice/phppowerpoint-team or @PHPOffice/phpword-team  for testing with a PowerPoint, please ? Thanks

[2015-01-08 15:48] manikrds commented on #76
@Progi1984 Sorry for the same question.

Is Possible to have graph chart like this ??

![graph](https://cloud.githubusercontent.com/assets/10435483/5665094/e32f3f14-977b-11e4-9dd3-d0789fc503d4.jpg)

[2015-01-08 15:57] Progi1984 commented on #76
@manikrds At the moment, no.

You can have line charts but without filling zone under.

If you want implementation, create an issue for each feature which miss you in PHPPowerPoint.

[2015-01-08 18:04] JewrassicPark commented on #63
I've found a case in which it causes powerpoint to crash and it's not
trivial

If you create a first slide without notes then make subsequent slides with
notes, powerpoint can't read the file. I'm currently looking into the bug.

On Thu, Jan 8, 2015 at 7:00 AM, Progi1984 <notifications@github.com> wrote:

[2015-01-08 18:42] JewrassicPark commented on #63
the relationship is either with the _rels directory in notesslides or the
notemaster but I couldn't find the exact relationship

right now I've just patched my project by adding a placeholder note for
slides that don't have notes but this isnt a good solution and should be
opened as a bug

On Thu, Jan 8, 2015 at 1:03 PM, Derek Cohen <derekcohen@gmail.com> wrote:

[2015-01-09 06:42] manikrds opened #82 "New features need to add in charts."
Hi Everyone,

Can we implement chart like this ?

![graph](https://cloud.githubusercontent.com/assets/10435483/5676221/f6d77956-97f7-11e4-8544-c2e76e5baab1.jpg)

[2015-01-09 14:46] JewrassicPark opened #83 "Notes crash PPTX unless they're on each slide"
Basic method is
[code]

This causes Office PowerPoint to crash.

It can be worked around by adding a non empty note to every slide.

e.g. this works:
[code]

Notes generated with PHPPowerpoint show up in the pptx zip according to slide

noteSlide2.xml => slide # 2, noteSlideX.xml => slide # x

When created with MS Office, the noteSlides are just numbered sequentially

noteSlide1.xml => corresponds

[2015-01-12 09:44] gmuehl commented on #60
Mail is sent

[2015-01-12 21:26] JewrassicPark commented on #49
Hyperlink to image works for me for powerpoint 2007 with code like above but does not work for me for text

[2015-01-13 11:28] Progi1984 commented on #49
@JewrassicPark Could you give us some code, please ?

[2015-01-13 12:33] Progi1984 commented on #60
@gmuehl Question : Have you embed PPTX file or any object in your file PPT file ? Your file seems not a valid PPT file.

[2015-01-13 12:41] gmuehl commented on #60
At first i came to the same conclusion, though - the PPT consists of simple Text and Images, nothing more. When i open it in Powerpoint there are no Error Messages. Just change the Text, save it, and try to open it with PHPPowerpoint again -> same Error message, possible Errors are not Removed on Save. The only working solution so far is the following:

- go to Cloudconvert and convert the File to

[2015-01-13 12:53] Progi1984 commented on #60
@gmuehl It's weird.

With the original file, I have some errors in reading with OffVis :
![image](https://cloud.githubusercontent.com/assets/1533248/5720888/bed23998-9b2a-11e4-8058-a9719d0469f0.png)

With the original file saved in LibreOffice, I have no errors :
![image](https://cloud.githubusercontent.com/assets/1533248/5720890/c8d97c30-9b2a-11e4-8581-5f4d8114844c.png)

What's your file generato

[2015-01-13 13:14] gmuehl commented on #60
Office 2010, i've allready told the User to update his Powerpoints, though - he has the same Problem that there are no changes on saving the File (even when edited);

![schnappschuss_011315_021135_pm](https://cloud.githubusercontent.com/assets/151238/5721159/55826400-9b2e-11e4-9d5d-2c828bf8d54c.jpg)

i've tried the LibreOffice-Trick a few weeks ago, that resulted in the same error, only CloudConve

[2015-01-13 15:30] Progi1984 commented on #60
@gmuehl Do you save the file or save as a new file ?

[2015-01-13 15:39] Progi1984 commented on #60
@gmuehl Could you test with the last version of the develop branch ?

[2015-01-13 16:01] gmuehl commented on #60
Sure, will check the Branch tomorrow

[2015-01-14 09:51] skwi commented on #65
Sorry for the late answer.
I did not made any modification to PHPPowerPoint.
I have looked in detail to this "err" attribute and it means that there is a spelling error on the word.
I don't have enough data to see if there is a correlation between the bug and this attribute.

[2015-01-14 11:34] Progi1984 commented on #65
@skwi Could you test with the latest version of the develop branch ?

You first code is the XML generated by PHPPowerPoint ?

[2015-01-14 13:31] chuebert opened #84 "Text formatting in Table-Cell"
It is possible to format a part of a text in a cell.
It is possible for the hole text, but it is also possible for a part of text?
Bold, Color, Hyperlink etc. ?

[2015-01-14 16:12] JewrassicPark commented on #49
Both RichTextShape and individual text elements can have a hyperlink set on them but the hyperlink insert via xml is only implemented for individual elements

so I was doing
$shape = $currentSlide->createRichTextShape();
$shape->getHyperLink()->setUrl($args['l'])->setTooltip($args['l']);

and instead I should have been doing
$shape = $currentSlide->createRichTextShape();
$textRun = $shape->createT

[2015-01-14 17:52] JewrassicPark commented on #49
Modifying the writeShapeText function of the Powerpoint2007 Slide writer allows you to set the url for a shape instead of just individual text elements (which I find more useful because it omits hyperlink style)

my code:
[code]

[2015-01-14 19:00] gmuehl commented on #60
Very interestung, dev-master delivers the following Error:

    Fatal error: Uncaught exception 'Exception' with message 'Invalid file format for PhpOffice\PhpPowerpoint\Reader\Serialized:

Same File with the Development-Branch can be read, but not parsed:

    Fatal error: Uncaught exception 'Exception' with message 'File PowerPoint 97 in error (Location : RTSlide > drawing > OfficeArtDg > groupS

[2015-01-15 11:55] Progi1984 commented on #49
@JewrassicPark Just add your code with some unit tests and that works perfectly. Thanks.

PS : If you want, you can pull request your improvements ;)

[2015-01-21 11:52] manikrds commented on #76
@Progi1984

Can we set marker points in graph line ?

![markers_graph_line](https://cloud.githubusercontent.com/assets/10435483/5835743/1099bf9a-a192-11e4-9cd6-3e08f4b343b4.jpg)

[2015-01-21 19:47] JewrassicPark commented on #83
Another notes bug: Inconsistently when generating large reports, a notesslide relationship in the slide rels dir file for a slide will have the wrong slide number (which currently has to be the same as the slide because every slide needs notes if one slide has notes). This causes office to show the repair dialogue. This is extremely inconsistent. I'll generate the same powerpoint twice and might r

[2015-01-22 13:58] manikrds commented on #82
Column chart also

Hi,

Is that possible to have column chart like this ?? (Not 3D bar chart)

![2d_bar_chart](https://cloud.githubusercontent.com/assets/10435483/5856848/bc8152de-a26c-11e4-9908-1c0e2031f895.jpg)

[2015-01-27 11:37] Progi1984 commented on #49
@JewrassicPark Some news ?

[2015-01-27 11:52] Progi1984 commented on #60
@gmuehl I have the same error.

It's because your file is bad formatted in the PowerPoint format.
Could you try [this procedure](https://support.office.microsoft.com/en-us/article/Determine-whether-a-PowerPoint-2010-presentation-is-compatible-with-PowerPoint-2003-or-earlier-388b0be3-4c12-4248-89f5-377b22efc533) on the client's computer with his file ?

[2015-01-27 12:10] Progi1984 commented on #83
@JewrassicPark
I generate a file with PHPPowerPoint (the last version of the develop branch).
I open the generated file with [MS Office PowerPoint Viewer](http://phppowerpoint.readthedocs.org/en/develop/references.html#openxml) : No problem.
I validate the generated file with [Open XML SDK 2.5 Productivity Tool for Microsoft Office](http://phppowerpoint.readthedocs.org/en/develop/references.html#o

[2015-01-27 14:32] JewrassicPark commented on #49
Works for me in dev branch

[2015-01-27 14:39] JewrassicPark commented on #83
I still get the same initial bug with latest dev branch

It doesn't crash if notes are on every slide:
[code]

But it crashes consistently immediately upon opening in PowerPoint 2013 if one slide has notes and the other doesnt

[code]

The other bug with the numbering was only observed when generating large powerpoints (50+ slides) and it wasn't consistent (generated same powerpoint twice, one nee

[2015-01-27 15:18] #49 closed

[2015-01-28 11:54] Progi1984 commented on #83
@JewrassicPark Firstly, I try to reproduce your first bug (before bug of numerotation);
But your code use home made methods, I suppose.
So I use this code
[code]

Always ok with the PPTX Viewer, the SDK Validator and LibreOffice.
Without reproducing this bug, I can't fix it.

[2015-01-30 15:36] JewrassicPark commented on #83
That code exactly immediately crashes my Powerpoint 2013.

To not crash it, I have to add a note to the first slide you create and the first slide created automatically by the constructor

[code]

[2015-01-30 18:19] GavinMcL opened #85 "Notes in PPTX only display on Notes page, not in Notes panel under the slide on Normal page"
Notes added to a PPTX slide appear fine if I select View->Notes Page, but they don't appear in the Notes panel that shows in the normal view under the slide.

Not sure if this is because they are written in a rich text box?  I'm trying to figure out by comparing a slide created in PowerPoint to a Slide with the PHP class, though it's not the clearest of formats to follow...

[2015-02-10 03:25] nekrozon opened #86 "PPTX Files Not Recognized on iOS"
The PPTX file format should open on IOS natively in safari.

When PPTX files generated in PHPPowerPoint on iOS 8.1.3, the following error appears:

Unable to Read Document

The file format is invalid.

[2015-02-10 11:22] maraky opened #87 "add methods to DocumentLayout"
Hi!
I propose to add methods to DocumentLayout, return the size of the slide in px, as the height, the width of the object and its displacement is set in px. This will avoid unnecessary conversions and make the code more readable.
Thanks, Alexander

[2015-02-10 16:22] Progi1984 commented on #86
@nekrozon Have you tested with the develop branch ?

[2015-02-11 00:04] lepoulp opened #88 "Fatal error: Class 'PhpPowerpoint' not found in ...."
Hi,

i've tried installing the latest version on my XAMPP (PHP 5.5), sample works but it includes the sample_header.php etc.. which i don't use in my test.

When i try to replicate a simple test, it fails at this point :(
$objPHPPowerPoint = new PhpPowerpoint();
With this error : Fatal error: Class 'PhpPowerpoint' not found in ...
if finds the required files and i haven't changed the class name so

[2015-02-11 08:33] chuebert opened #89 "Error: wants to repair powerpoint"
I get an error with powerpoint 2010.
I have the current version and get an error that wants to repair the powerpoint.
How can i fix this?

[2015-02-11 16:03] JewrassicPark commented on #88
I had some issues getting the examples to work too. It took me awhile to get the autoloader to work the way I wanted it to.  Here's the start of my file:
[code]

[2015-02-11 19:18] lepoulp commented on #88
Thanks a lot it worked !

[2015-02-11 19:18] #88 closed

[2015-02-12 12:50] manikrds opened #90 "issue on bar chart"
How can i stretch this bar chart to good visible ?

How can i increase bar height and width ?

![2d_chart](https://cloud.githubusercontent.com/assets/10435483/6167657/a85e2548-b2e3-11e4-9cb6-3254aee014fd.jpg)

[2015-02-17 09:14] Gyzmoo opened #91 "createTextRun empty generate errors on ppt"
Hi Progi,

I've worked on my generic ppt's exports. My customer is really satisfied.

However, i've found another issue on the engine.

If i create a RichTextShape empty, the file generated is corrupted.

EX:
$txt = "";
$textRun = $shape->createTextRun($txt );
or
$textRun = $shape->createTextRun(" ");

I would like to create myShape with fixed dimensions and AutoFit properties even if my data is e

[2015-02-23 04:17] williammck opened #92 "Editing master slide"
I was wondering if there is a way to edit the master slide - all I need to do is add a background/image for all slides. Currently every slide has an image on it, but that creates a huge file.

Any solution? Thanks!

[2015-02-23 16:11] williammck commented on #92
Never mind, used code detailed in #9 to use a template.

[2015-02-23 16:11] #92 closed

[2015-02-25 00:42] nekrozon commented on #86
Yep I'm using the develop branch so that I could get fill to work for text/slide backgrounds.

I will double check though.

[2015-02-27 07:30] chuebert opened #93 "create more then one Hyperlink in one table cell"
It is posssbile to set more than one hyperlink in tablecell?

[code]
##

[2015-03-09 08:52] chanchalkariwala opened #96 "Reading PPT files"
I have read a few files and can't find anything which says about reading PPT files with PHP. I only want to display the slides.
Does this library provide that support?

[2015-03-09 09:06] #96 closed

[2015-03-18 11:39] sarjeet-singh opened #97 "Can we create Gantt chart?"
Hi Team,

Can we create gantt chart with this library?

If yes then you can give a example for this.
Or
If  no then we can give this feature in library.

Please help me on this

Thanks
Sarjeet Singh

[2015-03-18 11:48] sarjeet-singh opened #98 "Is possible that convert HTML to PPT?"
Hi Team,

Is possible that convert HTML to PPT?

Thanks

[2015-03-24 17:03] Stephen-Hazel opened #99 "is it possible to create a bar chart that's wider than it is tall?"
Take your sample "Sample_07_Chart.php"
scoot to line 71 where you're setting the chart's width, height, etc.

Change the height to 300, width to 900, x to 5, y to 5

The thing plots into a teeny square.

An easy fix for ya, hopefully?

[2015-03-24 20:30] Stephen-Hazel commented on #99
Hmmm, it looks like whatever that resizeProportional junk is doing, it's WRECKING stuff.  I kinda wish whoever put that in would take it out and not mess around like that...

[2015-03-26 21:30] Stephen-Hazel commented on #99
well, I got around the problem.  Wrote my own bar chart drawing php that does EVERYthing in terms of images (1 pixel images scaled to a bar), text and lines.  So now I don't even need the built in chart stuff that doesn't work.  Reinventing the wheel strikes again !!

[2015-03-26 22:02] Stephen-Hazel commented on #99
Actually, this is gonna be a GREAT way to get graphs around in our dang company.  Everybody's got powerpoint, it can print beautifully (unlike trying to SQUEEZE your webpage onto a printer - YUCK), and people can email it around.  And it's extremely difficult to just copy/paste to excel and maintain local (CRAPPY) copies of the data that never update.  This library is fricken GREAT - you have save

[2015-04-28 14:08] skwi commented on #65
After updating to the latest version and further investigation, the bug was due to an incorrect regex manipulating data before using PHPPowerPoint to manipulate the document.

Anyway thanks for your help, updating to the latest version gave us better tools to find the problem.

[2015-04-28 14:08] #65 closed

[2015-05-07 09:37] Evergreenn opened #100 "Generated pptx file opened with errorin Office Powerpoint"
Hi,
I've got the same problem (https://github.com/PHPOffice/PHPPowerPoint/issues/47) but I have the new version with the 2 patches included.. It don't fix anything for me.

It is only on Microsoft Powerpoint ( i've only tested on 2013 version), it work fine with Openoffice and Libreoffice.

I don't know how to fix it

Thanks for your time !
Evergreenn

<bountysource-plugin>
---
Want to back this i

[2015-05-15 18:28] buliq commented on #67
Hi.
Without the backslash it throws:

Warning: include_once(PhpOffice/PhpPowerpoint/Writer/PowerPoint2007/PHPExcel/Cell.php): failed to open stream: No such file or directory in /var/www/xxx/library/Zend/Loader.php on line 146

Using ZF1 I could not fake it to be in this namespace

[2015-05-22 11:18] Progi1984 commented on #60
@gmuehl Some news ?

[2015-05-27 11:34] Progi1984 commented on #60
@gmuehl Need your help for fixing this bug.

[2015-05-27 11:35] Progi1984 commented on #85
@GavinMcL Have you some clue about this bug ?

[2015-05-28 11:27] gmuehl commented on #60
The File was ok, though, the Customer cancelled the Job because it lasted too long

[2015-05-28 12:17] Progi1984 commented on #60
Thanks @gmuehl

[2015-05-28 12:17] #60 closed

[2015-06-01 11:48] Progi1984 commented on #83
@JewrassicPark No problem with the SDK Validator and LibreOffice... :S

Have you a sample file generated with Powerpoint 2013 with a simple note  for looking differences ?

[2015-06-01 12:20] Progi1984 commented on #79
**Legend in bar chart (Sample 05 => 2nd slide)**
ODP -------------- PPTX
![screenshot_20150601141456](https://cloud.githubusercontent.com/assets/1533248/7912536/9e761d9e-0868-11e5-858f-7e0851b12dbf.PNG)

**Angle in bar chart (Sample 05 => 2nd slide)**
ODP -------------- PPTX
![screenshot_20150601140912](https://cloud.githubusercontent.com/assets/1533248/7912443/cf1eb722-0867-11e5-9a1d-e40f95024ef5

[2015-06-01 12:28] Progi1984 commented on #5
@lejuraco Some news ?

[2015-06-01 12:28] Progi1984 commented on #7
@ed1023 Some news ?

[2015-06-01 12:28] Progi1984 commented on #9
@fbenothman : Some news ?

[2015-06-01 12:28] Progi1984 commented on #42
@fregge Could you test, please ?

[2015-06-01 12:29] Progi1984 commented on #52
@fabianoleo Hi, have you got write rules on the directory /Applications/XAMPP/xamppfiles/htdocs/PHPPowerPointFinal/samples/ ?

[2015-06-01 12:30] Progi1984 commented on #67
Fixed in f7c07c2.

[2015-06-01 12:30] #67 closed

[2015-06-02 15:46] jacobnijgh opened #103 "Reading ppt file doen'st work"
I can't load in a ppt file, i used the following syntax:
http://stackoverflow.com/questions/29190556/can-phppowerpoint-copy-existing-powerpoint

This is the exception
Invalid file format for PhpOffice\PhpPowerpoint\Reader\Serialized:

Is this already available in v0.3 or only in dev branch yet?
Thanks in advance

[2015-06-12 17:16] Progi1984 commented on #85
@GavinMcL : I just get a PowerPoint for testing and I have the Notes panel in normal view.

![screen shot 06-12-15 at 07 15 pm](https://cloud.githubusercontent.com/assets/1533248/8135410/74f6cb62-1137-11e5-9c10-a76cbb69d821.PNG)

[2015-06-12 17:18] Progi1984 commented on #83
@JewrassicPark I just tried on a PPT2007 and no problem with your code and the generated file.

[2015-06-12 17:44] Progi1984 commented on #100
@Evergreenn Have you a code for generated a "corrupted" file ? Because with my 2007 version, I have no problem.

[2015-06-12 20:47] Progi1984 commented on #82
@manikrds : Just added in the develop branch.

[2015-06-12 20:47] #82 closed

[2015-06-12 21:53] Progi1984 commented on #87
@maraky I just added units management in DocumentLayout.

You can get and set width and height in differents units (pixels, emu, cm, mm, pt and inches).

This is available in the develop branch.

[2015-06-12 22:03] Progi1984 commented on #97
hi @sarjeet-singh ,

PowerPoint doesn't support gantt chart, so PHPPowerPoint won't do it.

So if you need it, you can [generate a Gantt Chart as an image](http://jpgraph.net/download/manuals/chunkhtml/ch16s04.html) and use the generated image in PowerPoint.

[2015-06-13 11:29] Progi1984 commented on #103
The PowerPoint97 reader is available in the version 0.3.

https://github.com/PHPOffice/PHPPowerPoint/releases/tag/0.3.0

If you have problem with it, give us a file example and open an issue, please.

[2015-06-13 11:29] #103 closed

[2015-06-13 11:30] Progi1984 commented on #90
@manikrds Can you give us your code for generating this chart, please ?

[2015-06-15 11:01] Progi1984 commented on #99
@Stephen-Hazel Finally your problem is solved ?

[2015-06-15 11:02] #87 closed

[2015-06-15 11:04] #97 closed

[2015-06-15 11:07] Progi1984 commented on #89
@chuebert Have you got always the problem ? With develop branch ?

If yes, could you give us a file (simple) generated with PowerPoint2010 ?
In this case, I need to analyze differences between PPT2007 & PPT2010.

[2015-06-15 11:11] Progi1984 commented on #98
@sarjeet-singh Actually, no.

It's a complex thing to transform HTML in PowerPoint. There is no similarity between two structures. With PHPWord, you can transform in document, but no in presentations.

[2015-06-15 11:11] #98 closed

[2015-06-15 11:32] Progi1984 commented on #86
@nekrozon Could you give us some feedback from your double check ? Thanks

[2015-06-15 15:16] Stephen-Hazel commented on #99
Sorry, I kinda gave up on that route.
I'm just using phppowerpoint as kind of a "canvas" that I can put dot, lines and images on.
I have slightly better graphing functionality now (that doesn't follow the API phppp has).
So I think I'll just close that out?
Hopefully that's ok?

[2015-06-15 15:16] #99 closed

[2015-06-15 15:21] Progi1984 commented on #99
@Stephen-Hazel Thanks for your answer. Don't hesitate to add a pull request for improving the API and add/correct functionnality. I'm open to discuss.

[2015-06-15 15:32] dami95 commented on #89
Similar problem in PowerPoint For Mac 2011 (version 14.0).

[2015-06-15 15:34] dami95 commented on #89
![zrzut ekranu 2015-06-15 o 17 33 40](https://cloud.githubusercontent.com/assets/724522/8163648/cdb852f8-1384-11e5-948f-f28a61730fdd.png)

[2015-06-15 15:35] Progi1984 commented on #89
@dami95 could you give us a file (simple) generated with PowerPoint For Mac 2011 (version 14.0) ?
I need it to analyze differences between PPT2007 & PPT2010.

[2015-06-15 15:36] dami95 opened #104 "Change width of cell"
Is any possible to change width of cell in table?

![zrzut ekranu 2015-06-15 o 17 35 37](https://cloud.githubusercontent.com/assets/724522/8163683/f9f55a00-1384-11e5-8bea-cccca794bf8d.png)

[2015-06-15 15:42] dami95 opened #105 "Some charts improvments"
I need some new things to use in my project, it's any possible to implement it?
1) Maximum value of axis (e.g. 100) - screen 1
2) Additional right axis - screen 1
3) stacked bar - screen 2

![zrzut ekranu 2015-06-15 o 17 41 10](https://cloud.githubusercontent.com/assets/724522/8163835/bfaa8e0a-1385-11e5-8a84-789ce5c8dced.png)
![zrzut ekranu 2015-06-15 o 17 41 57](https://cloud.githubusercontent.co

[2015-06-15 15:46] dami95 commented on #89
No problem http://grab.by/I4Ko :)

[2015-06-15 15:54] chuebert commented on #89
no i dont have solve the problem with repair. Do you need the file?

[2015-06-16 06:27] Progi1984 commented on #89
@chuebert I need the file with need of repair, and I need a sample file (with nearly same content) generated by PPT2010.

@dami95 It is the file generated or the file with error ?

[2015-06-16 09:37] chuebert commented on #89
File that needs repair:
https://dl.dropboxusercontent.com/u/6242507/needs%20repaur.pptx

[2015-06-16 10:55] Progi1984 commented on #89
@chuebert Thanks for the corrupted. But it's a huge file (hard to find the error). Have you got a short presentation (max. 3 slides) with the problem ? Could you send a sample file (with no error) generated by PPT2010, too ?

[2015-06-16 11:22] chuebert commented on #89
generated file, not repaired:
https://dl.dropboxusercontent.com/u/6242507/powerpoint/with%20repair%20error.pptx

repaired with office 2010:
https://dl.dropboxusercontent.com/u/6242507/powerpoint/already%20repaired.pptx

[2015-06-16 21:35] fregge commented on #42
Hi, sorry for my late response! It works for me, so I think the issue can be closed now.

[2015-06-16 21:35] #42 closed

[2015-06-17 05:59] Progi1984 commented on #42
@fregge Thanks for your response. Good news :)

[2015-06-17 10:55] Progi1984 commented on #89
@chuebert Could you do some Tests ?

Number 1 :
src/PhpPowerpoint/Writer/PowerPoint2007/Slide.php line 870 Replace by :
[code]
Number 2 :
src/PhpPowerpoint/Writer/PowerPoint2007/Slide.php line 510 & 1021 Replace by :
[code]
Number 3:
src/PhpPowerpoint/Writer/PowerPoint2007/Slide.php line 850 Replace by :

[code]

[2015-06-17 11:02] dami95 commented on #105
@Progi1984 Now It's any possible to display percent values on axis chart?

[2015-06-17 11:05] Progi1984 commented on #105
@dami95 I don't believe it's in the library.

[2015-06-17 19:29] rjakes commented on #89
I'm seeing the same problem with Mac PP 2011. For whatever it's worth, the exact same file opens without problem on Mac PP 2008 and Win PP 2007. I'm happy to help test and debug, if needed.

[2015-06-18 10:46] Progi1984 commented on #89
@rjakes Thanks for your help... We need to find what MacPP2011 doens't like in our PPTX file.

So  can you test my previous comment ?

[2015-06-22 08:22] Devintelligence opened #106 "Reading PPT"
Hi i always get an error while reading a ppt

Uncaught exception 'Exception' with message 'File PowerPoint 97 in error (Location : RTSlide > drawing > rh)

The ppt is saved from a pptx

[2015-06-22 10:55] Progi1984 commented on #106
@Devintelligence Could you give us the link for working on it ? Without that, it can't be possible.

[2015-06-22 11:07] Progi1984 commented on #81
I work on it...

[2015-06-22 11:33] Progi1984 commented on #81
@nynka Fixed in develop branch. Could you test it and give us your feedback ? (Sample 11 is a sample with RichText and shadow)

[2015-06-22 11:50] Progi1984 commented on #84
@chuebert I just pushed on develop branch. Now, you have a sample with a Text Run with differents styles in it. Is it ok for you ?

[2015-06-23 13:58] jrking4 opened #107 "Chart Options Not Working As Expected"
When creating a chart a few items are not working properly. I am experiencing these when saving as a PPT2007.
~~-Chart Series - Fill Color has no effect. Always defaults to default blue color~~
~~-Chart Series - setShowPercentage function has no effect. It always shows count regardless of setting~~
-Chart Title - Chart title is always visible. calling "$shape->getTitle()->setVisible( false )" has

[2015-06-23 17:06] jrking4 commented on #105
@dami95 I added a pull request for a grouping option on bar charts.  This would give you the stacked percentage you are looking for.

[2015-06-23 18:15] dami95 commented on #105
I will check it, thanks!

[2015-06-24 13:45] Progi1984 commented on #93
@chuebert Just pushed on the develop branch in the Sample 04 - Table an improvement of the sample.

In the cell C3, you have two links in a cell.

Ok for you ?

[2015-06-24 13:56] Progi1984 commented on #91
@Gyzmoo Thanks for the bug report

Have you got a sample code for testing this ? Which writer do you use ?
I don't reproduce it.

May be the last version of the develop branch fix this issue. Could you test it ?

[2015-06-24 15:02] Progi1984 commented on #104
@dami95 I just added the documentation.

http://phppowerpoint.readthedocs.org/en/develop/shapes_table.html#define-the-width-of-a-cell

[2015-06-24 15:23] dami95 commented on #104
Thank you :)

[2015-06-24 15:28] Progi1984 commented on #104
@dami95 No, you must define all or any.

[2015-06-25 05:59] Progi1984 commented on #104
@dami95 Ok for you ?

[2015-06-25 08:51] rocity commented on #100
I've got the same problem.  Using powerpoint 2007

[2015-06-25 08:57] domondon1 commented on #100
also me,,im using the 2007 microsoft powerpoint and i got the same pop up
error,please reply

On Wed, Jun 24, 2015 at 8:51 PM, Kevin Paul Kalis <notifications@github.com>
wrote:

[2015-06-25 09:25] Evergreenn commented on #100
Hi, check all your fields, Microsoft Office don't like empty text field. I works for me..

[2015-06-25 09:33] rocity commented on #100
ohh i see. i will try your suggestion.

[2015-06-25 09:36] dami95 commented on #104
Yes, it's working. Thank you!

[2015-06-25 10:00] rocity commented on #100
@Evergreenn still doesn't work.. im still getting erros when opening the power point

[2015-06-25 11:14] Evergreenn commented on #100
Hmm.. maybe a picture not found ?

[2015-06-26 00:33] domondon1 commented on #100
@Evergreenn what version are you using phppowerpoint?

On Wed, Jun 24, 2015 at 11:14 PM, Evergreenn <notifications@github.com>
wrote:

[2015-06-26 06:56] #104 closed

[2015-06-26 08:12] imredcat opened #109 "How can I convert ppt to html"
Title is all!!
I need more example. T^T

[2015-06-26 08:31] Progi1984 commented on #109
@imredcat At the moment, there is no way.

You can read a PPT with PowerPoint97 Reader. But there is not HTML Writer.

[2015-06-26 09:28] imredcat commented on #109
I understand this library is cannot convert ppt to html code.
I ask more.
Can I get text of PPT contents?
Can I display PPT contents on web browser? after read ppt file.

[2015-06-26 09:35] Progi1984 commented on #109
@imredcat You can browse your PPT.

You can [get all slides](http://phpoffice.github.io/PHPPowerPoint/docs/develop/classes/PhpOffice.PhpPowerpoint.PhpPowerpoint.html#method_getAllSlides). And for each slide, you can [get all shapes](http://phpoffice.github.io/PHPPowerPoint/docs/develop/classes/PhpOffice.PhpPowerpoint.Slide.html#method_getShapeCollection).

After that, for each one, you can get all

[2015-06-26 11:07] Progi1984 commented on #100
@domondon1 @Evergreenn @rocity Could you look at this comment : https://github.com/PHPOffice/PHPPowerPoint/issues/89#issuecomment-112753091 ? And give me some feedback. Thanks :)

[2015-06-26 11:11] Progi1984 commented on #81
@nynka Ok for you ?

[2015-06-26 11:30] nynka commented on #81
I'll check and get back to you. Thanks!
Den 26 jun 2015 13:12 skrev "Progi1984" <notifications@github.com>:

[2015-06-26 11:45] Progi1984 commented on #81
@nynka Thanks :)

[2015-06-27 18:08] Progi1984 commented on #105
@dami95 Could you give us a sample file with the chart in your first screen ?

I need to work on this file. Thanks.

[2015-06-28 10:57] Progi1984 commented on #105
@dami95 For the third point, the documentation is done about the @jrking4 implementation : http://phppowerpoint.readthedocs.org/en/develop/shapes_chart.html#stacking

[2015-06-28 11:01] #109 closed

[2015-06-28 22:18] dami95 commented on #105
@Progi1984 screens come from SVG charts.
Do you need this in PPT?

[2015-06-29 03:01] imredcat opened #110 "Load error with ppt file."
This is my code but get error.

ERROR :

So I changed Shared/OLERead.php to Common/src/Common/Microsoft/OLERead.php
I get error such follow

How Can I load ppt(x) files?
Please give my the way! TT
I use 0.3.0 version and requirement check is all passed,
php ver 5.3

[2015-06-29 05:32] Progi1984 commented on #105
@dami95 Yes, please.

[2015-06-29 06:42] Progi1984 commented on #110
@imredcat

For reading PPT files,

[code]

If you have errors for reading your PPT file, could you send us ?

For reading PPTX files,
there is no reader for the moment : it's on the pipe (#44).

[2015-06-29 07:01] imredcat commented on #110
Ok Thank you.
How can I send the ppt file to you?

[2015-06-29 07:11] Progi1984 commented on #110
@imredcat Dropbox, or any file sharing systems

[2015-06-29 07:21] imredcat commented on #110
@Progi1984
Here the ppt file.
https://www.dropbox.com/s/8cwnxb1eid7lh8b/test.ppt?dl=0
Please fix it.

[2015-06-29 09:08] nynka commented on #81
@Progi1984 It seems like we're getting shadow on all texts now.

[2015-06-29 10:35] Progi1984 commented on #81
@nynka That should be fixed... Could you test again ?

[2015-06-29 10:40] nynka commented on #81
@Progi1984 Yup it's working fine now. Thanks! :)

[2015-06-29 10:40] Progi1984 commented on #81
@nynka Thanks ;)

[2015-06-29 10:40] #81 closed

[2015-06-29 14:07] jrking4 commented on #107
I fixed the two Chart Series bugs with my PR. The chart title bugs, I never got a chance to debug and troubleshoot.

[2015-07-01 12:06] Progi1984 commented on #110
@imredcat Fixed in the develop branch ;)

[2015-07-02 14:34] Progi1984 commented on #107
@jrking4 So the first two bugs are ok with the develop branch ?

Could you give two sample code (the most simplest) for the two last bugs ? And a screenshot of the expected rendering ? Thanks

[2015-07-02 14:35] Progi1984 commented on #105
@dami95 Some news ?

[2015-07-02 17:15] dami95 commented on #105
Hm... I can't see that setting in PPTX...

[2015-07-02 17:49] Progi1984 commented on #105
So first and second points are not available in PowerPoint ?

[2015-07-02 17:57] dami95 commented on #105
Yep :/

[2015-07-02 18:06] Progi1984 commented on #105
@dami95 I close it, so. If you find the way for enabling two first points, I will be ok for implementing these in PHPPowerpoint.

[2015-07-02 18:06] #105 closed

[2015-07-03 06:18] #110 closed

[2015-07-03 11:46] Progi1984 commented on #78
The documentation is upgrated to each question, enhancement and bugfix.

[2015-07-03 11:46] #78 closed

[2015-07-03 11:53] Progi1984 commented on #107
@jrking4 The third point seems to be fixed in develop branch. Could you confirm ?

I think that fixes the 4rd issue. Could you test it ? Else could you give us a sample code and a screenshot of the actual & expected rendering ?

[2015-07-06 06:59] Progi1984 commented on #107
@jrking4 Some news ?

[2015-07-06 12:53] jrking4 commented on #107
Looks like the issue is fixed in the latest branch.  Thanks :+1:

[2015-07-06 12:53] #107 closed

[2015-07-06 13:01] Progi1984 commented on #107
@jrking4 Cool...

[2015-07-06 14:29] Progi1984 opened #111 "Implement PSR-3 Logger"
- http://php-and-symfony.matthiasnoback.nl/2014/10/composer-provide-and-dependency-inversion/
- https://devedge.wordpress.com/2014/09/27/
- http://book.cakephp.org/3.0/fr/core-libraries/logging.html
- http://www.sitepoint.com/implementing-psr-3-with-log4php/

[2015-07-07 10:22] Progi1984 commented on #106
@Devintelligence PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:22] Progi1984 commented on #100
@domondon1 @Evergreenn @rocity PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:22] Progi1984 commented on #93
@chuebert PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:22] Progi1984 commented on #91
@Gyzmoo PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:23] Progi1984 commented on #90
@manikrds PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:23] Progi1984 commented on #89
@rjakes @chuebert @dami95 PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:23] Progi1984 commented on #86
@nekrozon PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:23] Progi1984 commented on #85
@GavinMcL PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:23] Progi1984 commented on #84
@chuebert PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:24] Progi1984 commented on #83
@JewrassicPark PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:24] chuebert commented on #93
Sry, i have no time at the moment but have saved your issues to check it
if i find time.

Am 07.07.2015 um 12:22 schrieb Progi1984:

--

Mit freundlichen Grüßen,

Christoph Hübert
Entwickler

Katharinenstraße 47 | 49078 Osnabrück

E-Mail: c.huebert@garmanzky.com
Web: www.garmanzky.com
Mobil: 017630651151

Folgen Sie uns auch auf:

https://www.facebook.com/Agentur.Online.Kommunikation
https://twitt

[2015-07-07 10:24] Progi1984 commented on #55
@rdoepke PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:24] Progi1984 commented on #52
@fabianoleo PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:24] Progi1984 commented on #9
@fbenothman PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:24] Progi1984 commented on #7
@ed1023 PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 10:24] Progi1984 commented on #5
@lejuraco PHPPowerPoint 0.4.0 has been released. I would like to solve your issue for 0.5.0. Could you answer to my question ?

[2015-07-07 11:58] Progi1984 opened #113 "ODPresentation Reader"

[2015-07-07 12:27] nekrozon commented on #86
Sure what's your question?

[2015-07-07 13:07] Progi1984 commented on #86
@nekrozon Have you got always the problem with the develop branch for PPTX files on iOS ?

[2015-07-07 14:09] nekrozon commented on #86
When I came across your project and tested it did not work. I developed my own solution following a different route. Thanks!!

[2015-07-07 15:10] Progi1984 commented on #86
Okay. Thanks. Bye.

[2015-07-07 15:10] #86 closed

[2015-07-08 09:10] zanj2006 opened #114 "Getting Started example doesn't work..."
Hi,

the example on page https://github.com/PHPOffice/PHPPowerPoint doesn't work... Still getting error like this:
**Fatal error: Class 'PhpPowerpoint' not found in C:\projects\i\p\vendor\phpoffice\phppowerpoint\index.php on line 5**

When I add name space prefix for: **$objPHPPowerPoint = new PhpPowerpoint();** like
**$objPHPPowerPoint = new \PhpOffice\PhpPowerpoint\PhpPowerpoint();**

I'll get a

[2015-07-08 11:12] Progi1984 commented on #25
... WIP ...

[2015-07-08 12:09] Progi1984 commented on #25
... DONE...

A link to FAQ for explaining the change : http://phppowerpoint.readthedocs.org/en/develop/faq.html#why-phppowerpoint-become-phppresentation

ToDo Release :
- [ ] After push to master, rename the repository
- [ ] Check ReadTheDocs @readthedocs
- [ ] Check Packagist @packagist
- [ ] Check Scrutinizer-CI @scrutinizer-ci
- [ ] Check Gitter @gitterHQ
- [ ] Check Documentation generation

[2015-07-08 12:15] Progi1984 commented on #114
@zanj2006 Have you included PHPPowerPoint source with composer or manually : http://phppowerpoint.readthedocs.org/en/master/installing.html#installation ?

[2015-07-08 12:44] zanj2006 commented on #114
With composer...
IMHO there is a problem with autoloader or some misuse of namespace (missing USE keyword)

[2015-07-08 12:54] Progi1984 commented on #114
Which version do you use ?
* dev-master
* dev-develop
* 0.4.0
* 0.2.0

Reference : https://packagist.org/packages/phpoffice/phppowerpoint

[2015-07-08 13:05] zanj2006 commented on #114
0.4.0

For instalation I used composer.json:

{
    "require": {
       "phpoffice/phppowerpoint": "dev-master"
    }
}

index.php:
<?php
require_once 'src/PhpPowerpoint/Autoloader.php';
\PhpOffice\PhpPowerpoint\Autoloader::register();

$objPHPPowerPoint = new PhpPowerpoint();

// Create slide
$currentSlide = $objPHPPowerPoint->getActiveSlide();
...

[2015-07-09 11:45] Progi1984 commented on #114
@zanj2006 If you use composer, you need to include its autoloader and no, the autoloader of PhpPowerpoint.

[2015-07-09 15:12] zanj2006 commented on #114
So now solved... There were two points...

1. Composer Autoloader was needed to incorporate - but it was not enough...
2. Aliasing of used Classes is at least as important... So making your example to be working I had to add after the autoload:

<?php
require_once 'vendor/autoload.php';

use PhpOffice\PhpPowerpoint\PhpPowerpoint;
use PhpOffice\PhpPowerpoint\IOFactory;
use PhpOffice\PhpPowerpoint\S

[2015-07-09 17:21] JewrassicPark commented on #83
Sorry my job doesn't afford me a lot of chances to work on the phpowerpoint code we use. I just ran two tests. Both with two slides. The first had notes only on the second slide, and that worked which goes against my previous findings. The second one had notes only on the first slide, this caused the powerpoint to either need to be repaired or just froze and crashed. Using office 2013.

[2015-07-10 10:29] Progi1984 commented on #114
@zanj2006 Thank you for your feedback. I just fixed the sample in Readme with your feedback in 98b9a3b0216fbe8cc5f67935b6e9b472f958c527.

[2015-07-10 10:32] Progi1984 opened #115 "Upgrade Travis CI config"
http://docs.travis-ci.com/user/migrating-from-legacy/

[2015-07-10 10:39] #114 closed

[2015-07-10 10:52] Progi1984 commented on #83
@JewrassicPark Thanks for your feedback

So this code could crash Office 2013 :
[code]

The file : https://www.dropbox.com/s/28sipncx8vr2e6k/83.pptx?dl=0
* No problem with LibreOffice
* Someone have the problem with Office 2007 / 2013 ?

[2015-07-11 00:25] domondon1 commented on #100
i have a question @Progi1984 I open the ppt file on microsoft powerpoint 2007 and its working fine,but when i open the ppt file on microsoft powerpoint 2010,there is a pop up saying "repair"

[2015-07-13 02:43] rocity commented on #100
Mine is a bit strange.  working on 2007 after applying what @Evergreenn  has told me it still doesn't fix the repair error in 2013.

[2015-07-13 08:08] Progi1984 commented on #100
@domondon1 Warning ! You talk about PPT file and not PPTX file.

@domondon1 @rocity Could you validate your files with [OpenXML Validator](http://tech.trailmax.info/2014/04/open-xml-sdk-tool-to-analyse-documents-and-generated-c-code/) ?
You can change the validator format.

![image](https://cloud.githubusercontent.com/assets/1533248/8645368/109e29e4-2947-11e5-80b4-7b1b6b0d47bb.png)

If errors, cou

[2015-07-13 21:55] rjakes commented on #89
I ran all three tests and got the same results - newer version of PP complain about the file.

[2015-07-15 06:12] Progi1984 commented on #89
@rjakes Could you send a sample file (with no error) generated by PPT2010, too ? Thanks :)

[2015-07-15 16:39] Progi1984 opened #116 "Feature: Comment"
OpenXML :
* https://msdn.microsoft.com/en-us/library/office/gg278330.aspx
* https://msdn.microsoft.com/fr-fr/library/office/gg278335.aspx
* http://openxmldeveloper.org/discussions/formats/f/15/t/317.aspx
* http://openxmldeveloper.org/blog/b/openxmldeveloper/archive/2007/07/29/1834.aspx

Open Document (office:annotation):
* http://docs.oasis-open.org/office/v1.2/os/OpenDocument-v1.2-os-part1.html#_

[2015-07-15 16:43] Progi1984 opened #117 "Feature: Geometric form"
- Support for AutoShape :
  - https://python-pptx.readthedocs.org/en/latest/user/quickstart.html#add-shape-example
  - https://python-pptx.readthedocs.org/en/latest/user/autoshapes.html
  - https://python-pptx.readthedocs.io/en/latest/dev/analysis/shp-autoshape.html
##

[2015-07-15 17:10] Progi1984 opened #118 "Mark as final"
OpenXML :
* http://codes-sources.commentcamarche.net/source/42100-marquer-un-document-openxml-en-tant-que-final

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24389376-mark-as-final?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.c

[2015-07-15 17:14] Progi1984 opened #119 "Protection with password"
http://www.aspose.com/docs/display/slidesnet/Saving%20a%20Presentation

[2015-07-15 17:15] Progi1984 opened #120 "Presentation with predefined View Type"
http://www.aspose.com/docs/display/slidesnet/Saving%20a%20Presentation

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24389669-presentation-with-predefined-view-type?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2015-07-15 17:17] Progi1984 opened #121 "Set name of a slide"
OpenDocument :
* draw:page draw:name="Ma Diapo"

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24389761-set-name-of-a-slide?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F323104&utm_m

[2015-07-15 20:15] Progi1984 opened #122 "Set default zoom value for presentation"
http://www.aspose.com/docs/display/slidesnet/Setting+Default+Zoom+Value+for+Presentation

* OpenXML (serverZoom) :
  * http://www.datypic.com/sc/ooxml/t-p_CT_Presentation.html

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24398203-set-default-zoom-value-for-presentation?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=is

[2015-07-15 20:16] Progi1984 opened #123 "Embed a video"
http://www.aspose.com/docs/display/slidesnet/Adding+an+Embedded+Video+Frame+to+Slide
https://support.office.com/en-us/article/Compatible-multimedia-file-formats-fe6b7fd4-629e-43a0-a7e2-0dd927dac56d

* OpenXML
  * https://msdn.microsoft.com/en-us/library/dd947021(v=office.12).aspx
* OpenDocument
  * http://ask.libreoffice.org/en/question/1898/how-to-embed-video-into-impress-presentation/
  * http:/

[2015-07-15 20:18] Progi1984 opened #124 "Manage connectors between shapes"
http://www.aspose.com/docs/display/slidesnet/Connecting+shapes+using+Connectors

[2015-07-20 09:05] Progi1984 opened #125 "Set Thumbnail file / Preview Picture"
* http://www.aspose.com/docs/display/slidesnet/Creating+Slides+Thumbnail+Image

* OpenXML
  * https://msdn.microsoft.com/en-us/library/dd721893(v=office.12).aspx

[code]

* OpenDocument
  * directory Thumbnails
  * https://en.wikipedia.org/wiki/OpenDocument_technical_specification#Thumbnails_.28directory.29
[code]

[2015-07-21 14:58] niklas-agethen opened #126 "XML Writer error"
When saving the generated PowerPoint-file, the following error occurs:

`PHP Fatal error:  Class 'PhpOffice\Common\XMLWriter' not found in ...\src\PhpPresentation\Writer\PowerPoint2007\AbstractPart.php on line 74`

Working with current version (0.4.0) in connection with XAMPP on Windows.
Version 0.3.0 is working fine.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](htt

[2015-07-22 10:31] Progi1984 commented on #126
@niklas-agethen You are not using 0.4.0 but the develop version. Normally, you should have the package PhpOffice\Common in version 0.2.0
[code]

[2015-07-22 10:52] #115 closed

[2015-07-22 11:13] Progi1984 commented on #44
@arbabi2010 A reader for PowerPoint 2007 has been added and it is available in develop branch. Could you test it ?

[2015-07-22 13:16] niklas-agethen commented on #126
Any way to make 0.4.0 work properly?
Need new features of that version (non 3D - pie chart).

[2015-07-24 07:41] Progi1984 commented on #126
@niklas-agethen The version 0.4.0 runs without problem. (https://travis-ci.org/PHPOffice/PHPPowerPoint/builds/69867965).

Could you show me your composer.json ? and the part of your code ? Please :)

[2015-07-26 18:30] kohloth opened #127 ""phpoffice/phppresentation": "dev-master""
"phpoffice/phppresentation": "dev-master" doesn't work as a composer require.

Problem 1
    - The requested package phpoffice/phppresentation could not be found in any version, there may be a typo in the package name.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24986718-phpoffice-phppresentation-dev-master?utm_campaign=plugin&ut

[2015-07-26 19:57] kohloth commented on #127
Does anyone know what the actual composer require directive is?

[2015-07-27 09:28] Progi1984 commented on #127
@kohloth

"phpoffice/phppresentation" is the next version of PHPPowerPoint (#25).

In the mean time, you can use "phpoffice/phppowerpoint".

[2015-07-29 05:53] shruti222patel opened #128 "Feature Not Implemented Error on Master"
I was trying out the example code: Sample_12_Reader_PowerPoint97.php when I received this exception:

[2015-07-29 05:50:38] local.ERROR: exception 'Exception' with message 'Feature not implemented (l.2044 : 0x88)' in /home/vagrant/projects/lela/vendor/phpoffice/phppowerpoint/src/PhpPowerpoint/Reader/PowerPoint97.php:2044

Stack trace:
#0 /home/vagrant/projects/lela/vendor/phpoffice/phppowerpoint/s

[2015-07-29 08:02] Progi1984 commented on #128
@shruti222patel Could you give us the version of PhpPowerpoint used and the file you try to read ? Thanks.

[2015-07-29 18:01] shruti222patel commented on #128
"phpoffice/common": ">=0.1",
"phpoffice/phppowerpoint": ">=0.4",

I was trying to read in a .ppt file. Would you like me to upload it?

[2015-08-03 11:40] #113 closed

[2015-08-03 11:47] Progi1984 commented on #128
@shruti222patel Is seems ok for the version.

Could you upload the file on [one of these services](https://en.wikipedia.org/wiki/Category:Email_attachment_replacements), please ?

[2015-08-03 11:50] Progi1984 commented on #44
@arbabi2010 No news. I close the issue.

[2015-08-03 11:50] #44 closed

[2015-08-06 13:39] vader88 opened #129 "Implement Gridlines"
I have not been able to find any way to add grid lines to my bar graph. I would like to add major grid lines and be able to set their color.

By the way I think all of these PHPOffice libraries are great. Keep up the good work.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25439818-implement-gridlines?utm_campaign=plugin&utm_conten

[2015-08-13 08:13] Peilun0912 opened #130 "How do I apply layout?"
I have a pptx file which has one slide master and one layout named "Title and picture". The "Title and picture" layout has two placeholders, one for text and another for image. How do I apply the "Title and picture" layout to my slide, and create text and drawing shapes in corresponding placeholders, is there a sample code?

I apologize for my poor english.

<bountysource-plugin>
---
Want to back

[2015-08-17 06:48] Peilun0912 commented on #130
The code of my example might be:

[code]

"Title and picture" layout has 2 placeholders as mentioned. I wonder if this library can allow me to edit the text of text placeholder and add the image to image placeholder.

[2015-08-20 15:24] shefik opened #131 "Remove .git directory from composer"
When running composer, the vendor library is created, but it includes a .git directory within phppowerpoint.

Please remove it.

[2015-08-20 17:00] RightHandedMonkey opened #132 "Intermittent Error "PowerPoint found a problem with content in the file"..."
Intermittently, on creation of a .pptx using the PHPPowerPoint library, I will get an error '"PowerPoint found a problem with content in the file' with the filename and a note:
PowerPoint can attempt to repair the file.  If you trust the source of this file, click Repair.

When I open the pptx contents in these files that request repair, I've found that the ppt/media folder is missing one of the i

[2015-08-20 18:23] shefik commented on #47
I am using version 0.4.0, and I am experiencing this error only on Chrome. It works fine Safari (Mac). The fixes outlined above are already applied in version 0.4.0, and the problem still persists.

[2015-08-31 10:47] Progi1984 commented on #132
Which version do you use ?

[2015-08-31 11:10] Progi1984 commented on #47
@shefik Have you seen all patches in the bug ?

[2015-08-31 14:33] RightHandedMonkey commented on #132
I think it is version 0.2.0 master.  I only have the source code in my project, so I'm not 100% sure.

[2015-08-31 14:41] Progi1984 commented on #132
PHPPowerPoint is actually in version 0.4. And this issue has been fixed in 0.3.

Source : https://github.com/PHPOffice/PHPPowerPoint/blob/403cffa7effccadef1cdf6e4dafb4dab9dc09d6a/CHANGELOG.md#030---2014-09-22

[2015-09-11 23:37] jqr108 commented on #129
To add to this, I was wondering if there are plans to add other customization features to graphs (no markers and smooth lines on line graphs for example). And is there a way to change the color/thickness of line graph line?

And yeah, to echo vader88, baller library here. Keep on rocking Progi.

[2015-09-15 17:02] jqr108 commented on #100
Hi @Progi1984 @domondon1 @rocity

Wanted to let you all know I ran into a similar issue. PPTX files needed repair, and but when repaired none of my charts would show up. I managed to fix this by checking out  the XML tool above. The issue I was having was, to paraphrase the XML tool (sorry can't copy from it):

"Invalid child element 'chart:strLit", only "chart:numLit' and 'chart:numRef' supported

[2015-10-02 18:37] jmanring opened #133 "Add Html to slide"
Can there be a new Html class with an addHtml function added? It looks like most of the work has been done in the PHPWord/Shared/Html.php file.

Thanks,
Jim M

[2015-10-07 10:17] alexrayu commented on #133
Subscribe. Need to create a presentation from website HTML. Thus need support for htmlobject in slides.

[2015-10-09 05:51] salil1987 commented on #127
Hello,
I had the same error "Problem 1
- The requested package phpoffice/phppresentation could not be found in any version, there may be a typo in the package name."

Then I used "phpoffice/phppowerpoint" but after the installation, your example shown on frontpage doesn't work, getting error that  "Fatal error: Class 'PhpPresentation' not found ".

[2015-10-12 11:15] websirnik opened #135 "Q: Split PPT into multiple?"
Trying to figure out if there is a way to split one PPT into multiple with PHPPresentation, where each slide is its own PPT file. If so how would I do that? It was not clear from the docs.

[2015-10-19 13:31] alexlavr commented on #127
I have this issue too

[code]

[code]

[2015-10-27 14:00] vinuf666 opened #136 "Where is the API docs for PHP Powerpoint?"
There used to be an API doc for PHPPresentation/powerpoint in Github. now it seems its not linked anymore. There are docs only for PHP Word ??

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27735808-where-is-the-api-docs-for-php-powerpoint?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We acc

[2015-10-30 07:51] Progi1984 commented on #127
@alexlavr @salil1987 Have you got always the problem ?

[2015-10-30 08:29] salil1987 commented on #127
It got solved somehow, and worked out well, now I have implemented the library into joomla as extension, you can create ppts and stuff.
Use "phpoffice/phppowerpoint" instead of "phpoffice/phppresentation"

[2015-10-30 08:54] #121 closed

[2015-10-30 16:37] #118 closed

[2015-10-30 16:45] #122 closed

[2015-11-02 08:27] przemoli opened #140 "getIndex not present on various clases?"
I have for example $somthing->setActiveSomethingElse($index);

How can I know proper $index of instance of SomethingElse? As far as I can find only $PHPPresentation have getIndex for slides, whereas nothing else have it!

[2015-11-06 02:22] Peilun0912 opened #141 "ODP Reader can't read odp file"
I use Sample_12_Reader_ODPresentation.php to read [my odp file](https://drive.google.com/file/d/0B6dDhi-BapK9cE1Ud1VyNUpOWVU/view?usp=sharing) and get the following result:

![screenclip](https://cloud.githubusercontent.com/assets/4880850/10987599/c93cef16-846f-11e5-9ec6-ecda6596e684.png)

My PHPPresentation version is 0.5.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it

[2015-11-06 02:52] #130 closed

[2015-11-06 03:12] pei-lun opened #142 "How can I get table shape from a slide?"
I can get shapes except table one via PhpOffice\PhpPresentation\Slide::getShapeCollection() from [this pptx file](https://drive.google.com/file/d/0B6dDhi-BapK9dUN5YmlMR0REQTA/view?usp=sharing). I wonder if table shape has to be retrieved in other way?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28016688-how-can-i-get-table-shape

[2015-11-06 15:47] tsanami69 opened #143 "Has anyone used addExternalSlide?"
I have the latest build working fine on my server, but I cannot figure out how to use addExternalSlide to load slides from single-slide presentations I have in a library...Could anyone please give an example of code to use this?
Thanks

[2015-11-09 11:43] tsanami69 opened #144 "getSlideLayout() always returns BLANK on any opened PPTX file"
I have tried this on numerous pptx files...
every file I open using:
[code]
$slideLayout always returns BLANK, but the same file when opened in PowerPoint 2010 has every slide with the correct layout.

Is this a bug or a known issues?
Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28090739-getslidelayout-always-returns-blank-

[2015-11-12 19:10] Progi1984 commented on #136
You can access to :
* Documentation : http://phppowerpoint.readthedocs.org/en/latest/
* PHPDoc : http://phpoffice.github.io/PHPPresentation/docs/master/

Anything else ?

[2015-11-12 22:28] Progi1984 commented on #141
@Peilun0912 Could you test this pull request ?

[2015-11-13 02:46] Peilun0912 commented on #141
@Progi1984 It works! But the result page doesn't show content of RichText, I'm not sure if this is another bug yet.

The result page reading a pptx file the structure of which is similar to odp file can shows content of RichText:

![ppt2007](https://cloud.githubusercontent.com/assets/4880850/11137546/a809f76a-89f3-11e5-9352-161d9d6df525.png)

And this is the result page of odp file:

![odp](https:

[2015-11-13 23:09] Progi1984 commented on #141
@Peilun0912 I corrected this. Could you test this pull request ?

[2015-11-14 08:25] Progi1984 commented on #127
@alexlavr @salil1987

I just try this command :
[code]
or this one :

[code]

[code]

And ok, no problem.

After that, I try this code :
[code]

And it was ok.

Have you all ok ?

[2015-11-15 02:27] Peilun0912 commented on #141
@Progi1984 Tested and the page shows properties of RichText successful.

[2015-11-15 15:34] #141 closed

[2015-11-15 17:37] Progi1984 commented on #144
@tsanami69 Could you test the PR #147 ?

[2015-11-16 12:10] tsanami69 commented on #144
Thank you for this.
OK, I've updated the revised files and ran a test...
It now gets the slide layouts BUT seems to return Blank when a slide has a 'Title Only' layout

[2015-11-16 12:58] Progi1984 commented on #144
@tsanami69 Could you link the file for test ?

[2015-11-16 13:04] tsanami69 commented on #144
This is the file I'm extracting slides from: www.e-magineda.co.uk/PHPPresentation/myTest/slides/CV8.pptx

This is the file I'm using as the template: www.e-magineda.co.uk/PHPPresentation/myTest/slides/design.pptx

This is the resulting/compiled file: www.e-magineda.co.uk/PHPPresentation/myTest/created/compiled13_02_31.pptx

[2015-11-16 14:31] Nedobr commented on #126
Hello! I have this problem too! Mac OS El Captain, Apache/2.4.16, PHP 5.5.29

Composer:
{
    "require": {
        "phpoffice/phppresentation": "0.5.*"
    }
}

Code: Sample 01 Complex (as is)

[2015-11-16 14:38] Progi1984 commented on #126
@Nedobr Could you see the #127  ?

[2015-11-16 14:55] Nedobr commented on #126
Thank you!
But I resolved this problem: chmod -R 777 path/to/vendor/phpoffice

[2015-11-16 15:23] Progi1984 commented on #126
@niklas-agethen Have you always got the same problem ?

[2015-11-16 15:40] Nedobr commented on #126
@Progi1984 sorry, I'm confused! This problem has not been solved! In 127 using Composer (include 'vendor/autoload.php';), but i can't use it. Can i use PHPPresentation without Composer?

This code in Sample_Header:
use PhpOffice\PhpPresentation\Autoloader;
use PhpOffice\PhpPresentation\Settings;
use PhpOffice\PhpPresentation\IOFactory;
use PhpOffice\PhpPresentation\Slide;
use PhpOffice\PhpPresenta

[2015-11-17 08:21] Nedobr commented on #126
@Progi1984
I downloaded PhpOffice Lib and added this rows in Sample_header PhpPresentation:

require_once __DIR__ . '/../../Common/src/Common/Autoloader.php';
PhpOffice\Common\Autoloader::register();

And problem has resolved.

[2015-11-17 19:48] jeywinlizy opened #148 "Read PPT using PHPPresentation's PowerPoint2007"
I am using PHPresentation to read a pptx file and dynamically add new slides to it and download the final pptx file.
When I am reading PowerPoint 2010\2013 I encounter issues

Any text read from the pptx (2010\2013)
                     either vanishes away or the font becomes smaller.
                     the text or image does not stay in the same location as in the pptx read from

I debugged an

[2015-11-18 10:32] Progi1984 commented on #148
@jeywinlizy Could you give us your file ? and add a report for each value which is not well read from the PPTX Reader ? We will improve the reader point after point. Ok ?

[2015-11-18 20:08] jeywinlizy commented on #148
Hi

Thanks for response.

I am attaching 2 pptx (V 2013)  FILES

-->   One is the original file which the PhpOffice\PhpPresenattaion raeds from

-->   Second one is the generated ppt after reading via PhpOffice\PhpPresenattaion and written as pptx file via PhpOffice\PhpPresenattaion

Here some of the Text\Images is displayed as read from the PPT.

But some are not  : any text\shapes drawn from the

[2015-11-19 13:01] jeywinlizy commented on #148
Sorry, I didn’t get you.

What do refer as

Embed screens & files

Regards

T.Jeywin Lizy

From: Progi1984 [mailto:notifications@github.com]
Sent: Thursday, November 19, 2015 3:07 AM
To: PHPOffice/PHPPresentation <PHPPresentation@noreply.github.com>
Cc: jeywinlizy <jeywin.l@elpisitsolutions.com>
Subject: Re: [PHPPresentation] Read PPT using PHPPresentation's PowerPoint2007 (#148)

It seems that yo

[2015-11-19 14:13] Progi1984 commented on #148
The same ! Write your comment directly in your browser and drag'n'drop your images.

[2015-11-19 16:22] Progi1984 commented on #148
Or sens me a mail to my nickname at gmail dot com.

[2015-11-20 04:12] jeywinlizy commented on #148
Hi

Thanks for response.

I am attaching 2 pptx (V 2013)  FILES

-->   One is the original file which the PhpOffice\PhpPresenattaion raeds
from

-->   Second one is the generated ppt after reading via
PhpOffice\PhpPresenattaion and written as pptx file via
PhpOffice\PhpPresenattaion

Here some of the Text\Images is displayed as read from the PPT.

But some are not  : any text\shapes drawn from the

[2015-11-20 04:34] jeywinlizy commented on #148
I have attached 2 pptx (V 2013)  FILES
   One is the original file which the PhpOffice\PhpPresenattaion raeds from
   Second one is the generated ppt after reading via PhpOffice\PhpPresenattaion and written as pptx file via PhpOffice\PhpPresenattaion

[PPT_Gebnerated_After_Read_Using_PHPOffice_And_Write_Via_PHPOffice.pptx](https://github.com/PHPOffice/PHPPresentation/files/39743/PPT_Gebnerated_A

[2015-11-20 13:50] steve30000 commented on #89
I am having the Require Repair issue as well when opening with Powerpoint 2011 for Mac. I am attaching two small files for comparison. One is the original Powerpoint generated by PHPPresentation and the second is the Powerpoint file after it has been repaired.  Thanks.
[simple_report_repaired.pptx](https://github.com/PHPOffice/PHPPresentation/files/40086/simple_report_repaired.pptx)
[simple_report

[2015-11-20 22:56] Progi1984 commented on #89
@steve30000 Hi, could you test some things :

In src/PhpPresentation/Writer/PowerPoint2007/LayoutPack/PackDefault.php, could you replace :
```<a:t>?#?</a:t> ``` par ```<a:t><#></a:t> ``` ?

[2015-11-20 23:31] Progi1984 commented on #144
@tsanami69 I try to read CV8.pptx with the Sample 12 (PowerPoint2007). I have not found any slide with template "Blank" or "Title Only", just only Layout::TWO_CONTENT & Layout::TITLE_AND_CONTENT & Layout::COMPARISON, and so on.

Could you give me the number of slide, the expected value of template and the returned value ?

[2015-11-20 23:33] Progi1984 commented on #126
Perfect. I have not understand that you have downloaded directly from GIthub.

[2015-11-20 23:33] #126 closed

[2015-11-21 11:37] adebruyn commented on #89
Hi. I did the modification, but now the PowerPoint file needs to be repaired for the PC version. I've attached simple reports files before and after modification. Not sure it solves the isse for Mac, but it clearly creates a new issue for PC. Thanks for your quick response, though.
[report_after_modif.pptx](https://github.com/PHPOffice/PHPPresentation/files/40801/report_after_modif.pptx)
[report_b

[2015-11-21 15:34] steve30000 commented on #89
It did not solve the issue for the Mac either. Same error message as before about having to remove unreadable content:
![screen shot 2015-11-21 at 10 31 22 am](https://cloud.githubusercontent.com/assets/15943095/11319167/5f40e4c8-903b-11e5-96e4-44c06febbdc8.png)

[2015-11-21 23:09] Nedobr opened #149 "Coordinates of TableShape with variable text"
How to find the coordinates of the lower border of the TableShape. I don't know height of table.
I want to post another shape under the TableShape, what OffsetY I need set for second shape?

[2015-11-23 16:13] tsanami69 commented on #144
Hi,
CV8.pptx is the origin file that I used to insert slides into the complied13_02_31.pptx.
If you take slide 2 in CV8 the layout is Title Only, but when it's inserted into the compiled file it becomes Two Content...

[2015-11-23 20:49] wowpages commented on #127
The Getting Started example (https://github.com/PHPOffice/PHPPresentation) includes this line:

     use PhpOffice\PhpPresentation\PhpPowerpoint;

but that generates an error: Fatal error: Class 'PhpPresentation' not found...

The line in the example should be:

     use PhpOffice\PhpPresentation\PhpPresentation;

[2015-11-24 14:41] Progi1984 commented on #144
**Note for me :** Use code from PhpPresentation/Writer/PowerPoint2007/LayoutPack/TemplateBased.php for extracting layouts and not use the PackDefault

[2015-11-24 14:41] Progi1984 commented on #127
**Note for me :** Improve documentation and search "PhpPowerpoint" in all the repository

[2015-11-25 06:40] ziwar opened #150 "Saving a presentation is not copying styles or layouts"
If you try to load a presentation that was created in powerpoint or exported from keynote and then save it again without even doing anything, the file will lose styles and layouts:

[code]
before:
<img width="967" alt="screen shot 2015-11-25 at 10 38 03 am" src="https://cloud.githubusercontent.com/assets/305735/11390166/b74a66d0-9360-11e5-84fc-2233d38068b4.png">

after:

<img width="970" alt="scre

[2015-11-25 16:53] jmanring opened #151 "Combining multiple presentations"
I have a project that I am working on where we want to pull select slides from several presentation decks and put them in a new deck. It seems like it shouldn't be hard to do by using the getSlide(#) method from the source deck and putting it in the target deck but I don't see a way to add the slide object. It would also be nice to be able to manipulate the slide object before adding it. Anyone ha

[2015-11-26 05:25] jeywinlizy commented on #148
Only that text written directly to the slide doesn't appear with same fint\color
But adding text to the slide by clicking
                                 Insert -->Add Text Box
and writing any text into it works.
 i.e. any text added via AddTextBox from menu is correctly read by the PHPOffice & written perfectly via PHPOffice .
___________

But we still have issues in reading shapes drawn in PPT

[2015-11-26 17:00] tsanami69 commented on #144
OK, I tried that and YES it is now picking up the correct Layouts...
Next issue is formatting of content is not correct from the slide master (font sizes etc).
Thanks for your help

[2015-11-26 17:01] tsanami69 commented on #150
I am having the same issue...

[2015-12-01 19:40] jmanring commented on #150
I'm seeing the same thing. Looking at the slide xml from the input file and comparing it with what is on the output you'll see all the layout and theming is gone.

[2015-12-03 19:00] Tchesco101 opened #152 "How can get the background color of the slide ?"
I'm trying to get the background color of the slide without success , how can I get him in rgb ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28827955-how-can-get-the-background-color-of-the-slide?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://w

[2015-12-04 14:12] Tchesco101 commented on #144
I am having the same problem as the code would be in this case?

[2015-12-04 22:34] bgetkin opened #153 "Maintain aspect ratio?"
I am successfully loading an existing pptx file that has an aspect ratio of 16:9, adding text elements to it then writing to a new pptx file. However, the new file has an aspect ratio of 4:3.  Is there a way to define the ratio for the new file, or set it to maintain original, that I'm not finding.?

Code:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://

[2015-12-05 04:13] pickupman opened #154 "Allow Loop Continuously to be set to true"
PowerPoint 2007 file format can be played continuously with the following code added to Writer/PowerPoint2007/PptsProps.php at Line 44 adding:

[code]

This adds a p:showPr child element to p:presentationPr that allows the slideshow to keep playing until [Esc] is pressed.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28871541-allow

[2015-12-05 07:51] Progi1984 commented on #152
Code:
http://www.officeopenxml.com/prSlide-background.php

[2015-12-06 03:42] hxsam commented on #148
我下载我找不到用浏览器直接显示ppt的例子，只有一个树：
samples/Sample_12_Reader_PowerPoint2007.php，
当我访问 http://phppresentation.readthedocs.org/en/develop/，报错：不存在！

[2015-12-07 14:08] Tchesco101 commented on #152
Thanks for answering! So really there is no ready function PhpPresentation library that returns me the data background , correct? I create starting of the data you send me the link . Correct?

[2015-12-08 01:25] muhzak opened #155 "Serializing a table fails"
PHP Fatal error:  Call to undefined method PhpOffice\\PhpPresentation\\Shape\\Table::getFilename()

Slides that have tables will not serialize.

[2015-12-09 15:56] Progi1984 commented on #154
Note for Libreoffice Impress users : https://ask.libreoffice.org/en/question/92/loop-an-impress-presentation/

OpenXML :
* http://www.datypic.com/sc/ooxml/e-p_showPr-1.html

OpenDocument :
* http://docs.oasis-open.org/office/v1.2/os/OpenDocument-v1.2-os-part1.html#attribute-presentation_endless

[code]

@pickupman Could you give a screenshot of Powerpoint for defining the slideshow endless ? Can y

[2015-12-09 16:07] pickupman commented on #154
@Progi1984 here is a screenshot from PowerPoint 2007. You only have the option to loop continously. No option to set a delay/pause between presentations.

![clipboard01](https://cloud.githubusercontent.com/assets/1220279/11690483/cd31e05e-9e64-11e5-9b8f-920d1b12f914.jpg)

[2015-12-10 16:06] Progi1984 commented on #144
@tsanami69 I have not yet developed the complete feature ? What have you done ?

[2015-12-10 16:25] eposjk commented on #143
[code]

At least for now (2015) - don't expect it to copy slidemasters.
But it might work for very simple presentations.

[2015-12-10 21:29] pickupman commented on #154
Here is the element for the ODPresentation Writer class in Content.php at line 302:
[code]

[2015-12-10 21:45] RightHandedMonkey commented on #100
Question: Were you getting this issue intermittently?

I don't see how this could be the same as my issue because sometimes I'll get the error and but most times I won't.  I'm having issues where the same code being output the majority of the time works, but some times the corrupt file message occurs and I'll have a missing image or a missing slide.

Here is my issue:
https://github.com/PHPOffice/

[2015-12-17 04:32] jeywinlizy commented on #148
### Unable to read any Shapes drawn in pptx files.
The code does not handle any shapes drawn.
On analysis of the code there are only statements which handle
  1.  any text including its font and
  2. images\pictures

Is it possible to have the code handling shapes too - atleast the basic shapes like Circle,Oval,Square,Arc...

[2015-12-17 23:04] developerMediaXray opened #156 "Customizing the line charts"
How do I customize the lines on the line charts?
I would like to change the colors of the lines and also get rid of the square markers on the lines.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29223530-customizing-the-line-charts?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bou

[2015-12-21 17:06] clubdesarrolladores commented on #150
Same here! please resolve at soon as possible, thanks!

[2015-12-21 22:44] Progi1984 commented on #144
@tsanami69 I updated the PR #147. Could you test it ?

[2015-12-22 08:44] Progi1984 commented on #150
May be the issue #144 and its pull request would help you...

[2015-12-22 13:54] jmanring commented on #150
Still not working. All my slides keep showing up with Blank layout.

[2015-12-27 10:44] Progi1984 commented on #154
@pickupman : Could you test the PR #157, please ? Thanks :)

[2016-01-02 12:53] Progi1984 commented on #154
@pickupman : Just fixed your request. Could you give me feedback, please :)

[2016-01-03 10:29] Progi1984 commented on #152
Linked to the PR #158

@Tchesco101 Could you test the PR #158 ?

I added a reader and writer for PowerPoint2007 & OpenDocument.

You can set and get Color & Image Backgrounds.
Look at the Sample 15 for the implementation.
Samples 12 has been improved for displaying background in the tree.
Thank you for your feedback.

Documentation & Unit test come after your validation. Thanks in advance.

[2016-01-03 20:59] Progi1984 commented on #153
@bgetkin Hi Could you give us two file for searching between the two ? Thanks :)

[2016-01-03 21:04] Progi1984 commented on #155
@muhzak I haven't got the problem. Which version do you use ? Could you give us a sample code ? Thanks

[2016-01-03 21:29] Progi1984 commented on #151
@jmanring With getSlide, you get a Slide object.

You can "addExternalSlide" the object from the new deck.
You can "addSlide" the object  from the new deck.
You can "rebindParent" the new deck from the object.

[2016-01-03 21:43] Progi1984 commented on #144
@tsanami69 : Some news ?

[2016-01-03 21:43] #136 closed

[2016-01-04 13:17] jmanring commented on #151
That seems to work but I lose all the formatting of the slide that I am adding. I think there is another thread that talks about this.

[2016-01-04 13:38] Progi1984 commented on #151
@jmanring Yes, it's possible. We try to read a maximum of informations, but all is not completly read.

But don't hesitate to create a ticket for each feature which is not read (with sample files), i try to improve it. Thanks

[2016-01-04 13:38] #151 closed

[2016-01-04 14:21] jmanring opened #160 "Copy master slides and layouts from one presetation to another"
I'm looking for a way to copy the master slides and layouts from one presentation to another.

For example copy slide 2 from the attached Companies.pptx file with its layout and master then copy slides 2 through 4 from the Contoso.pptx and have it use the previous layout/master.

[Companies.pptx](https://github.com/PHPOffice/PHPPresentation/files/77243/Companies.pptx)
[Contoso.pptx](https://github

[2016-01-04 17:49] bgetkin commented on #153
Here are the 2 files from the above example. In the actual program there are many more pages, but this should give you enough information to look into the issue.

[template.pptx](https://github.com/PHPOffice/PHPPresentation/files/77504/template.pptx)
[new.pptx](https://github.com/PHPOffice/PHPPresentation/files/77503/new.pptx)

Let me know if you need anything else and thank you for your help.

[2016-01-05 08:46] Progi1984 opened #161 "PowerPoint2007 : Read/Write SlideLayout"
The appliance would be to load data from the slide layout in a first time.
In a second time, we load data from slide.xml and overwrite data from layout.

Links :
* http://officeopenxml.com/prSlideLayout.php
* https://msdn.microsoft.com/en-us/library/office/gg278311.aspx

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29596530-powerpo

[2016-01-05 08:53] Progi1984 commented on #161
Linked issues :
* #153 : Width & Height are in the slide layout XML, not the slide XML

[2016-01-05 08:54] Progi1984 commented on #153
OK...

I see the problem. This issue is linked to #161.

[2016-01-06 08:51] Progi1984 commented on #154
@pickupman Have you got time for testing the Pull Request before integration in develop branch ? Thanks for your feedback.

[2016-01-06 08:51] Progi1984 commented on #152
@Tchesco101 Have you got time for testing the Pull Request before integration in develop branch ? Thanks for your feedback.

[2016-01-06 08:52] Progi1984 commented on #144
@tsanami69 Have you got time for testing the Pull Request before integration in develop branch ? Thanks for your feedback.

[2016-01-06 11:33] SoapWater commented on #150
Also tried it, just the background picture will be copied.

[2016-01-06 11:34] SoapWater commented on #144
@Progi1984 I tested it, but still only the background will be copied.

[2016-01-06 11:54] SoapWater commented on #150
@Progi1984 I also tried it, but still not working. I hope you can fix that soon.

[2016-01-11 11:09] jdleung opened #163 "Cannot create any file"
Installed the probject without composer, I kept getting errors until I blind the following line in Sample_Header.php
// require_once **DIR** . '/../vendor/autoload.php';

But still the script "simple sample" cannot create any file. It ended at:
11:59:52 Create new PHPPresentation object
11:59:52 Set properties
11:59:52 Create slide
11:59:52 Create a shape (drawing)
11:59:52 Create a shape (rich te

[2016-01-11 12:08] jdleung opened #164 "How to install composer correctly?"
Since failed on installing the project without composer, I now want to try installing it with composer.

By now, the composer has been installed successfully via terminal. but it did not create file "vendor/autoload.php", how can I run it and make it create such directory and files.

Mac, using MAMP as a server.

Thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](

[2016-01-11 14:10] Progi1984 commented on #164
For installing, you must use composer in command line :

[code]

[2016-01-11 14:11] Progi1984 commented on #163
Which errors have you got ? Without errors, i can't help you.

[2016-01-11 14:11] Progi1984 commented on #144
@tsanami69 : Have you got time for testing the Pull Request before integration in develop branch ? Thanks for your feedback.

[2016-01-11 14:12] Progi1984 commented on #152
@Tchesco101 Have you got time for testing the Pull Request before integration in develop branch ? Thanks for your feedback.

[2016-01-11 14:12] Progi1984 commented on #154
@pickupman Have you got time for testing the Pull Request before integration in develop branch ? Thanks for your feedback.

[2016-01-12 01:21] jdleung commented on #163
the browser shows error 500 which means Internal server error.

and when I use simple sample, it seems that it has not finish its job.

Is it a big difference between composer install and manual install?

Thanks.

[2016-01-12 01:44] jdleung commented on #164
I input command line "composer require phpoffice/phppresentation", it shows "no such command".
Sorry for knowing nothing about composer.

I installed composer and go to this last step, command line in terminal:
*php composer.phar*

it shows composer help things like:
   ______
  / ____/___  ____ ___  ____  ____  ________  _____
 / /   / __ \/ __ `__ \/ __ \/ __ \/ ___/ _ \/ ___/
/ /___/ /_/ / / /

[2016-01-12 02:03] jdleung commented on #163
It's no problem on checking:
![a](https://cloud.githubusercontent.com/assets/486474/12252586/75790c56-b913-11e5-9fc2-cf2e9bee8b41.png)

It seems it did not finish its job to create a file
![b](https://cloud.githubusercontent.com/assets/486474/12252585/755e40ba-b913-11e5-8a54-4f6b1168fb98.png)

[2016-01-12 08:25] Progi1984 commented on #164
Do :
[code]

[2016-01-12 08:27] Progi1984 commented on #163
Normally, no difference. May be have you got some errors in your php_errors.log file ? or apache errors log ?

[2016-01-12 12:45] jdleung commented on #163
I got this in php error log:
[12-Jan-2016 13:39:19 Europe/Berlin] PHP Fatal error:  Class 'PhpOffice\Common\XMLWriter' not found in /Applications/MAMP/htdocs/PHPPresentation-0.5.0/src/PhpPresentation/Writer/PowerPoint2007/AbstractPart.php on line 74

but I had check php info, xmlwrite is enabled.

what's wrong?

[2016-01-12 12:54] jdleung commented on #164
Followed your instruction, I got the following message. The autoload file may have been created successfully, but maybe in somewhere, not in PHPPresentation folder "vendor". How can I make it works in the next step? Thanks.

Using version ^0.5.0 for phpoffice/phppresentation
./composer.json has been created
Loading composer repositories with package information
Updating dependencies (including req

[2016-01-12 13:06] jdleung commented on #164
OK, I found the autoload file in user/myname/.

I moved it to PHPPresentation folder, and it finnally works for me.

Thanks.

BW, still I want to know how to make manual installation work. See another issue created by me ;-)

[2016-01-12 14:07] Progi1984 commented on #163
You have not included the code from https://github.com/PHPOffice/Common

[2016-01-12 14:08] Progi1984 commented on #164
@jdleung Just answered in the other issue.

[2016-01-12 14:08] #164 closed

[2016-01-12 15:14] jdleung commented on #163
OK, it works after clear two errors below:

1. PHP Fatal error:  Class 'PhpPresentation' not found
There is only "use PhpOffice\PhpPresentation\PhpPowerpoint;" in the sample codes, so I have to replace it with "use PhpOffice\PhpPresentation\PhpPresentation;" to make it works.

2.Uncaught exception 'Exception' with message 'File ./resources/phppowerpoint_logo.gif not found!
I have to cancel to crea

[2016-01-13 02:37] jdleung opened #165 "How to set slide background color?"
I went through all the samples, it seems all slides use white background color.

Is there a method to custom the slide background color?

Thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29826884-how-to-set-slide-background-color?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept

[2016-01-13 10:41] pranshuagrawal opened #166 "Line 28, require_once(../vendor/autoload.php): failed to open stream: No such file or directory in sample_header.php"
So I tried working upon it using XAMPP, I have successfully copied all the contents to my XAMPP folder but as soon as I am trying to open the sample files it is giving me an error saying require_once(../vendor/autoload.php): failed to open stream: No such file or directory in sample_header.php. How can I resolve this issue?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it

[2016-01-13 19:25] adebruyn commented on #89
Hi. I just wanted to let you know that, indeed, I screwed up when I tested your solution, and used regular < and > signs. With the correct characters, it opens right up on a PC and Mac without issue.

[2016-01-14 08:38] pranshuagrawal commented on #126
@Nedobr Can you please tell me where have you stroed the files of Common Library? I am not getting in which directory should i copy it.

[2016-01-14 09:47] Progi1984 commented on #165
I close this issue. An issue and a pull request exists for this feature : #152.

[2016-01-14 09:47] #165 closed

[2016-01-14 09:48] Progi1984 commented on #166
Do you have used Composer ?

[2016-01-14 09:48] Progi1984 commented on #89
Some can confirm the PR #167 ?

If ok, i will merge it.

[2016-01-14 12:17] pranshuagrawal commented on #166
No I have not used composer. Yes after removing that line (which was intend to be used when you have installed it using composer) the code works fine. Thank you.

[2016-01-14 12:17] #166 closed

[2016-01-14 12:20] pranshuagrawal opened #168 "Using Base64 encode images or SVG in PHPPowerpoint"
Does it support Base64 images or SVG Images, if yes how can i do that.
Coz when i tried
[code]

it gave me an error.

Does this amazing library has a documentation?

[2016-01-14 13:16] pranshuagrawal commented on #168
@Progi1984  Can you tell me some sort of tweak which I can do to make it work?

[2016-01-14 13:45] Progi1984 commented on #168
@pranshuagrawal I don't know. I must analyze and look at OpenXML & OpenDocument documentation if it's possible.

[2016-01-14 15:11] steve30000 commented on #89
I work with adebruyn and the fix has solved the problem of receiving an error message when opening a generated file on Mac Powerpoint 2011. The file now opens fine. Thanks.

[2016-01-15 06:23] pranshuagrawal commented on #168
Thank you very much.

[2016-01-15 06:25] pranshuagrawal opened #169 "Not getting any idea how to change the color of the line graph?"
So I am facing three issues when using `charts`.

1. How to change the color of line and points when using line chart?
2. How to changes the font size of the points values?
3. How to align points values to the top when using area chart (they are vertically in middle as of now.)?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2989735

[2016-01-15 08:04] Progi1984 commented on #168
If you want to make a pull request, we are open ;)

[2016-01-15 08:05] Progi1984 commented on #156
Issue ever opened #169

[2016-01-15 08:05] #156 closed

[2016-01-15 14:54] Progi1984 commented on #152
@jdleung If you test it, I can merge into develop branch, for next release.

Poke @Tchesco101

[2016-01-15 15:25] jdleung commented on #152
@Progi1984 sure. good to hear that. Now I place an image as a background.

[2016-01-15 15:45] Progi1984 commented on #152
@jdleung So the PR is ok for you ?

[2016-01-16 02:50] mikestp27 commented on #89
Also tested fixes listed in this thread and it solved my problems.  Thank you!!

[2016-01-16 03:15] jdleung commented on #152
Is Pull Request complex?. You know I just wander on github and download some projects.  But if I don't disturb your job, I will take a try.

[2016-01-16 12:49] pranshuagrawal opened #170 "PPT is not working when uploaded the Google Cloud"
So I made a PPT using PPTPowerpoint, the code is working absolutely fine on my localhost but when i try deploying it to Google Cloud, it doesn't responds. What I mean by it doesn't respond is

1. On chrome: It is giving ERR_INVALID_RESPONSE
2. On Firefox: It is giving File Not Found.

My GC is correctly configured to serve PHP files (though not sure do I need to firther configure it to support PPT

[2016-01-16 13:01] pranshuagrawal commented on #170
The exact error which i can see in my Logs is:

PHP Fatal error:  Uncaught exception 'Exception' with message 'Could not close zip file vfs://root/temp/.//phppttmp569a3ebe8e10c9.36645304.' in /base/data/home/apps/s~frrolefrontend/mediascout:ms-080.390023055217794078/mediascout/ppt_export/src/PhpPresentation/Writer/PowerPoint2007.php:320
Stack trace:
#0 /base/data/home/apps/s~frrolefrontend/mediasc

[2016-01-17 15:29] Progi1984 commented on #152
@jdleung No you can't take part to this project, with pull request.

Link : https://yangsu.github.io/pull-request-tutorial/
Link : https://help.github.com/articles/using-pull-requests/

@jdleung So ok for this PR ?

[2016-01-17 15:35] Progi1984 commented on #89
@chuebert @dami95 @rjakes @steve30000 @adebruyn @mikestp27 PR merged.

[2016-01-17 15:36] Progi1984 commented on #132
@RightHandedMonkey Could you test with the latest version of the develop branch (with #89 & PR #167) ?

[2016-01-17 15:38] Progi1984 commented on #100
@Evergreenn @rocity @domondon1 @jqr108 @RightHandedMonkey Could you test with the latest version of the develop branch (with #89 & PR #167) ?

[2016-01-17 15:46] mikestp27 commented on #89
I just tested with develop branch with #89 and #167 and I still have the issue (on Mac Office 2016)...  I still need the changes to Slide.php that you suggested on June 17:  https://github.com/PHPOffice/PHPPresentation/issues/89#issuecomment-112753091
What seems to fix the issue for me is the replacement of true/false with 1/0 for bold and italic.

[2016-01-17 19:14] Progi1984 commented on #89
@mikestp27 Bugfix pushed at the moment. Could you test again, please ?

[2016-01-17 19:26] mikestp27 commented on #89
Thank you.  With commit f201ae3, it works for me.   Tested on Office 2016 and Office 2008 for Mac; and Office 2010 on Windows 7.  Before f201ae3, Mac Office 2016 was not working.
https://github.com/PHPOffice/PHPPresentation/commit/f201ae3a94bbe15ff1dae316c73c7ef2463dfbdf

[2016-01-17 19:33] Progi1984 commented on #89
Perfect. I close it :)

[2016-01-18 00:11] jdleung commented on #152
@Progi1984 I clicked the "Fork" and "New Pull Request", still don't understand how it works. May this help.

[2016-01-18 03:15] xdf103 commented on #130
Can this be done? Can we edit text in a placeholder and add image to image placeholder? This should be useful feature.

[2016-01-18 07:17] Progi1984 commented on #152
@jdleung Before doing some pull request, you need to commit some changes.

[2016-01-18 07:26] Progi1984 commented on #170
@pranshuagrawal Are you writing in a directory where you have writing rights ?

[2016-01-18 12:56] jdleung commented on #152
@Progi1984 Where to commit? or just say yes to you?

[2016-01-18 12:57] Progi1984 commented on #152
@jdleung You commit in your fork of the project.

[2016-01-19 01:31] jdleung commented on #152
@Progi1984 I think I followed your instruction and completed. I clicked "Fork" at top-right, then clicked "412 Commits" at the left.

[2016-01-19 07:36] Progi1984 commented on #152
@jdleung You should find a mentor for helping you.
Some links : https://try.github.io/levels/1/challenges/1 / https://www.codecademy.com/learn/learn-git / https://help.github.com/articles/good-resources-for-learning-git-and-github/

Sorry, I need to advance in PHPPresentation.

[2016-01-19 07:36] Progi1984 commented on #152
@Tchesco101 Have you got time for testing the Pull Request before integration in develop branch ? Thanks for your feedback.

[2016-01-19 07:36] Progi1984 commented on #154
@pickupman Have you got time for testing the Pull Request before integration in develop branch ? Thanks for your feedback.

[2016-01-19 07:37] Progi1984 commented on #144
@tsanami69 : Have you got time for testing the Pull Request before integration in develop branch ? Thanks for your feedback.

[2016-01-19 07:46] pranshuagrawal commented on #170
So in Google App Engine, we are required to write to buckets. We do not have write permission to the file system. So creating a file should be something like this:
file_put_contents('gs://bucket_name/app_name');

However, the save() function in PowerPoint2007.php is looking for a different directory path. When I log this path out it shows me: my/file/system/htdocs/gs:/bucket_name/app_name.

How do

[2016-01-19 08:02] Progi1984 commented on #170
@pranshuagrawal I never use AppEngine, so I improvise.

Could you show me the code for saving the file ? (with content of variables) Thanks

[2016-01-19 08:06] pranshuagrawal commented on #170
I am using two variants and none of them is working.
1.
[code]

[2016-01-19 08:31] Progi1984 commented on #170
Try this :

[code]

[2016-01-19 14:20] jjmontgo commented on #123
Is anything being done with this issue?

[2016-01-19 15:05] Progi1984 commented on #123
@jjmontgo For the moment, but we are open to pull requests :)

[2016-01-19 15:11] jjmontgo commented on #123
Thank you so much for your response.  I've been looking at this tool for a while and it looks great.

[2016-01-21 00:47] developerMediaXray opened #171 "Formatting the axis on a line chart"
Is there a way to make it show every 7th data label on the line charts axis? I have data being pulled for everyday of the month, and to reduce clutter (currently it shows every other day) I would like to have it only show the first day and every 7 days after that on the label only ( I still want to keep the data the same).
##

[2016-01-21 09:31] tsanami69 commented on #144
HI, sorry for the delay in responding...I have checked this and it now works fine.

[2016-01-21 10:09] #144 closed

[2016-01-21 13:22] #127 closed

[2016-01-22 20:13] Progi1984 commented on #152
Implemented in develop branch. I close this issue.

[2016-01-22 20:13] #152 closed

[2016-01-23 08:52] Progi1984 commented on #170
Some news ?

[2016-01-23 08:54] Progi1984 commented on #154
Merged in develop branch.

[2016-01-23 08:55] #154 closed

[2016-01-24 11:12] Progi1984 commented on #5
@lejuraco PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:12] Progi1984 commented on #7
@ed1023 PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:12] Progi1984 commented on #9
@fbenothman PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:12] Progi1984 commented on #52
@fabianoleo PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:12] Progi1984 commented on #55
@rdoepke PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:13] Progi1984 commented on #83
@JewrassicPark PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:13] Progi1984 commented on #84
@chuebert PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:13] Progi1984 commented on #85
@GavinMcL PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:13] Progi1984 commented on #90
@manikrds PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:13] Progi1984 commented on #91
@Gyzmoo PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:13] Progi1984 commented on #93
@chuebert PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:14] Progi1984 commented on #100
@Evergreenn @rocity @domondon1 @jqr108 @RightHandedMonkey PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you test the last develop version ?

[2016-01-24 11:14] Progi1984 commented on #106
@Devintelligence PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:14] Progi1984 commented on #155
@muhzak PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:16] Progi1984 commented on #132
@RightHandedMonkey PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you test with the latest version of develop branch ?

[2016-01-24 11:18] Progi1984 commented on #128
@shruti222patel PHPPowerPoint 0.6.0 has been released. I would like to solve your issue for 0.7.0. Could you answer to my question ?

[2016-01-24 11:21] Progi1984 commented on #163
@jdleung Normally, I corrected documentation & samples in latest version of the develop branch. Could you test it, please ?

[2016-01-25 02:42] jdleung commented on #163
@Progi1984 OK, I will download it and have a try. ;-)

[2016-01-25 03:42] jdleung commented on #163
It's great to see that the background can be set now! ;-), Must I the colors; COLOR_RED, COLOR_DARK...? when I try to use my own color like 'FF660000', it seems not work.

And still for a beginner, like me, wants to run the script normally and goes into sample page without too much settings. By now, I need to do the following in Sample_Header.php for it's first running(manual install):
1. Add  \Ph

[2016-01-25 13:55] Progi1984 commented on #163
For Color, try this :

(Sample : Sample_15_Background.php)
[code]

For installing, I will update the documentation.

[2016-01-25 14:08] Progi1984 commented on #25
New project RTD created

[2016-01-25 14:21] Progi1984 commented on #25
New project Scrutinizer CI created

[2016-01-25 20:54] JewrassicPark commented on #83
@Progi1984 Sorry, I've had a request for this feature at work again and I'll revisit this issue shortly.

[2016-01-26 20:07] pranshuagrawal commented on #170
So the issue was that App Engine does not have Zip Extension installed and we can not help it sadly. So I moved my PPT Export module to compute engine of GC which is nothing but a Linux VM, and now it is working great there.

Thanks for being so active here.

[2016-01-26 20:07] #170 closed

[2016-01-26 20:15] pranshuagrawal opened #175 "Text inside table cell alignment"
I want that the text inside the table cell should be horizontally and vertically centrally aligned, is there any way to do that?

[2016-01-26 20:48] pranshuagrawal commented on #74
@Progi1984 any way by which I can completely get rid of borders from table?

[2016-01-26 21:18] pranshuagrawal commented on #169
Any progress in this?

[2016-01-27 10:09] Progi1984 commented on #169
It's on the pipe for the milestone 0.7.0.

[2016-01-27 12:31] Progi1984 commented on #170
@pranshuagrawal I'm going to implement adapters for Zip : ZipArchive if installed or PclZip if not...

[2016-01-27 12:32] Progi1984 opened #176 "Implement adapters for Zip"
Adapters in PHPOffice/Common :
* ZipArchive
* Pclzip

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30254971-implement-adapters-for-zip?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F

[2016-01-28 15:54] Progi1984 commented on #74
@pranshuagrawal This method ?

[code]

[2016-01-28 19:48] JewrassicPark commented on #83
I can consistently get it to crash if there is no notes on the first slide but there are notes on any of the next slides.  Using 0.6.0 with Powerpoint 2013 on Windows.  I understand this is contrary to the previous tests. My current workaround is to force a slide to have blank notes by default.

[2016-01-28 19:51] JewrassicPark commented on #83
Sorry, to be clear the powerpoints are generated via PHP on a CENTOS server but I'm opening them on Windows.

[2016-01-28 20:17] JewrassicPark opened #179 "Adding Notes Breaks "Print Slide With Notes""
You can print/save powerpoints that show the slide with the notes below it. Adding notes through phppresentation causes this feature to break and only the notes are displayed in the printout.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30310147-adding-notes-breaks-print-slide-with-notes?utm_campaign=plugin&utm_content=tracker%2F3

[2016-01-29 10:58] Progi1984 commented on #179
@JewrassicPark Could you give us two files ?
* a file generated with PHPPresentation with the bug
* the same file where you have fixed the bug (opened in PowerPoint, and fixed in this one)

[2016-01-29 17:31] JewrassicPark commented on #179
The first file is generated and has the big.

I couldn't directly fix the bug in powerpoint. Once the slide was formatted this way I don't see a way to reset it so the bug isn't present. I included a second slide in the presentation that displays correctly.

[notes-brokenpriview.pptx](https://github.com/PHPOffice/PHPPresentation/files/110131/notes-brokenpriview.pptx)

[notes-brokenpriview-fixed.pp

[2016-02-02 16:24] JewrassicPark commented on #179
I've been able to modify the slide writer for powerpoint2007 to have the preview display but I'm having issue with the dimensions of the preview across formats.

Right now when you add a note you create a rich text shape in order to alter the text

`$text = $note->createRichTextShape()->setHeight(300)->setWidth(600);
`
The slide writer uses the dimensions of that richtextshape to calculate the off

[2016-02-02 21:16] JewrassicPark commented on #179
I've updated my fork with the new writeNote function for the powerpoint2007 slide writer. I already have the pull request open for the animation, what's the best way to merge this as well?

[2016-02-04 16:20] tsanami69 commented on #160
I have the same problem...any slide I copy from a file has all it's formatting lost, and in some cases, it loses some of the slide (text/images).

[2016-02-04 16:22] tsanami69 commented on #143
Thanks for the code!

[2016-02-05 00:32] developerMediaXray commented on #169
In the writer/powerpoint2007/chart.php on line 1909 just below c:tx I put the following to remove the markers.
`
            // c:marker
            $objWriter->startElement('c:marker');

            // c:marker
            $objWriter->startElement('c:symbol');
            $objWriter->writeAttribute('val', 'none'); // Marker style
            //$objWriter->writeAttribute('size', '7'); // Marker si

[2016-02-05 10:37] Evergreenn commented on #100
@Progi1984 Yes ! All seems to be good for me, thanks a lot !

[2016-02-05 10:40] #100 closed

[2016-02-13 09:31] Progi1984 commented on #179
@JewrassicPark I'll try to implement your patch.

Bug with Sample_09, that doesn't seem to work.

![screen shot 02-13-16 at 10 30 am](https://cloud.githubusercontent.com/assets/1533248/13026978/e8c4a62e-d23c-11e5-8631-fbd1e3b26857.PNG)

Thanks for your help for fixing it before merging it :)

[2016-02-13 09:42] #25 closed

[2016-02-15 10:57] evivz opened #181 "Can we read ppt or pptx using this library and write it into pdf?"
I am unable to find proper document here but codeplex http://phppowerpoint.codeplex.com/ says we can use this repo to read ppt.

Can anyone help me with the same?

[2016-02-17 07:19] 5t111111 opened #182 "Are setFillPath and AddGradientStop removed from Fill?"
I'm trying to update PHPPowerPoint used in our project to the latest PHPPresentation, but `Fill` class no longer has both `setFillPath` and `AddGradientStop`.

I've also tried to check someting like changelog or file's history. However, I can't find them because PHPPresentation repository doesn't seem to include previous changes.

Why are setFillPath and AddGradientStop removed? Please let me know

[2016-02-23 15:51] JewrassicPark commented on #83
I'm getting reports from my users that powerpoints with notes enabled are breaking more often when generating. I can't say for sure that it's this feature but it's really the only major change I've made to my codebase in awhile.  I think there's got to be something implemented incorrectly with notes still.

[2016-02-23 16:14] Progi1984 commented on #83
@JewrassicPark : So this code should be generating a crashed file ?

[code]

[2016-02-23 16:15] Progi1984 commented on #179
@JewrassicPark Some news ?

[2016-02-23 16:16] JewrassicPark commented on #83
Yes I believe so, that was causing consistent crashing on open for me. If I use my workaround to put a dummy note on every slide, it still seems to be causing sporadic issues.

[2016-02-29 11:40] antoninob opened #184 "Is there a way to change font color of series title (name not value)?"
I can't find a way of changing the font color of the Series name (the one which appears below bars, in bar charts). The set font only changes the figure on bar top and not the name below the x-axis

<bountysource-plugin>
---
There is a **[$15 open bounty](https://www.bountysource.com/issues/31436670-is-there-a-way-to-change-font-color-of-series-title-name-not-value?utm_campaign=plugin&utm_content=

[2016-02-29 13:17] #125 closed

[2016-02-29 20:57] jrking4 opened #185 "Slide Templates & Layouts"
Hi,
I am working on implementing Slide Templates. And I can call the template fine. And set a Layout on the slide. However how do I edit the text or add a shape at the coordinates of the placeholders on the slide template?  For example if i call the following:
` $currentSlide->setSlideLayout(Layout::TITLE_AND_CONTENT);`

How can I then edit the headline and insert content in the placeholder boxes?

[2016-03-02 09:22] Progi1984 commented on #169
In my develop branch,
* Marker (Size & Symbol) in Line & Scatter Chart is now customizable

[2016-03-02 11:34] Progi1984 commented on #169
@pranshuagrawal For the third point, could you describe what you want ? And have you got some Office Powerpoint screenshots of the render and/or the options ? Thanks for advance

[2016-03-02 15:16] #184 closed

[2016-03-02 15:39] Progi1984 commented on #129
Link to #169 for Outline

[2016-03-02 19:22] developerMediaXray commented on #169
Is there a sample of how to customize the line chart yet?

[2016-03-03 08:45] Progi1984 commented on #169
@developerMediaXray Yes, just here : https://github.com/Progi1984/PHPPresentation/commit/c25b5537c66f7fdb145cf222537c67714e1504c2#diff-5b63fbb4a824b89cff6871bc7f47da0b

[2016-03-03 11:32] Progi1984 commented on #170
Linked to #176

[2016-03-04 09:46] #176 closed

[2016-03-04 10:44] Progi1984 commented on #123
@jjmontgo Have you got a sample PPTX with a video embed ? Thanks

[2016-03-04 10:53] jjmontgo commented on #123
Sorry no. Just a client with a request. :(
On Mar 4, 2016 6:44 AM, "Progi1984" <notifications@github.com> wrote:

[2016-03-04 10:55] Progi1984 commented on #123
@jjmontgo Have you got a PowerPoint2007 ?

[2016-03-04 11:05] jjmontgo commented on #123
Are you doing an implementation?
On Mar 4, 2016 6:55 AM, "Progi1984" <notifications@github.com> wrote:

[2016-03-04 11:47] Progi1984 commented on #123
@jjmontgo Yeap. I just search a sample file with a video embed in the file for analyzing the file.

[2016-03-04 12:41] jrking4 commented on #185
Hi @Progi1984, is this something that hasnt been implemented yet? If you give me some details on what is built and what is needed, I may be able to tackle it for you

[2016-03-04 12:48] Progi1984 commented on #169
@pranshuagrawal Some news ?

[2016-03-05 08:04] Progi1984 commented on #123
**Note :** Sample file : [Présentation_Video.pptx](https://github.com/PHPOffice/PHPPresentation/files/159740/Presentation_Video.pptx)

https://download.blender.org/durian/trailer/

[2016-03-05 09:33] jjmontgo commented on #123
Nice thanks will check it out
On Mar 5, 2016 4:04 AM, "Progi1984" <notifications@github.com> wrote:

[2016-03-07 08:01] Progi1984 commented on #123
@jjmontgo Don't worry. I'm on it.

[2016-03-07 09:57] #116 closed

[2016-03-07 10:04] Progi1984 commented on #169
@developerMediaXray May be you can help me on the third point of @pranshuagrawal : I don't understand what he wants :)

[2016-03-07 13:29] Progi1984 commented on #123
@jjmontgo Could you test this commit Progi1984@4696fda before integration, please ?

[2016-03-07 13:35] jjmontgo commented on #123
Will do thank you
On Mar 7, 2016 9:29 AM, "Progi1984" <notifications@github.com> wrote:

[2016-03-07 13:46] Progi1984 commented on #123
@jjmontgo Thank you for the feedback :)

[2016-03-07 14:17] Progi1984 commented on #169
Note : http://superuser.com/questions/647933/lo-calc-why-are-data-labels-placement-options-greyed-out

[2016-03-07 15:53] Progi1984 commented on #169
@pranshuagrawal : Some documentation have been added and samples have been modified

[2016-03-07 15:53] #169 closed

[2016-03-07 16:55] jjmontgo commented on #123
I tried it using PowerPoint 2003, and the video did not show up.  I do know
the file was embedded given the size of the file.  I'm also guessing maybe
it doesn't work on an old version of powerpoint.

On Mon, Mar 7, 2016 at 9:46 AM, Progi1984 <notifications@github.com> wrote:

[2016-03-07 18:04] jjmontgo commented on #123
Oh I should also mention I was running one of the bundled samples; sample #3

On Mon, Mar 7, 2016 at 12:55 PM, Jonathan Montgomery <jjmontgo@gmail.com>
wrote:

[2016-03-08 13:49] Progi1984 commented on #129
@vader88 : The documentation is here : http://phppresentation.readthedocs.org/en/develop/shapes_chart.html#axis

[2016-03-08 13:49] #129 closed

[2016-03-08 14:18] Progi1984 commented on #123
@jjmontgo Could you test with this file : http://www28.online-convert.com/fr/telecharger-le-fichier/b79f91b6f95a532917d7dbb891a35b76/converted-aa7e9a0e.wmv ?

[2016-03-08 14:59] Progi1984 commented on #179
@JewrassicPark Some news ?

[2016-03-08 15:03] JewrassicPark commented on #179
Sorry, what's the current issue on this? I can't produce any bugs in my print with notes currently. I still have inconsistent errors having notes at all though.

[2016-03-08 15:18] Progi1984 commented on #179
@JewrassicPark Check this comment : https://github.com/PHPOffice/PHPPresentation/issues/179#issuecomment-183632619

[2016-03-08 15:33] JewrassicPark commented on #179
In your sample you have

`$oRichText = $oNote->createRichTextShape()->setHeight(300)->setWidth(600)->setOffsetX(170)->setOffsetY(180);;
`

This is how I set the notes:

[code]

I changed only those lines in your sample and the notes looked correct for me.

[2016-03-08 15:42] Progi1984 commented on #179
@JewrassicPark : But with theses changes : https://github.com/Progi1984/PHPPresentation/commit/5c3e87482da83e1d289cabecb3e377efbba94171 ?

[2016-03-08 15:48] JewrassicPark commented on #179
Sorry, yes, I am using that writer currently

[2016-03-08 17:04] Progi1984 opened #192 "Image Adapter"
Create an Adapter for images :
* normal
* from Zip
* from Base64
* from GD

From #168

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31902006-image-adapter?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&ut

[2016-03-08 17:10] Progi1984 commented on #171
@developerMediaXray Do you know how to do it in PowerPoint / LibreOffice ?

If yes, could you give us some screenshots and a sample with the feature. Thanks.

[2016-03-08 17:13] Progi1984 commented on #175
@pranshuagrawal Are you available for some discussion ?

I need some screenshots for what you want.

The documentation is here : http://phppresentation.readthedocs.org/en/develop/. We improve it when users ask and with evolution or bugfix. You can participate to it with pull request.

[2016-03-09 10:47] Progi1984 commented on #168
@pranshuagrawal : Done in develop branch.

[2016-03-09 10:47] #168 closed

[2016-03-09 16:49] Progi1984 commented on #179
@JewrassicPark Could you test this file : https://framadrop.org/r/Z3GR8dCTmY#OZ+pXMjw+koMEOUt9SrO3mb04pD+WdPOnuXtJNrAlcU=
 ?

Is it ok for you ? Thanks

[2016-03-09 18:58] JewrassicPark commented on #179
No, I get a repair notice when opening it (windows 10, office 2013) and I don't see any notes once the repair is complete.

[2016-03-09 21:40] bpineda opened #196 "How do you set orientation on a Presentation?"
Awesome project, guys. Just a question. On the doc it says that it supports now printing orientation, yet, I can't find any example to set up a vertical presentation. Did I miss something?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31784772-how-do-you-set-orientation-on-a-presentation?utm_campaign=plugin&utm_content=tracker%2F32

[2016-03-10 09:25] Progi1984 commented on #179
@JewrassicPark I think I'm better : i have no interfact in LibreOffice.

https://framadrop.org/r/6FrPIumUDA#9k8x+j2vP0UeZbFFQQ6OeNY4qF6qemN0JMOZ0gkmfew=

[2016-03-10 10:15] Progi1984 commented on #123
@jjmontgo Try with this file, please : https://framadrop.org/r/r-Bmc72blR#1KtVD2xzVrM01onaLYVSMsnu4wmyZ3Nk1Ab3qHXOAr8=

[2016-03-10 11:43] Progi1984 commented on #150
@ziwar Could you give me your Sample.pptx ? Thanks :smile:

[2016-03-10 13:18] jmanring commented on #150
Attached is one presentation I attempted to open and copy a slide to a new presentation.

[Companies.pptx](https://github.com/PHPOffice/PHPPresentation/files/167158/Companies.pptx)

[2016-03-10 13:45] jjmontgo commented on #123
Hi!

This had the same result.

When opened in OpenOffice, a 90 x 90 thumbnail for the video appears.
When oepened in Powerpoint 2003, there is no sign of the video (although
the file is clearly in there because of the file size).

I added the video to the slide in Powerpoint 2003.  It appears to leave the
video out of the ZIP file and reference it externally (the powerpoint file
is 43 kb).  I pro

[2016-03-11 08:26] Progi1984 commented on #161
Some analysis :
* Layout is linked to slide
* Layout is a group of placeholder
* A placeholder is linked or not to a shape

[2016-03-11 09:17] Progi1984 commented on #123
[code]

[2016-03-11 09:43] Progi1984 commented on #123
@jjmontgo It seems that uses an external link. I need to find a file generated by Powerpoint with a embed video in the file.

[2016-03-11 09:55] Progi1984 commented on #150
Hi all, I created a roadmap for managing slide layout : https://github.com/PHPOffice/PHPPresentation/issues/161#issuecomment-195254785

[2016-03-11 09:55] Progi1984 commented on #153
@bgetkin  I created a roadmap for managing slide layout : https://github.com/PHPOffice/PHPPresentation/issues/161#issuecomment-195254785

[2016-03-11 09:55] Progi1984 commented on #185
@jrking4 I created a roadmap for managing slide layout : https://github.com/PHPOffice/PHPPresentation/issues/161#issuecomment-195254785

[2016-03-11 09:58] Progi1984 commented on #160
Hi all, I created a roadmap for managing slide layout : https://github.com/PHPOffice/PHPPresentation/issues/161#issuecomment-195254785

[2016-03-11 10:00] Progi1984 commented on #196
@bpineda Could you give us sample generated file with some screenshots from PowerPoint, please ?

[2016-03-11 10:08] Progi1984 commented on #132
Answer from @RightHandedMonkey :

Thanks for sticking with this and I will test it as soon as I can.  The program is great and I use it a lot - so I really need to solve this issue.  In trying to track down a solution to the intermittent issue I am having, I've collected an xdebug callgrind profiler dump of both having the issue and when not having the issue when generating the same powerpoint.  I

[2016-03-11 10:55] jjmontgo commented on #123
I'll try playing around with it today and see if I can get it to embed
internally.
On Mar 11, 2016 5:43 AM, "Progi1984" <notifications@github.com> wrote:

[2016-03-11 11:07] Progi1984 commented on #123
@jjmontgo You rocks ! Thanks :)

[2016-03-11 11:26] Progi1984 commented on #132
@RightHandedMonkey May be you can test with develop branch ?

[2016-03-11 13:56] Progi1984 commented on #182
@5t111111 Which version do you have ?

I look for in an old version (https://phppowerpoint.codeplex.com/SourceControl/latest#trunk/Classes/PHPPowerPoint/Style/Fill.php) and **setFillPath** / **addGradientStop ** are not present.

With the version (or the code of the library), I will help you to find a solution.

[2016-03-11 18:53] billross opened #198 "Sample Bar Charts missing third item (color same as background?)"
I just downloaded phppresentation and when I build the sample_05_bar.php on many of the charts the third item in the first series (2009 Mar) can't be seen in the pptx because it is the same color as the background.  When I try making my own charts I get the same problem.  I have attached my sample pptx
I am using :
PHP 5.3.3 (cli) (built: Nov 29 2012 04:12:23)
Copyright (c) 1997-2010 The PHP Group

[2016-03-12 01:43] 5t111111 commented on #182
@Progi1984 Sorry but I have investigated further this issue after reading your above comment, and found those properties are added by someone after forking the original PHPPowerPoint :cry:

I'm going to close this issue, thank you for your help though!

[2016-03-12 01:43] #182 closed

[2016-03-12 11:03] Progi1984 commented on #182
If you give me the fork, I can implement it in Phppresentation. No ?

[2016-03-14 10:50] vikrant-aao commented on #184
How to set transparency in fill type, even argb color code is not working

[2016-03-15 07:26] vikrant-aao opened #199 "How to set transparency in fill type and set default margin in table (0.6.0)"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31898570-how-to-set-transparency-in-fill-type-and-set-default-margin-in-table-0-6-0?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F323104

[2016-03-15 10:12] Progi1984 opened #200 "Reader CWK (AppleWorks / ClarisWorks)"
- Documentation :
  - http://www.wirelust.com/2013/01/17/parsing-appleworks-and-clarisworks-file-formats/
  - https://github.com/teacurran/appleworks-parser
  - http://wirelust.com/examples/archiving/appleworks/
  -https://web.archive.org/web/20150417024530/http://wiki.wirelust.com/x/index.php/Projects:Archiving:AppleWorks
  - https://web.archive.org/web/20160315101021/http://forums.justlinux.com/

[2016-03-15 12:56] Dayjo opened #201 "Alpha channel on fill colours?"
Hello!

Just saw https://github.com/PHPOffice/PHPPresentation/issues/199 but as it has no content, plus it contains multiple issues, I thought I'd write this up.

I'm very new to this library, but it seems great and mostly covers everything I need. However, I'm trying to add transparency to fill colour. Looking at the code, it seems like it's using ARGB (and in the Color class handles ARGB channel

[2016-03-15 13:17] Dayjo commented on #201
Looking deeper into the code (though I don't really have the time right now), looks like this shouldn't be too difficult to implement. I may put together a pull request once I've gone through the contributing notes.

[2016-03-15 14:19] Dayjo commented on #201
Ok, I've given this a go following the documentation but to no avail.

I figured that it would just be a matter of adding the alpha element to the srgb Clr element as per;

[code]

But when opening in Keynote and Google Slides (ironically, I don't have PowerPoint), whatever I put in the value of the alpha element, it ends up with an alpha value of 0. Perhaps I'm missing something?

[2016-03-15 20:02] bpineda commented on #196
I wan to change from this layout:
![screenshot 2016-03-15 13 55 58](https://cloud.githubusercontent.com/assets/1189433/13792186/4eb86ee8-eab6-11e5-9ddf-64cfcd798673.png)

To this one:
![screenshot 2016-03-15 13 56 34](https://cloud.githubusercontent.com/assets/1189433/13792188/504e9494-eab6-11e5-90a4-9325822e0223.png)
I can't find code to generate the vertical type presentation.

[2016-03-16 13:11] Progi1984 commented on #123
@jjmontgo Some news ?

[2016-03-16 13:11] Progi1984 commented on #179
@JewrassicPark Some news ?

[2016-03-16 13:14] JewrassicPark commented on #179
I still don't see the slide in the notes print on yours. I'll take a look but since the only thing I changed in your example was the two lines above it's probably a difference in our code bases. I'm fairly certain I submitted everything that I added I'll try to double check

[2016-03-16 13:30] jjmontgo commented on #123
Sorry not yet as things have been very hectic lately. :(
On Mar 16, 2016 10:11 AM, "Progi1984" <notifications@github.com> wrote:

[2016-03-16 14:14] Progi1984 commented on #179
@JewrassicPark Shit ! We are nearly to the solution.

What is the difference between your code and this branch : https://github.com/PHPOffice/PHPPresentation/compare/develop...Progi1984:issue179 ?

[2016-03-16 15:04] haktansuren commented on #121
Hi Progi, Any future fix for PowerPoint2007?

[2016-03-16 16:01] Progi1984 commented on #121
@haktansuren Could you define the name of a slide in PPT2007 ? Have you a screenshot for this feature in PPT2007 ?

[2016-03-16 16:59] haktansuren commented on #121
@Progi1984
Here is the screen shot you asked.
![image](https://cloud.githubusercontent.com/assets/17882120/13821053/6a5d7920-eb76-11e5-947b-7e3af0481797.png)

I think, it should be in app.xml

`<vt:lpstr>Yes this is the slide name…</vt:lpstr>`

[2016-03-16 17:05] JewrassicPark commented on #179
This is the slide writer in powerpoint2007 that im currently using

https://framadrop.org/r/5lGC2h0D0n#PPNN/aGk23MMjN9VFmJsoh7ov5VHVZ7sC6PijvElYCM=

[2016-03-17 08:48] Progi1984 commented on #121
@haktansuren It's not the slide name, it's the content of a placeholder.

[2016-03-17 09:00] Progi1984 commented on #179
@JewrassicPark I have made a simple change. Could you test :  https://framadrop.org/r/mH8j3Nurmc#viqd4C7vkcsB+L/rGmLt0tY7nrWjLjSDIEOgYVZk4Vo= ?

[2016-03-17 10:31] Progi1984 commented on #196
@bpineda Have you tried this :

[code]

[2016-03-17 12:24] JewrassicPark commented on #179
Close: http://i.imgur.com/Z5zUrXy.jpg

The positioning is still off. Did you definitely make the changes in:

https://github.com/PHPOffice/PHPPresentation/issues/179#issuecomment-193825835

[2016-03-17 12:42] jjmontgo commented on #123
Sorry for taking so long.

I've taken a look at Powerpoint, and it is not possible to embed the video
within the file unless it is converted to Flash and entered as a Flash
object.

Apparently in Powerpoint 2003 and 2007, the video cannot be embedded in the
powerpoint file and has to be in the same directory as the presentation
externally.  In powerpoint 2010, the video can be embedded in the file

[2016-03-17 13:13] Progi1984 commented on #123
@jjmontgo I just asked on Twitter for a sample file : https://twitter.com/Progi1984/status/710453889183649792

[2016-03-17 13:35] haktansuren commented on #121
Thanks @Progi1984,

Is it possible to use placeholder with draw object? It means, can i first create placeholder and then place the text in placeholder while generating the PPTX?

Thanks

[2016-03-17 13:39] Progi1984 commented on #121
@haktansuren It's in the milestone 0.7 (#161).

[2016-03-17 14:45] #120 closed

[2016-03-17 14:53] Go3Michael opened #205 "Manipulate ppt/pptx file"
Hello, today I start with phpPresentation ... read and write works very fine, but is there anywhere a       tutorial to adapt the ppt/pptx file.  For example: I would like to change the headline or some other text positions. I can rotate the Image an the Text by the shapes , but how can i change the image and the text ??

best regards
Michael

      $pptReader = PhpOffice\PhpPresentation\IOFactory

[2016-03-17 16:42] bpineda commented on #196
You are my savior. It worked perfectly. Thanks a bunch. If you guys need help, I can help around with documentation and examples.

[2016-03-17 16:45] #196 closed

[2016-03-17 17:06] Progi1984 commented on #196
@bpineda We are always open to help.

[2016-03-18 09:37] Progi1984 commented on #179
@JewrassicPark I have done the change in sample :

https://framadrop.org/r/fhevpIMmxd#abbwOh9RbTjLOfhRHbVkRlhHemvqI4ewZe1tLtreBAY=

Could you test ?

[2016-03-18 13:22] JewrassicPark commented on #179
Not quite

http://i.imgur.com/PdGI6Wy.jpg

[2016-03-21 11:14] derkaan opened #210 "Saving a loaded PPTX throws exception"
Hi,

I'm trying to load an existing empty presentation to add my own slides to it.
Loading etc. seems to work fine, but PHPPresentation throws an exception when I try to save it.
It says that it misses a slide in the current layout pack.
[code]

System: OSX
PowerPoint Template created with PowerPoint 15.20
Language: German

Any idea why this happen and/or is actually meant to copy out slides from

[2016-03-21 13:47] letuky commented on #149
Were you able to figure out a solution for this?

[2016-03-21 20:02] M-Shahbaz commented on #210
Same error:
[code]

`Fatal error: Uncaught exception 'Exception' with message 'Could not find slide layout Title slide in current layout pack`

[2016-03-22 08:20] Progi1984 commented on #210
Which branch do you use ?

[2016-03-22 08:46] Progi1984 commented on #179
[Sample_09_SlideNote.pptx](https://github.com/PHPOffice/PHPPresentation/files/183743/Sample_09_SlideNote.pptx)

[code]
![screen shot 03-22-16 at 09 42 am](https://cloud.githubusercontent.com/assets/1533248/13946050/6a57d31c-f012-11e5-884e-10f857b03283.PNG)

[Sample_09_SlideNote.pptx](https://github.com/PHPOffice/PHPPresentation/files/183747/Sample_09_SlideNote.pptx)

[code]
![screen shot 03-22-16

[2016-03-22 08:47] Progi1984 commented on #179
@JewrassicPark Just tested on Office2007. Could you test on your side with latest files ?

[2016-03-22 09:00] derkaan commented on #210
Let me share my latest findings.
When I use a PPT-Template created with PowerPoint 2011 for Mac, then the exception will not be thrown.
If I try the same with a PowerPoint 2016 for Mac, then it doesn't work.
Please find both used files attached.

PPT-Template created with PowerPoint 2011 for Mac: [ppt-template-PP2011.pptx](https://github.com/PHPOffice/PHPPresentation/files/183759/ppt-template-PP20

[2016-03-22 11:40] Napryc opened #211 "Can't hide marker on line chart for pptx (0.7.0)"
Hi,

I'm trying to hide the marker from a line chart, however, setting:
`$lineMarker->setSymbol(\PhpOffice\PhpPresentation\Shape\Chart\Marker::SYMBOL_NONE);
`
seems not enough.

I've solved this issue by adding the following else clause in the writeSeriesMarker function of PptCharts.php file:

[code]
##

[2016-03-22 11:49] Napryc opened #212 "Can't format value of Pie chart pptx (0.7.0)"
Hi,

formatting values in pie chart is not working. Doing a modification in the function writeTypePie of PptCharts.php file solved it for me.

After line 1383
`$objWriter->startElement('c:dLbls');`
I've added the following code:

[code]
##

[2016-03-22 20:14] jdt commented on #123
I've created an empty powerpoint presentation in Office 2010, added the file supplied above via Insert > Video and saved the presentation. No other changes were made. Will this do?

[Presentation1.pptx](https://github.com/PHPOffice/PHPPresentation/files/184880/Presentation1.pptx)

[2016-03-23 09:18] Progi1984 commented on #123
@jdt Thanks ! That valid my PR #209 :)

Need some unit tests and some documentation. And I push it to develop :)

[2016-03-23 13:58] #205 closed

[2016-03-29 12:23] derkaan commented on #210
Any idea or update on this issue?

[2016-03-29 14:36] vikrant-aao opened #213 "internal margin of table text-box"
I want to remove the default top and bottom margin of table text box

[2016-03-29 14:39] vikrant-aao commented on #199
Thanks Dayjo alpha channel is working fine now.

[2016-03-29 14:39] #199 closed

[2016-03-30 08:53] Progi1984 commented on #179
@JewrassicPark Some news ?

[2016-03-30 18:42] JewrassicPark commented on #179
Yeah the two pages you linked  here https://github.com/PHPOffice/PHPPresentation/issues/179#issuecomment-199704145

display the same for me as they do in your screenshots

[2016-03-31 09:37] Progi1984 commented on #179
Yeah ! Bug fixed :)

[2016-03-31 09:37] #179 closed

[2016-03-31 09:58] Progi1984 commented on #85
@GavinMcL I think the bug has been fixed in develop branch. Could you check it ?

[2016-03-31 09:58] Progi1984 commented on #83
@JewrassicPark Could you check this bug with the last version of the develop branch ?

[2016-03-31 12:52] JewrassicPark commented on #83
Yeah it's still present.

I tried a few combinations involving three slides.

slide 1 = s1, slide2 = s2, slide3 = s3

s1 with notes, s2 with notes, s2 no notes = Works
s1 with notes, s2 no notes, s3 with notes = Works
s1 with no notes, s2 with notes, s3 with notes = Crashes on opening ppt
s1 with no notes, s2 with notes, s3 no notes = Crashes on opening ppt

Even when I was forcing every slide to

[2016-03-31 15:38] Progi1984 commented on #123
Merged in develop branch

[2016-03-31 15:38] #123 closed

[2016-04-01 09:10] Progi1984 commented on #201
@Dayjo I just add some improvements (and some code deduplications) ;).

[2016-04-01 09:11] Progi1984 commented on #201
Merged in develop branch

[2016-04-01 09:11] #201 closed

[2016-04-04 15:06] Progi1984 commented on #192
Merged in develop branch

[2016-04-04 15:06] #192 closed

[2016-04-05 08:40] Progi1984 opened #218 "Add features from Fork"
- [x] https://github.com/PHPOffice/PHPPresentation/compare/master...CleverApe:master (Add features on Axis : Min and Max Value / Minor and Major Tick Mark / Minor and Major Unit)
- [x] ~~https://github.com/PHPOffice/PHPPresentation/compare/master...kazuya-utsunomiya:master (Add features on Axis / Area - Bar - Bar3D direction / Line3D / Radar / Shape  Geometry / Border finishing in arrow)~~
- [x] h

[2016-04-05 08:51] Progi1984 commented on #161
@vincentKool Could i use your work (https://github.com/PHPOffice/PHPPresentation/compare/develop...vincentKool:office2007ReadSlideLayout) as base for this issue ?

[2016-04-10 17:22] vce-wabbott commented on #89
I'm running into the same issue with the current 0.6.0 code. Problem occurs with Mac Powerpoint 2011 and 2016. Example output PPT here - https://drive.google.com/open?id=0B8hTI70phHLQcHNMdEN0WXhIcFE

[2016-04-10 19:00] Progi1984 commented on #89
And with the develop branch ?

[2016-04-11 01:31] vce-wabbott commented on #89
Sorry I meant to say with the dev branch from 2 weeks ago. I just grabbed the latest dev branch and I still see the error. Example output PPT of the same content here - https://drive.google.com/open?id=0B8hTI70phHLQV0g0ak1CXzR1WTg

[2016-04-12 13:43] vce-wabbott commented on #89
Any thoughts on what might be causing the problem?

[2016-04-15 07:24] sergiodebcn opened #220 "Add Drawing alignenment"
Is possible to align an image?.
Thanks

[2016-04-18 10:16] Progi1984 commented on #161
@vincentKool Could i use your work (https://github.com/PHPOffice/PHPPresentation/compare/develop...vincentKool:office2007ReadSlideLayout) as base for this issue ?

[2016-04-23 03:57] vce-wabbott commented on #89
Any updates? I'm curious what specifically in the generated output causes the warning.

[2016-04-24 08:25] Progi1984 commented on #89
@vce-wabbot Could you try with reverting this commit https://github.com/PHPOffice/PHPPresentation/commit/f201ae3a94bbe15ff1dae316c73c7ef2463dfbdf ? Thanks

[2016-05-02 10:25] Progi1984 opened #221 "Writer HTML"
- http://stackoverflow.com/questions/36842869/phppresentation-and-pptx-using-php

[2016-05-04 18:46] camel-chased commented on #210
same here

[2016-05-05 09:20] nacerAddineNabih commented on #106
hello,
i'm asking if its possible to read PPT files with PHPPowerPoint. i need to get the comments for every slide.

[2016-05-05 12:32] nacerAddineNabih opened #222 "Read PPT comments"
hello,

i'm trying to read comments from power point. i use the samples for tests but when i add comments to a slide in the presentation, i can't read them.
it is possible to get comments with PHPPowerPoint ? or it's not included in the library.
if it's not included, how i can use the xml parser to read them ?
( sorry but im a novice and i have to read all informations in a PPT file for my school

[2016-05-06 12:34] derkaan commented on #210
Does the master and slides names to be in english or the Powerpoint software itself configured/installed in english?

[2016-05-06 15:08] jbajou opened #223 "Undefined variable: oText"
Hello guys,

I'm experiencing an issue with reading a Ppt 2007 on a fresh install. Here is the error:

[code]

Any idea ?

Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/33983236-undefined-variable-otext?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2016-05-06 19:17] jbajou opened #224 "Convert slides to image"
Hello,

I would like to use PHPPresentation to convert each slide of a pptx file to an image for viewing purposes.
In the actual development state of the project, would this possible ?

Also, since you have great knowledge in this field, do you have any other way of displaying a pptx in a web viewer that comes to mind ? (without loosing transitions effects for example, etc)

Thank you for your hel

[2016-05-09 14:49] camel-chased commented on #210
I was thinking that the language was the problem but no.
```Writer``` doesn't read what files are needed to save the file
If you read pptx over ```Reader``` you can lost every dependencies in file because
```Writer``` is not interested what may be in _rels it just assumes that everything is default
https://github.com/PHPOffice/PHPPresentation/blob/develop/src/PhpPresentation/Writer/PowerPoint2007.

[2016-05-09 14:53] camel-chased commented on #224
maybe this help you
http://dag.wiee.rs/home-made/unoconv/

[2016-05-11 18:43] lukepolo opened #225 "Master has Develop Docs"
Some of your examples are now using a newer version of your package. FOr instance

 $shape = new Drawing\Base64();

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34133241-master-has-develop-docs?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.

[2016-05-12 12:30] Progi1984 opened #226 "PPT : Reading Comments"
@nacerAddineNabih ask in #106 :

Could you give us a sample file please ?
##

[2016-05-12 12:30] Progi1984 commented on #106
@nacerAddineNabih Please go on #226 : a dedicated issue has been created.

[2016-05-12 12:34] Progi1984 commented on #210
@derkaan @camel-chased I linked this ticket to #161 (and a check in the roadmap #161#issuecomment-195254785).

[2016-05-19 14:12] JewrassicPark opened #227 "Bug in Animation Writing for Dev Branch"
[code]

should be
[code]

You're starting the shape index 1 and then post incrementing it in the map. It needs to start at two or pre increment otherwise the animation is applied to the slide itself as it has index 1 already.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34387130-bug-in-animation-writing-for-dev-branch?utm_campaign

[2016-05-21 13:30] Progi1984 commented on #83
@JewrassicPark Shit, i try with a sample code :

[code]

And no problem with PowerPoint :
![screen shot 05-21-16 at 03 28 pm](https://cloud.githubusercontent.com/assets/1533248/15448682/b85ad00c-1f68-11e6-9753-7cfa82309a14.PNG)

May be it's a problem of version, etc...

Could you send me a sample of PPTX which crashes and its code ?

[2016-05-21 13:58] Progi1984 commented on #223
Fixed in develop branch

[2016-05-21 13:58] #223 closed

[2016-05-21 15:35] Progi1984 commented on #227
Fixed in develop branch

[2016-05-21 15:35] #227 closed

[2016-05-21 15:38] Progi1984 commented on #161
@vincentKool Could i use your work (https://github.com/PHPOffice/PHPPresentation/compare/develop...vincentKool:office2007ReadSlideLayout) as base for this issue ?

[2016-05-21 19:38] Progi1984 commented on #161
The PR is opened : https://github.com/PHPOffice/PHPPresentation/pull/230

[2016-05-24 06:44] wangleyuan opened #231 "How to create chart of composite"
How to create chart of composite?

[2016-05-25 14:37] JewrassicPark commented on #83
I used the exact sample code you have above with the latest dev branch

http://www.filedropper.com/crashesonstartpowerpoint2013

it hard crashes immediately for me on file open consistently.

Powerpoint 2013 on Windows 10

[2016-05-27 09:17] Progi1984 commented on #153
@bgetkin Could you test the PR #230 ?

[2016-05-27 09:18] Progi1984 commented on #150
@jmanring Could you test the PR #230 ?

[2016-05-27 09:18] Progi1984 commented on #185
@jrking4 Could you test the PR #230 ?

[2016-05-27 09:18] Progi1984 commented on #160
@jmanring @tsanami69 Could you test the PR #230 ?

[2016-05-31 20:57] Progi1984 commented on #83
@JewrassicPark : Just for keeping the file on Github : [crashesOnStartPowerpoint2013.pptx](https://github.com/PHPOffice/PHPPresentation/files/292150/crashesOnStartPowerpoint2013.pptx)

No problem with PowerPoint 2007.
And it's valid againt MS Office 2013 format :
![screen shot 05-31-16 at 10 56 pm](https://cloud.githubusercontent.com/assets/1533248/15690251/feab701c-2782-11e6-8672-63856d0ca877.PNG

[2016-05-31 21:00] JewrassicPark commented on #83
Perhaps you can send me a file generated with the same code and I can confirm it's not an issue with my servers

[2016-06-01 14:01] mjbza opened #232 "ErrorException [ Parse Error ]: syntax error, unexpected 'use' (T_USE)"
Can not load the library in Kohana. It has problem with loading and for all 'use' commands says this error

ErrorException [ Parse Error ]: syntax error, unexpected 'use' (T_USE)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34767453-errorexception-parse-error-syntax-error-unexpected-use-t_use?utm_campaign=plugin&utm_content=tracke

[2016-06-01 14:42] mjbza commented on #232
The use and require once must be place in the most outband of the file.

[2016-06-01 14:42] #232 closed

[2016-06-04 06:50] Progi1984 commented on #153
@bgetkin Could you test the PR #230 ?

[2016-06-04 06:51] Progi1984 commented on #150
@jmanring Could you test the PR #230 ?

[2016-06-04 06:52] Progi1984 commented on #160
@jmanring @tsanami69 Could you test the PR #230 ?

[2016-06-04 06:52] Progi1984 commented on #185
@jrking4 Could you test the PR #230 ?

[2016-06-08 18:46] slewitan opened #233 "Background colors are pale"
When I produced a presentation using the development code I was getting pale background colors, the transparency was getting set to 76%. (This was not the case with the release code.)
I was able to fix it by adding `if(!is_null($alpha)) $alpha = 100;` to PHPPresentation\src\PhpPresentation\Writer\PowerPoint2007\AbstractDecoratorWriter.php

[code]
##

<bountysource-plugin>
---
Want to back this iss

[2016-06-09 00:29] maurocrispin21 opened #234 "DEFAULT LINE COLORS IN CHARTS"
I know that in the current version of phppresentation it is not possible to customize line colors in charts.

But where does default color code is stored? In order to modify to the colors I need.

By the way I had already tried develop version, wich allows  you to customize line colors. But I got some issues.

Do you Know if it's possible to use different type of lines, like doted.

[2016-06-09 07:43] alexscloh commented on #163
![capture](https://cloud.githubusercontent.com/assets/4832792/15922130/c4b914cc-2e58-11e6-90e8-e8b15f5b0557.JPG)

I already have phpoffice common but i still unable to write file

[2016-06-10 12:25] Progi1984 commented on #153
@bgetkin Could you test the PR #230 ?

[2016-06-13 04:33] alexscloh commented on #163
It's been few days from my last post, no one able to help me solving issue?

[2016-06-13 06:53] SlowBus opened #235 "Class 'PhpOffice\Common\XMLWriter' not found"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35104425-class-phpoffice-common-xmlwriter-not-found?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=gi

[2016-06-13 19:57] JewrassicPark opened #236 "Animations on wrong items"
PptSlides.php writer writes the animations for the wrong shapes

Steps:
- Create powerpoint
- add a shape
- add that shape to an animation
- add a second shape

Result:
- The animation is applied to the second shape and not the first

[2016-06-13 20:16] JewrassicPark commented on #236
This is similar to the last issue when applying the animations.

The id "1" is used for the slide itself. So when writing the animations AND shapes it's important to start the shapeId at 2. in PptSlides.php, when writing the shapes, the shapeId is starting at 0 and then pre-incrementing to 1. It needs to start at 1 to pre-increment to 2 for the first shape that isn't the slide itself.

[2016-06-20 18:45] davemulder commented on #83
@Progi1984 — I've been tracking down a similar issue as @JewrassicPark, except with Mac Keynote. The presence of any programmatically generated slide notes appears to create a PPTX that Keynote, at least version 6.6.2, does not want to open (produces a generic error). This was also true using the code and file you provided in this thread.

I know that your work is geared around PowerPoint, specifi

[2016-06-28 08:10] Progi1984 commented on #153
@bgetkin Could you test the PR #230 ?

[2016-07-03 08:28] Progi1984 opened #237 "Define the default font"
Asked in a StackOverflow question : http://stackoverflow.com/questions/38159742/how-to-add-new-font-in-phppresentation

[2016-07-06 14:30] mrius commented on #160
@Progi1984 Please, do this stuff really helps to fix the problem? I have tried a similar way for few weeks without useful results...

[2016-07-07 09:03] mrius commented on #160
@Progi1984 Please, do this stuff really helps to fix the problem? I have tried a similar way for few weeks without useful results...

[2016-07-11 19:50] maurocrispin21 opened #238 "Chart with excell can't manage special characters"
Hello

I'm using phppresentations to create reports.

But I get an error when I try to create a file (Chart with excell) with especial characters like Á É Í Ó Ú and Ñ.

Write function may have special characters in $filename

`function write($phpPresentation, $filename, $writers)
{
    $result = '';

    // Write documents
    foreach ($writers as $writer => $extension) {
        $result .= date('

[2016-07-16 09:54] disiri opened #239 "Open and Save as Image for preview purposes"
Hi,

I have a question.
I am creating a presentation with combination of static and dynamic slide.
Is it possible to open the ppt and save it as a picture to generate the image preview?

Thanks and Regards,

[2016-07-18 08:12] disiri opened #240 "Getting externalSlide with shape"
I am trying to get externalSlide from existing ppt file but somehow the table/shape is not successfully copied. I am using addExternalSlide/addSlide method. This method [#143](https://github.com/PHPOffice/PHPPresentation/issues/143) works perfectly on other content of text and styles of text as well as the images in the slides. Do I need to add some code in order to get the shape from externalSlid

[2016-07-18 08:56] disiri commented on #142
Hello, Did you find a solution for this issue?

[2016-07-19 01:44] Peilun0912 commented on #142
No, sorry. It seems to be a bug, the next version may fix it.

[2016-07-19 05:31] disiri commented on #142
But you were able to get other shapes except table?
When I tried getting external slide with rectangle shape and text inside using addExternalSlide/addSlide, I can only get the text on the shape but the rectangle as well as its layout are gone. Is it a bug as well?

Thank you so much.

[2016-07-19 06:00] oratis opened #241 "Fatal Error when running Sample files"
Fatal error: Class 'PhpOffice\Common\XMLReader' not found in /Applications/XAMPP/xamppfiles/htdocs/PHPPresentation-0.6.0 2/src/PhpPresentation/Reader/PowerPoint2007.php on line 151

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36145441-fatal-error-when-running-sample-files?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium

[2016-07-21 06:44] 007manu007 opened #242 "PHP Presentation Reading Text"
I want to read text of ppt not other info, so how I can do it with PHPPresenation?

Currently I get Tree Structure, I don't want tree structure I only want text
##

[2016-07-22 08:10] 007manu007 opened #243 "PHP Presentation Reader not working"
[report4-client4.pptx](https://github.com/PHPOffice/PHPPresentation/files/377746/report4-client4.pptx)

Not able to read this ppt. I triet to put this in sample "Sample_12_Reader_PowerPoint2007.php" but get too many errors. To see error pls click below link
http://headsocial.com:8080/upload/14691749687308b6c73858f47a14af1c4e755d5a53d32.png

[2016-07-23 02:12] kirobo opened #244 "[REQ][HELP]Adding equally spaced text boxes"
I want to create 4 text boxes of width 300 which are equally spaced.
Can someone please help?
[code]

[2016-07-23 02:13] kirobo commented on #244
@Progi1984

[2016-07-23 15:05] MariaGabriel108 opened #245 "Fatal error File ./resources/phppowerpoint_logo.gif not found"
I was in the process of viewing an existing pptx file using the reader of Powerpoint2007 but i get this fatal error:

Fatal error: Uncaught exception 'Exception' with message 'File ./resources/phppowerpoint_logo.gif not found!' in C:\xampp\PHPPresentation-master\src\PhpPresentation\Shape\Drawing.php:107 Stack trace: #0 C:\xampp\PHPPresentation-master\samples\Sample_Header.php(49): PhpOffice\PhpPre

[2016-07-23 15:19] MariaGabriel108 commented on #245
@Progi1984

[2016-07-23 15:24] MariaGabriel108 commented on #242
Hello! Can you help me with my problem?
I'm trying to use the reader but i get this fatal problem:

 Uncaught exception 'Exception' with message 'File ./resources/phppowerpoint_logo.gif not found!' in C:\xampp\PHPPresentation-master\src\PhpPresentation\Shape\Drawing.php:107 Stack trace: #0 C:\xampp\PHPPresentation-master\samples\Sample_Header.php(49): PhpOffice\PhpPresentation\Shape\Drawing->setPa

[2016-07-27 08:43] rmhl opened #247 "Help on Generating Chart"
Here is my code:

`$objPHPPowerPoint = new PhpPresentation();

        // Create slide
        $currentSlide = $objPHPPowerPoint->getActiveSlide();

        $chartShape = $currentSlide->createChartShape();

        $oSeries1 = new Series(array(1,2));
        $oSeries2 = new Series(array(1,2));
        $oSeries3 = new Series(array(1,2));

        $oBarChart = new Bar();
        $chartShape->getPlot

[2016-07-30 15:06] kirobo opened #248 "Creating spaced text boxes"
Can someone give an example of creating an equally spaced text boxes (like 5 for instance).

I want to create 4 text boxes of width 300 which are equally spaced.
Can someone please help?

[code]

[2016-08-05 19:16] shashank2104 commented on #161
@Progi1984 @vincentkool Thank you guys for trying to solve these issues. Btw can we get an update on this particular issue? Any commits that you've added to the library as a whole?
Yes, I'm able to create a new ppt with most of the features working well for me but it'd be great if I could get an example of loading/copying base layout of the master ppt and saving it into a new one.

I did try the o

[2016-08-15 20:00] vincentKool commented on #161
I've made a new pull request with Progi1984 [PR into Progi1984:issue161](https://github.com/Progi1984/PHPPresentation/pull/4) in order to update PR #230

[2016-08-18 11:17] danielbair commented on #235
I'm getting the same thing here when trying to run the samples...

Sample 01 Simple
18:09:15 Create new PHPPresentation object
18:09:15 Set properties
18:09:15 Create slide
18:09:15 Create a shape (drawing)
18:09:15 Create a shape (rich text)
Fatal error: Class 'PhpOffice\Common\XMLWriter' not found in PHPPresentation-0.6.0/src/PhpPresentation/Writer/PowerPoint2007/AbstractPart.php on line 74

[2016-08-18 11:20] danielbair commented on #241
I'm also seeing this...

Sample 01 Simple
18:18:42 Create new PHPPresentation object
18:18:42 Set properties
18:18:42 Create slide
18:18:42 Create a shape (drawing)
18:18:42 Create a shape (rich text)
Fatal error: Class 'PhpOffice\Common\Adapter\Zip\ZipArchiveAdapter' not found in PHPPresentation-develop/src/PhpPresentation/Writer/PowerPoint2007.php on line 77

Sample 01 Simple
18:09:15 Create new

[2016-08-18 11:42] danielbair opened #250 "Fatal error: Class 'PhpOffice\Common\Adapter\Zip\ZipArchiveAdapter' not found"
Sample 01 Simple
18:18:42 Create new PHPPresentation object
18:18:42 Set properties
18:18:42 Create slide
18:18:42 Create a shape (drawing)
18:18:42 Create a shape (rich text)
Fatal error: Class 'PhpOffice\Common\Adapter\Zip\ZipArchiveAdapter' not found in PHPPresentation-develop/src/PhpPresentation/Writer/PowerPoint2007.php on line 77

<bountysource-plugin>
---
Want to back this issue? **[Post a

[2016-08-18 13:40] danielbair opened #251 "README.md missing requirements"
The README.md does not mention the PHPOffice/Common as a requirement for PHPPresentation.
Thus if one is downloading PHPPresentation source and attempting to use the samples it will throw errors about PHPOffice/Common/... file not found.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37223909-readme-md-missing-requirements?utm_campa

[2016-08-21 23:12] takoe opened #252 "Copy slide"

[2016-08-23 08:23] Progi1984 opened #253 "New Chart type"
* Doughnut
* Bubble
  * https://python-pptx.readthedocs.io/en/latest/user/charts.html#xy-and-bubble-charts
* Radar

[2016-08-23 12:01] Progi1984 commented on #161
@vincentKool I just merged it ;)

@shashank2104 Have you tried the PR #230 ?

For informations, reading and writing will never be perfect, while PhpPresentation can't abstract any part in a powerpoint. The road is long but the road is open (Poke @framasoft).

[2016-08-23 12:02] Progi1984 commented on #160
@mrius You could test the PR #230 and give us your feedback :)

[2016-08-24 02:36] danielbair commented on #251
I have created a pull request here... https://github.com/PHPOffice/PHPPresentation/pull/254

[2016-08-24 02:37] danielbair commented on #250
The issue was from not using composer and downloading the release manually. The installation instructions did not mention the need for PHPOffice/Common. I have created a pull request here... https://github.com/PHPOffice/PHPPresentation/pull/254

[2016-08-24 02:38] #250 closed

[2016-08-24 02:38] danielbair commented on #241
The issue was from not using composer and downloading the release manually. The installation instructions did not mention the need for PHPOffice/Common. I have created a pull request here... https://github.com/PHPOffice/PHPPresentation/pull/254

[2016-08-24 02:39] danielbair commented on #235
The issue was from not using composer and downloading the release manually. The installation instructions did not mention the need for PHPOffice/Common. I have created a pull request here... https://github.com/PHPOffice/PHPPresentation/pull/254

[2016-08-24 10:11] Progi1984 commented on #251
Fixed in the commit dbc34df.

[2016-08-24 10:11] Progi1984 commented on #241
Fixed in the commit dbc34df.

[2016-08-24 10:11] #241 closed

[2016-08-24 10:11] Progi1984 commented on #235
Fixed in the commit dbc34df.

[2016-08-24 10:11] #235 closed

[2016-08-24 10:11] Progi1984 commented on #250
Fixed in the commit dbc34df.

[2016-08-26 20:01] Progi1984 commented on #161
@vincentKool Mission of the week end :)

Try files #150 / #153 / #210 (if features are missing in PhpPresentation, I will create tickets for implementation in next version)...
If OK, create documentation...
If OK, merge the PR :+1:

[2016-08-26 20:03] Progi1984 commented on #182
@5t111111 If you give me the fork, I can implement it in Phppresentation. No ?

[2016-08-26 20:05] Progi1984 commented on #248
@kirobo Have you got a screen of the rendering ?

[2016-08-26 20:06] Progi1984 commented on #247
@rmhl Have you got some screenshots of the render for what you want ?

[2016-08-26 20:09] Progi1984 commented on #242
@007manu007 You need to browse all the file... each slide... each shape ... and for each shape, make a toString() on the shape.

[2016-08-26 20:12] Progi1984 commented on #142
@disiri I will work on it in the version 0.8.0.

[2016-08-26 20:13] Progi1984 commented on #240
Added to the milestone 0.8

[2016-08-26 20:15] Progi1984 commented on #239
Asked in #224... but it's always in the todo list...

We are open to pull requests.

[2016-08-26 20:18] Progi1984 commented on #238
@maurocrispin21 Could you test with the last version of the develop branch ? Thanks for your feedback.

[2016-08-30 00:38] informed-source opened #255 "Format axis line"
Is it possible to format the axis line for a chart in PHPPresentation? Our style requires that there is no visible Y axis line, only the labels.

<bountysource-plugin>

---
There is a **[$20 open bounty](https://www.bountysource.com/issues/37396075-format-axis-line?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysou

[2016-08-30 08:59] Progi1984 commented on #255
@informed-source Which type of format do you want to apply to axis (x or y) ?

Note&nbsp;:&nbsp;https://github.com/PHPOffice/PHPPresentation/blob/def46846e02e5860d3fd34f1df769ffaf9c51b9d/src/PhpPresentation/Writer/PowerPoint2007/PptCharts.php#L2089

[2016-08-30 09:53] informed-source commented on #255
Thanks for the prompt response.
In our case we would like the equivalent of Format>Axis>Line>No Line in PowerPoint.
So something like:
getAxisY()->setLine([outline object])
similar to the implementation for Gridlines would work.

[2016-09-01 06:48] Progi1984 commented on #150
@jmanring It's ok for the main style. Shapes not supported like Geometric form (#117) will be supported in 0.8.0

[2016-09-01 06:50] Progi1984 commented on #153
@bgetkin Run ok with the PR #230

[2016-09-01 06:50] #153 closed

[2016-09-01 07:01] Progi1984 commented on #210
Fixed with the PR #230

[2016-09-01 07:01] #210 closed

[2016-09-01 07:13] #150 closed

[2016-09-01 07:13] Progi1984 commented on #160
@jmanring It's ok for the main style. Shapes not supported like Geometric form (#117) will be supported in 0.8.0

[2016-09-02 13:20] Lews19 commented on #7
Hi,
I have a similar issue. It appears to only be a problem in Office 2013

[2016-09-05 12:17] #185 closed

[2016-09-05 12:56] Progi1984 opened #256 "Work on Unit Tests"
The goal is testing unitarily each part of a class. In some tests, I will refactor it for testing just the method.
- [x] Create custom assertions for testing odt/pptx => zip (https://phpunit.de/manual/current/en/extending-phpunit.html)
- [x] ...
##

[2016-09-07 11:55] Progi1984 commented on #161
PR #230 Merged in develop branch

[2016-09-07 11:56] #161 closed

[2016-09-08 12:14] Progi1984 commented on #251
And documentation added : http://phppresentation.readthedocs.io/en/develop/installing.html

[2016-09-08 12:14] #251 closed

[2016-09-08 12:20] Progi1984 opened #260 "Release v0.7.0"
- [X] Wait that all tickets assigned to [Milestone v0.7.0](https://github.com/PHPOffice/PHPPresentation/milestone/7) are closed.
- [x] Create the [next milestone](https://github.com/PHPOffice/PHPPresentation/milestones/new)
- [x] Create the [next release ticket](https://github.com/PHPOffice/PHPPresentation/issues/new) : #261
- [x] Set date of the release in `CHANGELOG.md`.
- [x] Create and merge [

[2016-09-09 10:14] Progi1984 opened #261 "Release 0.8.0"
- [x] Wait that all tickets assigned to [Milestone v0.8.0](https://github.com/PHPOffice/PHPPresentation/milestone/8) are closed.
- [x] Create the [next milestone](https://github.com/PHPOffice/PHPPresentation/milestones/new)
- [x] Create the [next release ticket](https://github.com/PHPOffice/PHPPresentation/issues/new) : #349
- [x] Set date of the release in `CHANGELOG.md`.
- [x] Create and merge [

[2016-09-12 10:58] #260 closed

[2016-09-14 13:45] Progi1984 commented on #255
@informed-source Could you test the PR, please ?

[2016-09-14 19:36] informed-source commented on #255
Thanks for looking at this. Currently experiencing an issue with 0.7 which I need to resolve.

[2016-09-15 04:32] pgee70 opened #264 "PHPExcel_Writer_Exception"
When saving a file phppresentation that has an embedded excel document i am getting this exception
Type: PHPExcel_Writer_Exception

Message: Could not close zip file PHPExcel.xlsx.

Filename:
..path to /vendor/phpoffice/phpexcel/Classes/PHPExcel/Writer/Excel2007.php

Line Number: 399

Backtrace:
File: ../vendor/phpoffice/phppresentation/src/PhpPresentation/Writer/PowerPoint2007/PptCharts.php
Line:

[2016-09-15 06:24] pgee70 opened #265 "legend borders"
Hi
I can't see how to set the legend border of a charts legend
http://phpoffice.github.io/PHPPowerPoint/docs/develop/classes/PhpOffice.PhpPresentation.Shape.Chart.Legend.html#method_getBorder

There is a getter, but not a setter.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37894163-legend-borders?utm_campaign=plugin&utm_conte

[2016-09-15 10:49] pgee70 opened #266 "powerpoints need repairing."
Hi this may be similar to #89
**Every** powerpoint I make needs to be repaired when opened by powerpoint.
It isn't just the ones that i have made for my own work it is also the sample folder versions.

I used composer to get "phpoffice/phppresentation": "dev-master"
I have run the simple sample 1 file. (this is the test-case but all files i create require repairing)

I have tried OpenXML SDK2.5 pr

[2016-09-15 12:04] alejandrososa commented on #266
Good afternoon, the same goes for me.

[2016-09-15 12:05] pgee70 opened #267 "axis titles in sample 5 doesn't work."
Sorry for so many issues, but if you don't know about them, you don't know.

in Sample_05_Chart_with_PHPExcel.php
line 69,70:
$shape->getPlotArea()->getAxisX()->setTitle('Month');
$shape->getPlotArea()->getAxisY()->setTitle('Downloads');

do not appear to be working:

![image](https://cloud.githubusercontent.com/assets/5938974/18548914/96662028-7b8e-11e6-843d-5bf0765756db.png)
setting the axis tit

[2016-09-15 12:24] pgee70 opened #268 "bar charts are not honouring the setLabelPosition"
Hi, this one is easy!
the PhpOffice\PhpPresentation\Writer\PowerPoint2007\PptCharts.php::writeTypeBar does not honour series:setLabelPosition.

in line 982 adding:

[code]

seems to fix the issue (i just looked at the code for writeTypePie to see this.
##

[2016-09-15 12:32] pgee70 opened #269 "Feature request: axis bounds"
In scientific publishing we like to show the zero point on a graph as autoscaling can distort the difference between columns in a bar graph.
To do this can the min/max bounds of an axis be exposed to the library?
##

[2016-09-16 14:38] Progi1984 commented on #269
@pgee70 Hi, Could you give two screenshots : one with a sample and an another with the window in PowerPoint/LibreOffice for defining these options ? Thanks.

[2016-09-16 14:38] Progi1984 commented on #268
@pgee70 Hi, Could you give me a screenshot with the bug ? Thanks.

[2016-09-16 15:28] JakeSamson commented on #266
I'm having the same issue - both Sample_01_Simple and Sample_01_Complex require repairs when opened with PowerPoint For Mac 15.17.

[2016-09-16 22:17] informed-source commented on #255
I am unable to get version 0.7 to generate valid PowerPoint files. I have rolled back to my earlier release. I tried updating only the following files:
PhpPresentation/Shape/Chart/Axis.php
PhpPresentation/Writer/PowerPoint2007/PptCharts.php
and I get an error:
PHP Fatal error:  Uncaught ReflectionException: Class PhpOffice\\PhpPresentation\\Writer\\PowerPoint2007\\PptCharts ... does not exist ...

[2016-09-16 23:00] pgee70 commented on #268
Thanks for responding.
It is not something taking a screenshot of can help. The code isn't implemented so the feature doesn't work.
The column label position just goes to the default position - I wanted it to go in the end of the label and it wouldn't work.

When that line is added the label position behaves as expected.

[2016-09-16 23:09] pgee70 commented on #269
Sure, thanks for looking at it.

[test.pptx](https://github.com/PHPOffice/PHPPresentation/files/477808/test.pptx)
![screenshot](https://cloud.githubusercontent.com/assets/5938974/18603558/049e0eac-7cb6-11e6-80fa-2002efe80177.png)
Note that in the attached presentation the column labels are above the column (in white colour).  See my issue #268
Thanks

[2016-09-16 23:55] pgee70 opened #270 "Feature request - multiple chart types on on plotarea"
Hi
Looking at the API documentation, i recognise this would be hard to implement.
But it would be useful to have more than one chart type on the same plot area.
Using column data is good for categorical data, lines are good for data in which there is a relationship between data points.  However sometimes you need to present both on the same plot area.  In the example, showing an aggregated average

[2016-09-19 11:48] Progi1984 commented on #255
@informed-source The writer PowerPoint has changed between 0.6 & 0.7

[2016-09-19 11:51] informed-source commented on #255
Understood. Version 0.7 does not produce valid PowerPoint files for me.

[2016-09-19 11:58] Progi1984 commented on #255
@informed-source Is it this ticket : #266 ?

[2016-09-19 12:03] informed-source commented on #255
It may be related. My symptoms are that the output file is either unreadable by PowerPoint on my Mac, or it does not contain the intended content. This is a breaking change since 0.6.

[2016-09-19 14:37] idoraquel opened #271 "Line breaks in text labels of chart"
It might be not possible to choose rotation 0" but with auto line breaks.
I didn't find any method in Series. Am i right ?

Thanks
![screenshot from 2016-09-19 17-36-57](https://cloud.githubusercontent.com/assets/9630979/18635954/b56756e6-7e8f-11e6-942c-de61065dd08d.png)
![screenshot from 2016-09-19 17-36-26](https://cloud.githubusercontent.com/assets/9630979/18635953/b5398ab8-7e8f-11e6-9310-0f269

[2016-09-19 14:48] Codealist opened #272 "Bug: show series values and name"
It seems it doesn't matter either we set TRUE or FALSE to methods:

`Series::setShowValue();`
`Series::setShowSeriesName();`

It present by default even we set false

**Type**: ODP (Ubuntu 16.04) LibreOffice
##

[2016-09-20 08:32] alejandrososa opened #273 "There are no options to change margins in cells"
Good morning, I searched all the documents which indicate how to modify the margins of a cell in a table, but I have not found anything. It would be interesting to contemplate the library to change the margins to a cell, because in my case I'm building the table has many columns and would help to take the edge that comes by default.

Thanks for the work they have done.
![margenes](https://cloud.gi

[2016-09-23 03:16] zhaozhi406 opened #274 "mac can not open saved content"
I tried the example code which is on the documentation page, but I can not open the saved pptx file, what I mean is that I double clicked the saved file in finder, nothing displayed and no exception jumped out.

So I tried another way, first I saved an empty pptx file use the microsoft powerpoint app, second I read the file in my code, and then I added some text, and save. Then in the finder, I ca

[2016-09-23 09:40] alejandrososa opened #275 "Type graphics Area do not work"
I am creating graphics and all have created fine except type graphics Area. I tried the example that comes in /vendor/phpoffice/phppresentation/samples/Sample_05_Chart.php bookstore and see that neither the presentation is added the area chart.

Whats not set any attributes to be added?
This is the code I'm testing:

[code]

A greeting
##

[2016-09-25 13:18] pgee70 commented on #267
i think i have a fix for this one:
in Powerpoint2007:PptCharts::writeAxis around line 2079 there is a missing c:title element (outdented)
[code]
// this needs to be closed around line 2148
 // ## c:txPr
[code]

[2016-09-26 15:30] gurnzbot opened #276 "v0.7.0 unable to open generated PPT"
Using v0.7.0, I am able to generate a PPT file.  When I attempt to open the resulting file, I am unable to open it.

I've tried to do the bare minimum when generating the presentation file.

My PHP code:

[code]

I rolled back to v0.6.0 and was able to open the file generated using the same script.
If I can help at all please let me know :)
##

[2016-09-28 13:14] peder-andfrankly opened #277 "Powerpoint repair required for generated PPT"
Hi, just started using the library and love it. Got an issue though where any PPT I generate, even if with super-simple content (plain default ppt doc, change background color and add a text shape) generates a Powerpoint Repair-error upon opening. Attached is an example generated PPT
[&frankly_2016-09-28_13.12.28.pptx](https://github.com/PHPOffice/PHPPresentation/files/498089/frankly_2016-09-28_13

[2016-09-28 13:16] peder-andfrankly commented on #277
Woops, saw there's already an open issue on this. I'll close this one.

[2016-09-28 13:16] #277 closed

[2016-09-28 13:17] peder-andfrankly commented on #266
Getting the same error; see example PPT generated that fails.
[&frankly_2016-09-28_13.12.28.pptx](https://github.com/PHPOffice/PHPPresentation/files/498104/frankly_2016-09-28_13.12.28.pptx)

[2016-09-28 15:14] JakeSamson commented on #266
I ended up needing to do some custom work for my project that went outside the scope of this plugin - I ran into this same issue when I failed to compress the powerpoint's XML appropriately. Maybe the plugin (or these examples) are including the parent file or doing non-zero compression when the edited files are re-archived?

Usually a corrupted element will yield an alert along the lines of "Unre

[2016-09-29 01:10] ryanhattam commented on #266
Hi

I spent a fair bit of time investigating this, and found the cause.
Prior to commit 5de5693d3e41882cfcdc40b0e499d72d31227ffd, the pptslide writer (PHPPresentation/src/PhpPresentation/Writer/PowerPoint2007/PptSlides.php)
would always write a 'slideLayout' relationship, essentially hard coded on every slide.

In the referenced commit, and subsequent ones, a change was made so that a layout would

[2016-09-29 07:48] peder-andfrankly commented on #266
@ryanhattam Many thanks for this! It solved our problem. Don't have possibility to provide a PR either, but the following code that just sets a default layout for every slide we create works to avoid/workaround these issues.

`	$objPHPPowerPoint = new PhpPresentation();
	$oMasterSlide = $objPHPPowerPoint->getAllMasterSlides()[0];
	$oSlideLayout = $oMasterSlide->getAllSlideLayouts()[0];
	...
	// Se

[2016-09-29 15:39] meriemagg commented on #89
i get this error too whenever i try to open the generated pptx with powerpoint 2013
![error-msg](https://cloud.githubusercontent.com/assets/12466302/18960911/9930eee0-866b-11e6-90f7-f19a9c873799.jpg)

[2016-10-02 10:29] meriemagg commented on #100
@Evergreenn  HI  i have the same issue with powerpoint 2013 could you tell me please how you solved the problem ?

[2016-10-02 12:20] informed-source commented on #276
We have experienced similar issues, with PowerPoint on the Mac, using v0.7.

[2016-10-03 08:06] amirakbari opened #278 "Google short url error"
google short url error when define for hyperlink
error: it is not standard url
##

[2016-10-03 08:08] amirakbari opened #279 "textrun rotation or direction"
there is not textrun rotation option or change text direction to vertical

[2016-10-06 10:55] Riaz1 commented on #100
I am having the same issue, code to recreate error:

require_once 'vendor/autoload.php';

use PhpOffice\PhpPresentation\PhpPresentation;
use PhpOffice\PhpPresentation\IOFactory;
use PhpOffice\PhpPresentation\Style\Color;
use PhpOffice\PhpPresentation\Style\Alignment;

$objPHPPowerPoint = new PhpPresentation();

// Create slide
$currentSlide = $objPHPPowerPoint->getActiveSlide();

// Create a shape

[2016-10-07 13:57] Progi1984 commented on #100
@Riaz1 You try to create an ODP file, not a PPTX.

[2016-10-07 14:02] Johnfredadams commented on #89
Similar issues here using PHPOffice 0.7.0, and Mac PPT 2016. File is very simple [here](https://www.dropbox.com/s/bvqss3lg5klnl2k/response.pptx?dl=0). File needs repairing, and then some content unreadable.

[2016-10-09 14:39] meriemagg commented on #100
@Progi1984 i created a pptx file and i am getting the same error message when i try to open the pptx fie
can you please check if there's anything wrong whith the way i am generating the slides
  here is my code

 $objPHPPowerPoint = new PhpPresentation();
  $j = 0 ;

 foreach ($tab_wil as $key => $value) {

  $sql2 = " SELECT f.id, r.region, w.wilaya, c.commune, a.adresse, t.type, t.dimension_l, t

[2016-10-12 09:21] justijndepover commented on #114
You should probably fix your site as well. The example given is wrong. It took me quite some time to figure out it wasn't working.
http://phppresentation.readthedocs.io/en/latest/general.html

[2016-10-12 09:49] jamesggordon commented on #276
I am also experiencing issues with two versions of PowerPoint on the Mac - 2008 and 2016.

I can also tell you the exact commit where things stopped working. On April 1 there were a series of commits. If I check out the second last commit from April 1 (ee07eb7d517336931d416f6d951b0f896508f679) then the PowerPoint files I generate open fine on both versions of PowerPoint. However, if I check out th

[2016-10-12 10:52] justijndepover opened #280 "Merging multiple files"
Hi,

 I'm trying to merge multiple pptx files together with PHPPresentation. So far I've managed to read a pptx file and write that same file to a different folder. However, if I open the newly generated file, It looks like a lot of data has lost. Either text has disappeared or background images are gone.

I've included the libraries correctly and did the following:

[code]

<bountysource-plugin>

[2016-10-13 01:06] stevenljacobsen opened #281 "Powerpoint requires repair when I add a second slide."
I'm having a problem created a presentation with multiple slides. when I have only one slide it's fine. If I add the second slide it requires repair when I open it with PPT.

Here's a link to a file that's not working http://www.praisesongorganizer.com/vendor/phpoffice/phppresentation/samples/results/sample.pptx

[code]
So the above code works fine. Then when I add code for a second slide, I get a

[2016-10-13 10:58] meriemagg commented on #281
i get the same error message too, it's very commun apparently, but there is no solution or explanation as why is causing it to pop up ?
i am generating voluminous files and when it hits the 1000 pages the file does not open
you don't get the error message when the file contains only one page ?
check this out : https://github.com/PHPOffice/PHPPresentation/issues/266
tried it but did not work for me

[2016-10-13 14:21] stevenljacobsen commented on #281
Perfect! That did it for me. Thanks!

[2016-10-13 14:21] #281 closed

[2016-10-14 12:52] kimubach opened #282 "$oPHPPresentation->createSlide() causing corrupted file"
Hello,

I'm reading a pptx file and adding some slides but it allways gets corrupted and powerpoint asks to repair it and it gets repaired successfully.

Even adding a blank slide it shows the error

I attach the corrupted file generated by PHPPresentation and the same file repaired by PowerPoint

What can i do to fix that?

Thanks a lot!

[pptfileREPAIRED.pptx](https://github.com/PHPOffice/PHPPre

[2016-10-16 13:29] meriemagg opened #283 "the file does not open if it contains more than 500 pages !!"
i am generating and downloading  a pptx document that contains up to 2000 pages
when the file contains 500 pages it gets downloaded
but when it contains more than 500 pages it gets downloaded but i can't open it

here is the code

[code]
[code]
[code]
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38414178-the-file-does-not-open-

[2016-10-17 08:17] kimubach commented on #282
Solved!

Answer found at slackoverflow:
http://stackoverflow.com/questions/39964949/phppresentation-file-with-2-slides-requires-repair

Copy the layout.

$objPHPPresentation = new PhpPresentation();
$oMasterSlide = $objPHPPresentation->getAllMasterSlides()[0];
$oSlideLayout = $oMasterSlide->getAllSlideLayouts()[0];

Then copy the layout to each new slide:

$currentSlide->setSlideLayout($oSlideLayo

[2016-10-18 21:42] meriemagg commented on #132
i am having the same issue! the pptx that i am creating contains up to 2000 slides (on each slide there's an image)  50 to 100 images are  missing
i am using the latest version of phppresentation 0.7.0

[2016-10-20 11:46] Ashishkumar1 commented on #49
how can i add image through hyperlink in phpoffice presentation

[2016-10-20 12:27] JewrassicPark commented on #49
@Ashishkumar1

This is my code to add an image to the current slide:

[code]

[2016-10-22 09:58] santhosh1330 commented on #89
Hi, when i tried to open presentation in mac it showing "font calibire is not available and replaced by Trebuchet MS" message is showing. But it is working fine in windows.

[2016-10-22 10:00] santhosh1330 commented on #89
[Behieve(2).pptx](https://github.com/PHPOffice/PHPPresentation/files/545718/Behieve.2.pptx)
This is the file which i generated and showing error for me.

[2016-10-25 20:14] JewrassicPark opened #285 "Video embedding causing errors"
I'm still looking into it but I believe video embeds cause errors currently

I believe the issue is that the blip embed field when you're righting a video, refers to the video as well. When created in PowerPoint, the blip embed field refers to a static image of the video. Without this image, the video doesn't embed properly (though it will still run when play is clicked).

[code]

That is the bloc

[2016-10-26 15:24] JewrassicPark commented on #285
Alright my solution is hacky so far and I still need to workout how to play the video on click or autoplay, right now.

Added to Media.php

[code]

Added to PptMedia.php to write the image into the media folder
[code]

Added to PptSlides.php where the relationships are written for media
- It needs to have a slidelayout, i dont know why, so I added slidelayout1 if the slide doesnt have a slidelayou

[2016-10-27 07:50] Progi1984 commented on #211
@Napryc I just modified your fix. Could you test the PR #286 ?

[2016-10-27 07:57] Progi1984 commented on #212
@Napryc I just modified your fix. Could you test the PR #287 ?

[2016-10-27 08:07] Progi1984 commented on #233
@slewitan It's not a solution that you brings here.

You override ```$alpha``` if it is defined.
You should define the alpha value in your ```->setColor()``` use.

[2016-10-27 08:25] Progi1984 commented on #267
@pgee70 I just modified your fix. Could you test the PR #288 ?

[2016-10-27 09:08] Progi1984 commented on #268
@pgee70 I just modified your fix. Could you test the PR #289 ?

[2016-10-27 13:12] slewitan commented on #233
@Progi1984,
I don't see how to set alpha in setColor it only excepts a color

    public function setColor(StyleColor $color = null)
    {
        $this->color = $color;
        return $this;
    }

can you please explain?

[2016-10-27 14:10] JewrassicPark commented on #285
I've added to the writeSlideAnimations function in the PptSlides class. I could only get the video playing to work when the video is added in an animation (appear). It seems like the video playing stuff is bundled together with animations.

[code]

[2016-10-27 14:11] JewrassicPark commented on #285
Also, unreleated to the animation stuff but I discovered my code in the second post only works for one video per slide right now

[2016-11-04 15:16] jmagnone opened #291 "Styles are lost after a simple Load & Save action (Reading and Writing)"
I am trying to use the library for the first time to edit some text placeholders in a presentation (pptx or odp).

After loading the presentation with:

[code]
and then writing it to the output file as follows (where $writer is any of the available writers):

[code]

the final presentation's shapes lost many of its styles and properties. Also, images embedded in the slide are lost.

A few comments

[2016-11-04 21:20] Progi1984 commented on #268
@pgee70 Some feedback, please.

[2016-11-04 21:20] Progi1984 commented on #267
@pgee70 Some feedback, please.

[2016-11-04 21:20] Progi1984 commented on #212
@Napryc Some feedback, please.

[2016-11-04 21:20] Progi1984 commented on #211
@Napryc Some feedback, please.

[2016-11-08 14:32] Progi1984 commented on #233
@slewitan You can define your color in ARGB (Alpha Red Green Blue) mode.

https://github.com/PHPOffice/PHPPresentation/blob/develop/src/PhpPresentation/Style/Color.php#L80

[2016-11-08 14:51] Progi1984 commented on #49
Thanks @JewrassicPark for the support :)

[2016-11-08 15:34] slewitan commented on #233
@Progi1984,
Thank you will look in to it.

[2016-11-08 16:43] Progi1984 commented on #233
@slewitan Perfect :)

[2016-11-08 16:43] #233 closed

[2016-11-13 13:32] ybstrong opened #292 "How to customize the color and linestyle of the axisX and axisY"
Hi, thank you for the great work! I have two questions:
1. How to customize the color and linestyle of the X-axis and Y-axis?
2.  How to display the tickMarks of the X-axis and Y-axis?

[2016-11-13 13:50] ybstrong opened #293 "Cannot enlarge the size of the Bar3D's graph"
I have tested the function 'fnSlide_Bar3D'  in the 'sample_05_chart', it works well, but when I enlarged the size of  the plotarea, the size of the graph didn't change.
[bar3d.pptx](https://github.com/PHPOffice/PHPPresentation/files/587766/bar3d.pptx)

[2016-11-14 15:04] ybstrong commented on #292
To  solve question 1,
first, I have added a 'Outline'(PhpOffice\PhpPresentation\Style\Outline) property to PhpOffice\PhpPresentation\Shape\Chart\Axis, and add get/set methods; then add some codes to function _construct, like this:
public function __construct($title = 'Axis Title')
    {
        $this->title = $title;
        $this->font  = new Font();
        $this->outline = new Outline();

[2016-11-16 12:41] Progi1984 commented on #266
@pgee70 @alejandrososa @JakeSamson @peder-andfrankly @ryanhattam : Could you test the last version of the develop branch ? @jrking4 has fixed its version for PowerPoint for Mac

[2016-11-16 12:41] Progi1984 commented on #276
@gurnzbot @informed-source @jamesggordon : Could you test the last version of the develop branch ? @jrking4 has fixed its version for PowerPoint for Mac

[2016-11-16 13:10] informed-source commented on #276
Will do.

On 16 Nov 2016, at 12:42, Progi1984 <notifications@github.com> wrote:

@gurnzbot <https://github.com/gurnzbot> @informed-source <https://github.com/informed-source> @jamesggordon <https://github.com/jamesggordon> : Could you test the last version of the develop branch ? @jrking4 <https://github.com/jrking4> has fixed its version for PowerPoint for Mac

—
You are receiving this because yo

[2016-11-17 01:43] jamesggordon commented on #276
I am still receiving the error: PowerPoint found a problem with content in the file xyz.pptx. PowerPoint can attempt to repair the file. If you trust the source of this file, click "Repair".

My file is quite complicated and uses a lot of in-memory drawing objects and other features. What I will do is strip it back step-by-step until I can generate a clean file and then I'll be able to identify wh