[2016-11-17 04:21] ybstrong commented on #293
I found the value of  **'autoscale'** property in '**3-D Rotation**' is **_false_**, if set the value to _'true_', the problem above could be solved. But where and how to set the value to '_true_' in program?

[2016-11-17 07:56] Progi1984 opened #295 "Split cells vertically"
From @suz :  http://stackoverflow.com/questions/40628348/phppowerpoint-split-cells-vertically

I use PHPPowerPoint library to create a table in my presentation. Currently, I'm looking for a equivalent method of PP "split cells" option (as in picture below).

![](https://i.stack.imgur.com/laFIq.png)

I would like to split a cell vertically - in two columns.

Question: How can I split a cell in two

[2016-11-19 06:22] jamesggordon commented on #276
There seems to be a problem rendering images using the `createDrawingShape()` method.

As a simple test, I ran `Sample_01_Simple.php` from the *samples* folder and when I opened the generated file I got the error (I'm running the latest version of PowerPoint for Mac - 15.28). I opened the same file on PowerPoint 2007 SP3 on Windows and still got the error.

But when I commented out lines 29 to 39

[2016-11-19 16:31] informed-source commented on #276
I also get a PowerPoint error. I am still using PowerPoint for Mac 2011 14.5.2.
With Sample_01_Simple.php, opening the resulting .pptx file causes a PowerPoint error:
   PowerPoint found a problem with the content in the file Sample_01_Simple.pptx.
   PowerPoint can attempt to repair the file. If you trust the source of the file, click Repair.
Clicking Cancel produces the PowerPoint error:
   Powe

[2016-11-19 16:37] informed-source commented on #276
I might add that with my own script, with the working version of PHPPresentation, opening the generated file in PowerPoint and then saving it from PowerPoint allows it to be opened in Keynote, with the chart intact. This suggests there is something different with the structure or syntax of the file generated by PHPPresentation.

[2016-11-26 21:27] dophil opened #297 "samples crash and logo.gif"
Hello,

PHPPRESENTATION 0.6.0, and Office 2016 on MACOS.

When I use the samples, the file is correctly created but when PowerPoint read it a problem occurred. Powerpoint repair the file and after I can read the file. But the logo is not display ( Shadow is ok )

Si, if I remove this part of code all is OK and Powerpoint read the file correctly without repair needed.

$shape->setName('PHPPresentat

[2016-11-26 21:30] dophil commented on #266
hello,

I just created another issue because .gif cause issue on PowerPoint Mac. I don't know if there is a relation.

regards

philippe

[2016-11-27 11:52] #297 closed

[2016-11-29 11:15] alexis-magina commented on #148
Hi,
Same issue for me.
I'm trying to merge files and all the shapes are gone, text attributes are resetted to default.
This issue is related to #280, #291

[2016-11-29 11:56] alexis-magina commented on #148
Stupid question, i'm very new on this project, but I'm investigate on how the reader works :
It seems that the reader on file PowerPoint2007.php loops on every elements and check for every attributes with hasAttribute/getAttribute methods and then reapply them one by one.
Why is it not possible to copy/paste all the content, or simply the loop with a method element->setAttribute(getAttribute(X)) ?

[2016-12-06 04:03] TuanTran07 opened #298 "data axis Y value not show"
I used 0.6.0 version of phppresentation, I exported ppt file but data AxisY has problem.
Anyone can help! I attached my picture and my sample file.
1. On left sidebar, we can see data AxisY.
2. When i clicked each slide so AxisY hidden.
3. I copy this chart to another chart, data AxisY shown.
Thank you.

![2016-12-06_105632](https://cloud.githubusercontent.com/assets/18588809/20912705/286e6868-bba

[2016-12-06 07:08] TuanTran07 commented on #267
@Progi1984 Can you help me with this issue? Thanks.
https://github.com/PHPOffice/PHPPresentation/issues/298

[2016-12-08 07:43] #298 closed

[2016-12-21 10:10] Progi1984 commented on #278
@amirakbari Have you got some more information for this issue ?

[2016-12-21 10:12] Progi1984 commented on #211
@Napryc Some feedback, please :)

[2016-12-21 10:12] Progi1984 commented on #212
@Napryc Some feedback, please.

[2016-12-21 10:12] Progi1984 commented on #267
@pgee70 Some feedback, please.

[2016-12-21 10:12] Progi1984 commented on #268
@pgee70 Some feedback, please.

[2016-12-21 10:37] pgee70 commented on #267
Hi.  If the X and Y titles are now visible in Sample_05_Chart_with_PHPExcel  then call it fixed!

[2016-12-21 13:33] jvanoostrom opened #302 "PPTX 2016 needs repairing when adding image"
Hi,

When adding an image, the PPTX needs repairing. When there is no image added, the PPTX works just fine. I am using PowerPoint 2016.

Please find the used code below. I have added a piece of text, to illustrate that, when the image part is commented, no errors occur.

Please note that whenever there is only one image present, it also gives an error saying "image not found". If the image code i

[2016-12-23 07:22] amirakbari commented on #278
when I create a short url by google like as this: https://goo.gl/3LZSHK
and put it on a url I get a error :  it is not standard url
when i change url extension ".gl" to other extension like as ".us" error resolved

[2016-12-23 13:51] Progi1984 commented on #274
@zhaozhi406 Could you test this PR #303 ? Thanks

[2016-12-23 13:51] Progi1984 commented on #282
@kimubach Could you test this PR #303 ? Please and thanks for advance

[2016-12-23 13:51] Progi1984 commented on #276
@informed-source  Could you test this PR #303 ? Please and thanks for advance

[2016-12-23 13:52] Progi1984 commented on #302
@jvanoostrom  Could you test this PR #303 ? Please and thanks for advance

[2016-12-23 13:52] Progi1984 commented on #266
@dophil  Could you test this PR #303 ? Please and thanks for advance

[2016-12-23 13:56] jvanoostrom commented on #302
Will do this afternoon or tomorrow morning, thanks!

[2016-12-23 14:02] Progi1984 commented on #302
@jvanoostrom You rocks 😄 ! I tested with all samples on PowerPoint 2007, but real issuer is better.

[2016-12-23 14:12] Progi1984 commented on #255
@informed-source Could you test this PR #303 ? Please and thanks for advance

[2016-12-24 08:21] jvanoostrom commented on #302
Hi there,

I've reviewed the changes using my own written scripts. The "repair" error is gone in PPT2016. Furthermore, the "first" image on the slide now properly works (no "image cannot be displayed" error).

Thanks for the fix!

[2016-12-31 09:43] Vlaoff opened #305 "Cannot load Tables with Reader"
Hello,

I'm not sure if it's a real bug or I'm doing it wrong, but there is my issue.

I load a .pptx file using
`
$pptReader = IOFactory::createReader('PowerPoint2007');
$oPHPPresentation = $pptReader->load('resources/template_test.pptx');
`

Then save it using

`
$oWriterODP = IOFactory::createWriter($oPHPPresentation , 'PowerPoint2007');
$filename = strtotime("now").".pptx";
$oWriterODP->save($

[2017-01-02 10:02] Progi1984 commented on #305
@Vlaoff Can you give us a sample pptx file with table, please ?

[2017-01-09 12:52] Progi1984 opened #308 "PPTX with Charts : Compatibility with Keynote"
PPTX with Charts are not compatible with Keynote.

Poke @informed-source

[2017-01-09 12:53] Progi1984 commented on #274
@zhaozhi406 The PR #303 has been merged. Thanks.

[2017-01-09 12:53] #274 closed

[2017-01-09 12:53] Progi1984 commented on #282
@kimubach The PR #303 has been merged in develop branch. Thanks.

[2017-01-09 12:53] #282 closed

[2017-01-09 12:54] Progi1984 commented on #276
@informed-source @jamesggordon @gurnzbot The PR #303 has been merged in develop branch. Thanks.

[2017-01-09 12:54] #276 closed

[2017-01-09 12:54] Progi1984 commented on #302
@jvanoostrom The PR #303 has been merged in develop branch. Thanks.

[2017-01-09 12:54] #302 closed

[2017-01-09 12:55] Progi1984 commented on #266
@pgee70 @dophil @peder-andfrankly @alejandrososa @JakeSamson @ryanhattam The PR #303 has been merged in develop branch. Thanks.

[2017-01-09 12:55] #266 closed

[2017-01-09 12:56] Progi1984 commented on #255
@informed-source The PR #303 has been merged in develop branch. Thanks.

[2017-01-09 12:59] Progi1984 commented on #245
@MariaGabriel108 Have you got always the problem with the develop branch ?

[2017-01-10 21:03] eL-Prova opened #309 "Is it possible to use a tab in text?"
Hi all,

I use the method for formatting my text. Using the method createTextRun.
Is it possible to use a tab in my text? So i can format my text on 2 lines on same start location.

Kind regards

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40820125-is-it-possible-to-use-a-tab-in-text?utm_campaign=plugin&utm_content=tracker%2F3231

[2017-01-13 11:51] nitishkh opened #310 "Repair issue when opening the file in Microsoft Powerpoint 2010"
Hi Guys,

I'm getting an issue when opening the file in powerpoint 2010 and writing it back to 2007. I have applied a image background in all 3 of my slides. It says "This image currently cannot be displayed" when I open the written file. My png turns to a jpg file as well. I have attached the ppt files below:

[sample.pptx](https://github.com/PHPOffice/PHPPresentation/files/704190/sample.pptx)
[T

[2017-01-13 14:51] Progi1984 commented on #310
@nitishkh Have you got the problem with the latest version of develop branch ?

[2017-01-13 21:07] Progi1984 commented on #308
@informed-source : I may have find the problem with Keynote.
Could you download and test these two files ?

[OutputChart_PowerPoint.pptx](https://github.com/PHPOffice/PHPPresentation/files/705281/OutputChart_PowerPoint.pptx)
[OutputChart_LibreOffice.pptx](https://github.com/PHPOffice/PHPPresentation/files/705282/OutputChart_LibreOffice.pptx)

If it's what I think :
* "OutputChart_PowerPoint.pptx"

[2017-01-13 21:09] informed-source commented on #308
Checking...

[2017-01-13 21:15] informed-source commented on #308
I can confirm that behaviour.
OutputChart_PowerPoint.pptx opens in PowerPoint and Keynote and displays chart as expected.
OutputChart_LibreOffice.pptx opens in PowerPoint and displays chart as expected; fails to open in Keynote with error: "... can't be opened for some reason."

[2017-01-13 21:18] Progi1984 commented on #308
So If you have the problem, Keynote only support embedding spreadsheets for chart.

You need to use in your chart for Keynote :
[code]

[2017-01-13 23:37] informed-source commented on #308
Thanks, will check.

So, output .pptx from Sample_05_Chart.php opens in PowerPoint but does not open in Keynote.
The output .pptx from Sample_05_Chart_with_PHPExcel.php opens in PowerPoint, and opens in Keynote but does not display the chart on the first slide but the pie chart on the second slide displays.

I have created a simple test file based on the charts I am attempting to generate. This al

[2017-01-14 12:47] #211 closed

[2017-01-14 12:47] Progi1984 commented on #211
Fixed in develop branch

[2017-01-15 12:32] Progi1984 commented on #212
Fixed in develop branch

[2017-01-15 12:32] #212 closed

[2017-01-15 13:05] Progi1984 commented on #267
@pgee70 Fixed in develop branch

[2017-01-15 13:05] #267 closed

[2017-01-15 13:19] Progi1984 commented on #268
@pgee70 Fixed in develop branch

[2017-01-15 13:19] #268 closed

[2017-01-16 07:28] nitishkh commented on #310
Thanks for the reply Progi1984. Yes I'm using the latest develop branch files. The repair issue keeps coming out as I open the newly generated powerpoint. I have attached my ppt files above and my codes seem to be fine.

[2017-01-16 10:34] Progi1984 commented on #89
@vce-wabbott Have you got always the problem with latest version of the develop branch ?

CC: @meriemagg (No Problem, I'm french), @Johnfredadams @santhosh1330

[2017-01-16 10:36] Progi1984 commented on #7
@ed1023 Have you got the problem with the latest version of the develop branch ?

[2017-01-17 11:15] giker commented on #291
I have similar problem.

When doing this:
`
$pptReader = IOFactory::createReader('PowerPoint2007');
$oPHPPresentation = $pptReader->load('my_file.pptx');
echo write($oPHPPresentation, basename(__FILE__, '.php'), $writers);
`

I'm getting almost the same file, just all styling and images are missing :(

Any workaround for that?

Thanks!

[2017-01-18 09:10] nitishkh commented on #310
I'm adding a bounty of $10 to whoever can help us solve this issue.

Cheers

[2017-01-18 18:51] MuFa117 opened #312 "Shape overflow"
Hello,

I'm trying to add dynamic sized table inside slide. I have an issue to determine when number of rows exceed the table shape size.
Eg.
- I created 500 x 1000 two columns table shape.
- My offset for table shape is X:200, Y:200
- I'm adding rows with 50 height size

I have couple ideas how to manage it, but I'm missing one information and can't find out if there is a way to get it. Unfortune

[2017-01-19 16:04] alexdemers opened #313 "Add custom document properties"
It is possible to add predefined document properties such as creator, category, company etc. but not custom document properties like PhpSpreadsheet and PhpWord does.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41123602-add-custom-document-properties?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=gi

[2017-01-23 10:23] abhikakade commented on #310
I also facing similar issues, with the sample code of Sample_01_simple.php. I am also using latest version of phppresentation i.e. as per composer 0.7.0 (but version file inside package says 0.6.0). I tried it with office 2010 and 2013 getting repair error mentioned above. Appreciated any help on this.

[2017-01-23 11:27] abhikakade opened #314 "Add images to PPT from remote location"
Is there any way to add images to ppt from remote location (external url). I have tried below code but got file not found error..

[code]

[2017-01-23 12:22] eL-Prova commented on #309
bump

[2017-01-24 22:28] Lews19 opened #316 "Insert PDF image"
Hi,
I am trying to add a PDF image into powerpoint. It works in PowerPoint for Mac, but not in Windows versions of PowerPoint.

`$shape = $currentSlide->createDrawingShape();
$shape->setName('pdfimage')
			      ->setDescription('pdfimage')
			      ->setPath(dirname(__DIR__).'/PDFs/pdfImage.pdf')
			      ->setResizeProportional(false)
			      ->setWidth(200)
			      ->setHeight(200)
			      -

[2017-01-27 15:53] atfergus commented on #314
@abhikakade There's an example in the samples:

https://github.com/PHPOffice/PHPPresentation/blob/develop/samples/Sample_03_Image.php#L59

The gist is:

[code]

In my particular usage of this method, setResizeProportional was required to get images to show and I also had to tweak the dimensions or the images would not appear.

[2017-01-30 18:31] mosaiceye opened #317 "Error: "No displayable content??""
I just checked out the library, running it on Mac OS X 10.12.3, with the latest version of MAMP. And all of the examples seem to run fine with no errors and the .ppt file is generated. However, I'm unable to open it. I'm using PowerPoint 2011 for Mac.

Any ideas, is this library not compatible to run locally on a mac? See my sample file attached.?
[sample.pptx](https://github.com/PHPOffice/PHPPres

[2017-01-30 18:45] mosaiceye commented on #317
I had to add these lines to the simple example:

// Setup
$objPHPPresentation = new PhpPresentation();
$oMasterSlide = $objPHPPresentation->getAllMasterSlides()[0];
$oSlideLayout = $oMasterSlide->getAllSlideLayouts()[0];

// Create slide
$currentSlide = $objPHPPresentation->getActiveSlide();
$currentSlide->setSlideLayout($oSlideLayout);

Now it works.

[2017-01-30 18:45] #317 closed

[2017-02-01 09:25] meriemagg commented on #89
@Progi1984  Actually, i get the error message when the generated document contains special characters.
in my app i need to generate multiple slides, in each slide i display information retrieved from my database.
 I dida little test when i replaced all the variables by the value "test" i had another error message but the content of the document was intact.
but when i replaced the variables with "t

[2017-02-01 10:06] #283 closed

[2017-02-02 06:56] ellisgl commented on #273
Yeah - there's a Right / Left margin for paragraphs, but not for cells.

[2017-02-03 12:59] abhikakade commented on #310
Similar issue in Office 2016, generated PPT is not opening at all even after clicking on repair option :(

[2017-02-06 13:01] jvanoostrom opened #318 "Special character from database"
Hello,

I have a Powerpoint-writer that grabs data from a database and dynamically fills the Powerpoint. This data is submitted via user forms elsewhere. The database encoding is utf8mb4. The problem is the following:

When there is a ë or ï or any of those characters in the database, it breaks the Powerpoint slide it should be displayed to. The information is stored and retrieved correctly to and

[2017-02-07 11:35] Progi1984 commented on #133
Ref : https://twitter.com/TcitWorld/status/828915102594265088 by @tcitworld

[2017-02-08 13:51] nitrocode opened #319 "Feature request: set showLegendKey for Pie Chart"
I'm trying to set the property `showLegendKey` and the API doesn't have that ability.

I saved my PPTX in 2 locations, one with `Legend Key` checked and one without. Extracted both archives and found that `chart5.xml` differed. The following formatted snippet XML is the difference.

[code]

How difficult would it be to add this? Or has is already been added?

<bountysource-plugin>

---
Want to bac

[2017-02-09 10:24] jvanoostrom commented on #318
Issue can be closed. I have been using `strtolower()` rather than `mb_strtolower()`.

[2017-02-09 10:24] #318 closed

[2017-02-10 08:47] abhikakade commented on #310
HI Everyone - Checked out code from DEV-Master branch again and solved this issue for me, Now PPT is opening in both MS - Office 2013 & 2016.

[2017-02-10 12:19] tcitworld opened #320 "Parsing text with different styles"
Having the following :
[code]
Only the content of `text:span` is returned for the paragraph.

Related : The text inside the paragraph is parsed only if there's no spans inside. https://github.com/PHPOffice/PHPPresentation/blob/develop/src/PhpPresentation/Reader/ODPresentation.php#L441L452

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2017-02-14 04:38] davemulder commented on #83
Tested with PHPPresentation 0.7 and what I noted in my previous comment is still an issue with Keynote. Any programmatically created notes seem to generate a PPTX file that cannot be opened in Keynote.

Based on thorough inspection of the PHPPresentation-generated PPTX, it seems that it's missing "notesMasters" despite having slide notes present. The PPTX still validates (using the Open XML valida

[2017-02-14 09:01] zhaozhi406 opened #323 "after edit an existing ppt file, images and formats lost"
I want to edit an existing pptx file, it already has some slides, and there are images in some of the slides, and slides' font has been formatted. But after I open it and save it, the images and font formats are all disappeared, why? The code is below:

[code]

[2017-02-20 13:25] cokuna-pavelkosolapov opened #324 "Division by zero by trying to set width and/or height on empty drawing shape"
If you try to set width and/or height by empty Drawing Shape instance, the Resize Proportional property is by default true, because of that it triggers „Division by zero“ error.
`$object = new Drawing();`
`$object->setWidth(100)->setHeight(50); #or $object->setWidthAndHeight(100,50)`
it brings error: "Division by zero"

I fixed this issue and wanted to upload bug-fix (pull-request), but i have no

[2017-02-20 18:05] diogoico commented on #310
Same problem here, even if I just generate a empty pptx it asks me to repair and then it works properly...
I'm using PHPPresentation-0.7.0 downloaded and Common-0.2.6 both downloaded manually.

[2017-02-23 11:36] terion-name opened #325 "Build slide with web viewer app"
Is there a way to create a slide with embeded web page (using https://store.office.com/ru-ru/app.aspx?assetid=WA104295828&ui=ru-RU&rs=ru-RU&ad=RU&appredirect=false for example)?

[2017-02-23 17:18] jasonhuhx opened #326 "Unable to read slide note"
I am trying to read slide note from an external .pptx file, however unable to get slide note text. The `slideNote` property inside `PhpOffice\PhpPresentation\Slide\SlideLayout` is always `null`.

Here is my code trying to retrieve note text from a slide

[code]

[Sample_09_SlideNote.pptx](https://github.com/PHPOffice/PHPPresentation/files/797203/Sample_09_SlideNote.pptx)

[2017-02-25 13:51] #320 closed

[2017-02-25 14:37] Progi1984 commented on #273
Fixed in develop branch ✔️ (w/ unit tests and [documentation](http://phppresentation.readthedocs.io/en/develop/shapes_table.html#define-margins-of-a-cell))

[2017-02-25 14:37] #273 closed

[2017-02-25 14:43] Progi1984 commented on #264
Fixed in develop branch.

[2017-02-25 14:43] #264 closed

[2017-02-26 04:56] necouchman opened #328 "Advanced Alignment Features"
First, this is a fantastic project - thank you for your work and for making it available in an open source format.

The following things do not seem to be possible without some guess-work:
- Centering an object (for example, a text box) within the slide
- Getting the height and width of a slide
- Setting the X/Y offset from the bottom/right of a slide

These are all items that are useful for layin

[2017-02-26 05:04] necouchman commented on #328
So, I will comment that I just found the getCX and getCY methods, and it appear that those are some function of the X/Y size of the presentation, though they seem to be some large multiple of the pixel size.  Maybe this will help with some of it, though the other items would still be nice.

[2017-02-28 15:03] arkandel opened #329 "Issue loading then saving .PPTX file"
Hey there,

I'm having issues just loading a PowerPoint 2007 (.pptx) file then saving it again. Even without making any changes to it the images from the original file end up missing.
[code]

In this snippet for example after I execute it, the output file is only 25321 bytes compared to the original which is 109363 bytes long - due to the images.

No errors are generated. I've tried it with both t

[2017-02-28 19:00] eL-Prova commented on #310
@abhikakade what was your fix? Maybe you can fix it for this repo?

[2017-03-01 05:03] abhikakade commented on #310
The issue was with master branch .. I checked out dev branch code and that
fixed repair issue for me.

On Mar 1, 2017 12:30 AM, "eL-Prova" <notifications@github.com> wrote:

[2017-03-01 13:26] PhDSM commented on #89
Hi,
I have the same problem, even using Samples I got the repair issue when opening with PPT 2010 or 2013 (French language version).
I also tried with an empty slide and still got the repair question
Each time the file is correct after repair but the question is really annoying.

With  Mac  PPT 2011 I get a PPT crash with no message.
I tried both with Master and latest development release
What sho

[2017-03-02 04:22] blu3print opened #330 "Cannot use background image in master slide"
I currently am using the same code over and over to create the slide look and feel.

It includes using a background image. When I use the same code with createMasterSlide() it says the image cannot be displayed in the master section.

I tried marking the image as a placeholder but that does not seem to exist.

What is the correct way to do this?

<bountysource-plugin>

---
Want to back this issue?

[2017-03-02 08:10] Progi1984 commented on #310
@nitishkh : Could you test with the latest version of the **develop** branch ?

[2017-03-02 22:11] #256 closed

[2017-03-02 22:17] Progi1984 commented on #275
@alejandrososa Hi, I have no problem with the sample. Could you test with the develop branch ?

![image](https://cloud.githubusercontent.com/assets/1533248/23529545/52aad060-ff9e-11e6-85b9-b3be0b57f044.png)

[2017-03-02 22:51] Progi1984 commented on #272
Link to PR #332

[2017-03-03 07:37] Progi1984 commented on #272
Merged in develop branch.

[2017-03-03 07:37] #272 closed

[2017-03-03 07:56] Progi1984 commented on #269
@pgee70 I don't find the option in PowerPoint2007. Do you know where it is ?

[2017-03-03 09:16] Progi1984 commented on #269
PR : #333

[2017-03-03 09:44] Progi1984 commented on #269
Merged in develop branch.

[2017-03-03 09:44] #269 closed

[2017-03-03 10:39] Progi1984 commented on #265
PR : #334

[2017-03-03 10:51] Progi1984 commented on #265
Merged in develop branch.

[2017-03-03 10:51] #265 closed

[2017-03-03 11:01] Progi1984 commented on #255
@informed-source Could you test the PR #255 ? Please, I need to merge it :)

[2017-03-03 11:02] Progi1984 commented on #245
@MariaGabriel108 Have you got always the problem with the develop branch ?

[2017-03-03 11:44] #143 closed

[2017-03-05 13:35] Progi1984 commented on #319
PR : #336

[2017-03-05 13:36] Progi1984 commented on #240
PR : #335

[2017-03-05 13:58] Progi1984 commented on #319
Merged in develop branch.

[2017-03-05 13:59] #319 closed

[2017-03-05 15:13] Progi1984 commented on #240
Merged in develop branch.

[2017-03-05 15:13] #240 closed

[2017-03-05 16:11] Progi1984 commented on #226
PR #337

[2017-03-05 21:35] Progi1984 commented on #226
PowerPoint97 & PowerPoint2007 Readers : Support of Slide Note

[2017-03-05 21:35] #226 closed

[2017-03-05 21:36] Progi1984 commented on #222
Fixed in #226 (for PowerPoint97 & PowerPoint2007)

[2017-03-05 21:36] #222 closed

[2017-03-05 22:19] Progi1984 commented on #225
Fixed links in Readme.md on the develop branch.

[2017-03-05 22:20] #225 closed

[2017-03-05 23:03] Progi1984 commented on #142
@disiri & @Pei-Lun : Now with the develop branch, you can read table shapes in PowerPoint2007.

Could you test it ?

[2017-03-05 23:04] #163 closed

[2017-03-05 23:38] Progi1984 commented on #218
PR #339

[2017-03-06 10:24] sangramsingh67 commented on #100
### Sangram Singh ####

[2017-03-06 14:27] dookieffs opened #340 "Using SHAPE FILL and SHADOW does not work properly"
Instead of adding shadow to richText as desired, shadow ends up on shape container with FILL value,
IF I remove FILL, shadow behaves as expected.

[2017-03-06 17:03] informed-source commented on #255
Tested and working. Thanks.
It was not immediately obvious how to achieve the equivalent of PowerPoint Format>Axis>Line>No Line.
Tried
$oOutlineAxisY->getFill()->setFillType(Fill::FILL_NONE)
but that did not seem to work
Tried
$oOutlineAxisY->setWidth(0);
and that did not appear to work either.
Tried
$oOutlineAxisY->getFill()->getStartColor()->setRGB('FFFFFF');
Which works sets it to the same colo

[2017-03-06 17:48] #218 closed

[2017-03-06 19:28] Progi1984 commented on #255
@informed-source I just fixed the

[code]

For the moment, the only way is :
[code]

Could you test the PR #263 ? Please, I need to merge it :)

[2017-03-06 19:30] Progi1984 commented on #340
@dookieffs Could you give us some sample code and screenshot ?

[2017-03-06 19:32] Progi1984 commented on #326
@jasonhuhx Could you test the develop branch ? Normally, it's done for PowerPoint2007 & PowerPoint97.

[2017-03-06 21:05] Progi1984 commented on #292
@ybstrong Ever pushed in the develop branch. Thanks for your share :)

[2017-03-06 21:06] #292 closed

[2017-03-06 21:25] jasonhuhx commented on #326
@Progi1984  Confirmed working for PowerPoint2007. Here is my code to retrieve plain text from slide notes:

[code]

However I'm untable to test PowerPoint97 because the following code is giving me error `PowerPoint97 Reader : readRecordOfficeArtSpgrContainer.`

[code]

The .ppt file I'm using is converted down from .pptx, on PowerPoint for Mac.

[Sample_09_SlideNote.ppt.zip](https://github.com/PHP

[2017-03-06 21:52] Progi1984 commented on #293
PR #341

[2017-03-06 22:15] Progi1984 commented on #293
Merged in develop branch...

With its documentation : http://phppresentation.readthedocs.io/en/develop/shapes_chart.html#view3d

[2017-03-06 22:15] #293 closed

[2017-03-06 23:44] Progi1984 commented on #326
PR #342

[2017-03-07 08:25] dookieffs commented on #340
![screenshot from 2017-03-07 09 17 53](https://cloud.githubusercontent.com/assets/26225574/23647665/37f58b6c-0317-11e7-9c30-fa221757fbf3.png)
![screenshot from 2017-03-07 09 19 06](https://cloud.githubusercontent.com/assets/26225574/23647664/37ef986a-0317-11e7-8195-478a07d64724.png)

As you can see shadow is being applied to the fill of the shape, not the text.

sample code:
1)Part of the function

[2017-03-07 09:02] informed-source commented on #255
Excellent. This now works for me:
`$oOutlineAxisY->getFill()->setFillType(Fill::FILL_NONE);`

Thanks again.

[2017-03-08 13:52] abhikakade opened #343 "Memory exhaust error"
Hi All,

I am trying to write large ppt file with approx 200 slides that contains images/text. Normal loop is throwing memory exhausted error - my current memory limit in .ini is 4GB.

Is there any alternate way to write large files ?

[2017-03-08 16:55] santiyank opened #344 "Style / Color"
When i use this :

[code]

I can't see `$text`  in the Slide.

The real problem is `new Color ( $color )`  ,  so i change the min range to get alfa( 6 )  to 8   in [PHPPresentation/src/PhpPresentation/Style/Color.php](https://github.com/PHPOffice/PHPPresentation/blob/develop/src/PhpPresentation/Style/Color.php#L95)

[code]

Preview :

[code]
Now works,  but i need to know if this really work or no

[2017-03-09 09:07] vtiertant commented on #344
Hello,

Look the Color construct, this is not hexadecimal but argb.
Add 'FF' in front off your color .

`$Color = 'FF004B87';`

Sorry too for my english ;)

[2017-03-09 09:14] santiyank commented on #344
**Oh, that's great. I didn't thought to change the color format, Thank you so much.**

[2017-03-09 09:15] #344 closed

[2017-03-09 09:25] vtiertant opened #345 "PowerPoint cant read the content and repair him"
Hello,

I have generate a powerpoint with texts, images, tables, ..., and i have an error when i open the file with PowerPoint (not with LibreOffice, it works) :

In french :

In English :

After many search, i note that is the addText function which cause the problem.
Indeed, i use function createTextRun from Shape\RicheText which use addText in createTextRun from Shape\RichText\Paragraph.

When

[2017-03-09 19:40] Progi1984 commented on #255
Merged in develop branch.

[2017-03-09 19:40] #255 closed

[2017-03-13 13:18] Progi1984 commented on #345
@vtiertant If you comment this line, normally, the text is not added to your document. Ok with that ?

[2017-03-13 13:19] Progi1984 commented on #330
@blu3print Could you give us a sample code for testing ?

[2017-03-13 13:21] Progi1984 commented on #329
@arkandel It's normal. The reader create an abstraction of the presentation in memory (so it reads what he can read) and recreate a new presentation from this abstraction.

The difference is often features not supported by PhpPresentation.

[2017-03-13 13:22] Progi1984 commented on #328
@necouchman Have you some screenshots of the feature in PowerPoint ? or the render in a PPTX file, please ?

[2017-03-13 13:23] Progi1984 commented on #323
@zhaozhi406 It's normal. The reader create an abstraction of the presentation in memory (so it reads what he can read) and recreate a new presentation from this abstraction.

The difference is often features not supported by PhpPresentation.

[2017-03-13 13:24] vtiertant commented on #345
yes

[2017-03-13 13:25] Progi1984 commented on #314
@abhikakade The @atfergus' code has solved your problem ?

[2017-03-13 13:26] Progi1984 commented on #316
@Lews19 PDF file are not supported. I need to make some tests.

[2017-03-13 13:27] Progi1984 commented on #309
@eL-Prova Have you tried to concatenate a `chr(9)` ?

[2017-03-13 13:30] Progi1984 commented on #313
@alexdemers Thanks for the report. Added to the roadmap.

Some clues for a PR :
* https://github.com/PHPOffice/PhpSpreadsheet/blob/develop/src/PhpSpreadsheet/Document/Properties.php#L438
* https://github.com/PHPOffice/PhpSpreadsheet/blob/develop/src/PhpSpreadsheet/Writer/Xlsx/ContentTypes.php#L92
* https://github.com/PHPOffice/PhpSpreadsheet/blob/develop/src/PhpSpreadsheet/Writer/Xlsx/DocProps.php

[2017-03-13 13:33] Progi1984 commented on #345
@vtiertant Could you give us the simpliest code which generates a corrupted file ?

[2017-03-13 14:24] eL-Prova commented on #309
Hi @Progi1984,

Yes, I tried with that like:

$textRun = $shape->createTextRun('Thank you for using &#9; PHPPresentation!');

Any other idea's?

[2017-03-13 14:36] Progi1984 commented on #309
@eL-Prova May be that ?

[code]

[2017-03-13 16:13] blu3print commented on #330
@Progi1984

I can't share all of my code but here is what I had tried previously, relevant to the master slide generation:

`//General global objects
    $oBkgImageTitle = new Image();
    $oBkgImageTitle->setPath('wwwroot/assets/img/template-bg.jpg');
    $oBkgImageSlide = new Image();
    $oBkgImageSlide->setPath('wwwroot/assets/img/template-bg-2017.png');
//Master slides
$masterslides[$current_

[2017-03-14 05:14] abhikakade commented on #314
Yes that working .. i used curl call in my case to pull images from remote

On Mar 13, 2017 6:55 PM, "Progi1984" <notifications@github.com> wrote:

[2017-03-15 12:26] eL-Prova commented on #309
Hi @Progi1984,

No it seems it wont correctly transform it so the char seems ignored :-(
Any other idea's? (Ps tested in both formats and opened in Office 2013)

[2017-03-15 12:48] Progi1984 commented on #309
@eL-Prova I will investigate later.

[2017-03-17 13:20] rdoepke commented on #55
@Progi1984 Sorry haven't logged in to github for a while. I am no longer attached to the project in question and no longer have access to the codebase. Thus, I cannot test any more. Sorry about that.

[2017-03-17 15:14] Progi1984 commented on #55
@rdoepke Thank you for the feedback. I'll close the ticket.

[2017-03-17 15:14] #55 closed

[2017-03-21 21:58] xbitres commented on #310
@Progi1984 I also just updated to the development version and it still continues giving me a error asking for a repair. This happens on Windows 365 version as well as Mac version...

[2017-03-22 17:01] nugen opened #346 "Load and save ppt file - Layouts are broken"
Hi,
I encountered a problem with load a pptx template file and saving it. When trying to open the new one, powerpoint needs to repair it and the layouts are broken: some styles and images are missing.
So i start reading some issues on your github, and update your (wonderful) library to the latest developer version. And i tried to load/save your sample file Issue_00150.pptx as it contains some layo

[2017-03-23 08:26] Progi1984 commented on #346
@nugen Hi, It seems that Microsoft has not the same support for PPTX between different versions of PowerPoint.

That runs on PowerPoint2007 with the develop branch.
At this purpose, what is your version used ?

[2017-03-23 09:16] nugen commented on #346
@Progi1984 Hi, thanks for your reply. I'm working on Mac with Powerpoint 2011 version 14, with the last version of develop branch sources.
The strange thing, is that when i read your provided sample Issue_00150.pptx with PPT2011, all the layouts are ok, but when i load the new copied version, the layouts lose styles and images.
We should get the same result with the original or generated one, don'

[2017-03-23 09:19] Progi1984 commented on #346
@nugen Like I said in https://github.com/PHPOffice/PHPPresentation/issues/150#issuecomment-243991177

[2017-03-23 09:26] nugen commented on #346
@Progi1984 ok, thanks and look forward !

[2017-03-24 21:55] CarlosCraviotto commented on #221
👍

[2017-03-28 02:03] forexgg commented on #330
I have the same issue, only draw shape is working in master slide, not images.

[2017-03-28 12:52] maikgramatte opened #347 "Margins in Table Cell Paragraph"
Thanks for all who make this Repo going:

I saw https://github.com/PHPOffice/PHPPresentation/pull/327 that went to develop-Branch. To set the margins for left and right is working fine now, but not top and bottom. I can also reproduce it in the samples as there are clearly no top/bottom margins.

Thanks!

[2017-03-28 13:16] Gerdon262 commented on #89
Hi,

I'd like to know if there is already some kind of update on this issue.
Is the issue being worked on ?

Regards

[2017-03-28 13:24] Progi1984 commented on #89
@Gerdon262 Hi, the project is actually opened to pull request for fixing this issue.

[2017-03-29 13:41] Progi1984 commented on #347
@maikgramatte Could you give a screenshot of the bad render ?

[2017-03-29 21:42] rolandodt opened #348 "LInk to another slide in table cell"
How config PHPPresentation to set link to another slide in table cell

[2017-04-03 08:54] Progi1984 opened #349 "Release 0.9.0"
- [x] Wait that all tickets assigned to [Milestone v0.9.0](https://github.com/PHPOffice/PHPPresentation/milestone/9) are closed.
- [x] Create the [next milestone](https://github.com/PHPOffice/PHPPresentation/milestones/new)
- [x] Create the [next release ticket](https://github.com/PHPOffice/PHPPresentation/issues/new) => #378
- [x] Set date of the release in `CHANGELOG.md`.
- [x] Create and merge

[2017-04-04 06:57] Progi1984 commented on #5
@lejuraco PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 06:58] Progi1984 commented on #9
@fbenothman PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 06:58] Progi1984 commented on #84
@chuebert PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 06:58] Progi1984 commented on #85
@GavinMcL PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 06:59] Progi1984 commented on #90
@manikrds PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 06:59] Progi1984 commented on #91
@Gyzmoo PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 06:59] Progi1984 commented on #93
@chuebert PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 06:59] Progi1984 commented on #106
@Devintelligence PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 06:59] Progi1984 commented on #128
@shruti222patel PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 06:59] Progi1984 commented on #132
@RightHandedMonkey PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 07:00] Progi1984 commented on #155
@muhzak PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 07:00] Progi1984 commented on #171
@developerMediaXray PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 07:00] Progi1984 commented on #175
@pranshuagrawal PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 07:00] Progi1984 commented on #238
@maurocrispin21 PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 07:00] Progi1984 commented on #245
@MariaGabriel108 PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 07:01] Progi1984 commented on #275
@alejandrososa PhpPresentation 0.8.0 has been released. I would like to solve your issue for 0.9.0. Could you answer to my question ?

[2017-04-04 07:34] Progi1984 opened #351 "Drop the support for PHP < 7.1"
http://php.net/supported-versions.php

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43766263-drop-the-support-for-php-5-6?utm_campaign=plugin&utm_content=tracker%2F323104&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F323104&utm_m

[2017-04-04 08:14] Gerdon262 commented on #345
@Progi1984 I have some code that might be of some help.
This is just a simple code which adds the slides from one powerpoint file to a new one but in powerpoint 2016 it tells me to repair it.. (also tested with 2010/2007 - same results)

[code]

[2017-04-04 08:22] Progi1984 commented on #345
@Gerdon262 Your file `PUBLIC_DIR . 'uploads/test.pptx'` can be replaced by a sample ?

Have you tried with the latest develop branch ?

[2017-04-04 08:35] Gerdon262 commented on #345
What do you mean, like: I attach the files here ?

Yes, latest merge even with the master you did yesterday. completely replaced it all.

[2017-04-05 05:36] rizqyfahmi commented on #114
Hi guys,
I'm trying to embed pptx file to my website using PHPPresentation library but I have not found how to do it yet. I only found how to read tree of pptx in the samples folder. can help me please?

[2017-04-05 13:48] maikgramatte commented on #347
@Progi1984
Thanks for the quick Feedback:

`
$cell = $row->nextCell();
$cell->getBorders()->getBottom()->setLineWidth(0)->setLineStyle(Border::LINE_NONE);
$cell->getBorders()->getLeft()->setLineWidth(0)->setLineStyle(Border::LINE_NONE);
$cell->getBorders()->getTop()->setLineWidth(0)->setLineStyle(Border::LINE_NONE);
$cell->getBorders()->getRight()->setLineWidth(0)->setLineStyle(Border::LINE_NONE);

[2017-04-07 07:36] Gerdon262 commented on #345
@Progi1984, have you already checked to see if you have any problems with this script?

[2017-04-07 07:59] Progi1984 commented on #345
@Gerdon262 Unfortunately, I do not have the time right now. But the project is open to pull requests.

[2017-04-12 14:56] bhanushalimahesh3 opened #352 "Multiple Y-Axis in line chart"
Is it possible to add secondary y-axis in line chart?? Can we set default color for lines. PFA. Thanks
![secondary-y-axis](https://cloud.githubusercontent.com/assets/11575628/24964176/28ba5006-1fbe-11e7-9ea7-3c335f01f97a.png)

[2017-04-14 11:02] bhanushalimahesh3 commented on #234
@maurocrispin21 did you find any alternate solution???

[2017-04-18 06:50] Progi1984 commented on #234
@maurocrispin21 Which issues have you got with the develop version ?

[2017-04-18 06:52] Progi1984 commented on #352
@bhanushalimahesh3 No. Your two questions are enhancements. Added to the the current milestone :)

[2017-04-18 12:49] amitrajput92 opened #353 "Repair issue with chart ppt : Sample_05_Chart.php"
Hi,

I have used this library for creating pptx presentation. Everything working fine except charts ppt.
when i created chart ppt and open in office 2017 and mac it shows me repair option. After repair charts are not shown in ppt. I used latest version 0.8.0 version of dev branch. Attached chart file. Please have
[Sample_05_Chart(1).pptx](https://github.com/PHPOffice/PHPPresentation/files/929573/S

[2017-04-18 17:44] bhanushalimahesh3 commented on #352
@Progi1984 Thanks for quick response :). Could you help me out in which files should I make changes for seconday y axis & set default colors for lines ??.

[2017-04-20 14:20] MisatoTremor opened #354 "Readers do not handle invalid images"
When the readers create ``Drawing\Gd`` and use imagecreatefromstring with an unsupported or else invalid format it returns false. They then just pass this to ``setImageResource`` without verification.
When ``getContents`` on these object is called (i.e. in a writer) it obviously can't return a valid image.
Should this be fixed and if so, what would be the best way? Just don't create the shape at a

[2017-04-25 07:36] kw-pr opened #355 "Donut Chart"
I would like to make a donut chart. From the documentation it looks like there is not option for this in the [Pie chart](http://phpoffice.github.io/PHPPresentation/docs/master/classes/PhpOffice.PhpPresentation.Shape.Chart.Type.Pie.html).

Did I miss it or can someone point me in the direction to add this option?

I guess I would need to have a look at src/PhpPowerpoint/Writer/PowerPoint2007/Chart.

[2017-04-27 12:29] adlambel opened #357 "Layout and media problems"
Hello,
I'm working on a project which is supposed to copy slides between two PowerPoints.
I'm working on PowerPoint 2013 on Windows.
I encounter two problems.
The first one is : when I load and save a presentation all the layouts are broken (see the pictures). It seem's that the slideMaster is empty or that the original one is altered or not used.  When I open the presentation on PowerPoint 2013,

[2017-04-28 11:49] kw-pr commented on #357
I have the same problem. All my original images are missing from the media folder. New images are added.

It looks to me like this ticket is a duplicate of #329, #132 and #285. The last one might contain a solution...

[2017-04-28 14:36] kw-pr commented on #357
I also have missing images after read and writing. I digged into this but did not find a solution.

I noticed the files are missing from the media folder.

I noticed `PowerPoint2007::loadShapeDrawing()` reads my .jpeg and is not setting the render and mime type. I fixed that by adding `$oShape->setRenderingFunction(Gd::RENDERING_JPEG); $oShape->setMimeType(Gd::MIMETYPE_JPEG);`

I also noticed the

[2017-04-29 20:18] kailashgajara commented on #89
@Progi1984 Could you please update if the issue is fixed? If yes, is it in master branch or develop?

[2017-04-30 13:03] Progi1984 commented on #89
@kailashgajara The issue is not fixed. We are opened to pull request for fixing this issue.

[2017-05-03 14:09] kailashgajara commented on #171
@Progi1984 I found this issue just now. I also want to have similar feature where I can set interval unit. I will try explaining what @developerMediaXray was asking and how to do it in powerpoint.

Say on X-Axis, I have 6000 values. So my line chart shows all values. Of course I do not have space to show all values on x-axis. (say my x-axis is timestamp). So I want to show only 5-6 values on horiz

[2017-05-07 09:05] kailashgajara commented on #171
@Progi1984 Please find attached live pptx file which has 1000 values in x-axis. I have created this manually. In powerpoint, under Axis Points, under Labels, I have specified 100 for "Specify interval unit" option.
[Presentation1.pptx](https://github.com/PHPOffice/PHPPresentation/files/981443/Presentation1.pptx)

[2017-05-08 05:57] abdilahrf commented on #347
Same issue

[2017-05-09 15:05] maheshdama13 opened #358 "Reduce thickness of bar in Bar Chart"
Hi,
I want to reduce width of bars in Bar Chart.
PFA

**Original Output**
![original_bar](https://cloud.githubusercontent.com/assets/13948725/25857409/a6eb3fb0-34f6-11e7-91b2-9775f7b6aaad.png)

**Required Output**
![require_bar](https://cloud.githubusercontent.com/assets/13948725/25857408/a6e6ae78-34f6-11e7-8fb1-f2fb240c732c.png)

[2017-05-17 08:17] milvus1962 opened #359 "Is it possible to mix two different chart types?"
I did not found any example or documentation related to this question.
Thank you very much.

[2017-05-18 10:43] milvus1962 commented on #359
To be concrete: I mean for example having a chart where one series is a bar and one series is a line?

[2017-05-18 10:45] milvus1962 commented on #359
Of course this issue is still open. Sorry.

[2017-05-18 15:55] fd59 commented on #345
Problème résolu pour moi.

Dans un cas, nous mettions une valeur de type string au lieu d'une valeur de type booléen lors de l'ajout d'une font à un texte.
Dans l'autre nous mettions une valeur d'alignement vertical non reconnu.

Valeur type string -> $bold / $underline / $italic étaient en type string

Vertical alignement -> j'utilisais "r"

Plus de problème de réparer à l'ouverture du PPT

[2017-05-21 12:04] shdev commented on #347
+1

[2017-05-21 13:45] Progi1984 commented on #358
Fixed in develop branch :)

[2017-05-21 13:45] #358 closed

[2017-05-21 14:31] Progi1984 commented on #347
The PR is in validation on the Travis CI side :)

[2017-05-21 14:38] maikgramatte commented on #347
@Progi1984
please look at my commit here:
https://github.com/maikgramatte/PHPPresentation/commit/2567a0eac882020c4b4a7d22c38b8cc70b104f34
I also saw an issue with setting the height of the tr, which i set to 0. Otherwise i got broken a PPTX when i used to high marginTop or/and marginBottom. But i don't know what kind of sideeffect this has.

Thats why i changed the height to 0, which is working fi

[2017-05-21 14:45] Progi1984 commented on #347
Fixed in develop branch :)

[2017-05-21 14:46] Progi1984 commented on #347
@maikgramatte Could you open a new issue ?

[2017-05-21 14:46] Progi1984 commented on #347
@maikgramatte And test the fix :)

[2017-05-22 07:55] maikgramatte opened #366 "(High) Top/Bottom Margins in Table Cell Paragraph can cause broken PPTX"
This is a follow up to: https://github.com/PHPOffice/PHPPresentation/issues/347

Once the Top/Bottom Margins are high (lets say 20 Pixel) the PPTX will fail to open:

I found that we are setting the height of the TR in the Writer:
https://github.com/PHPOffice/PHPPresentation/blob/develop/src/PhpPresentation/Writer/PowerPoint2007/AbstractSlide.php#L390

Once we don't set the height manually:
https:

[2017-05-22 11:47] Progi1984 commented on #347
@maikgramatte Thanks for the issue. Normally the develop branch has fixed this issue. Could you test it ? Thanks.

[2017-05-22 12:11] Progi1984 commented on #366
@maikgramatte The solution could be to define the default height to 0 px in PhpPresentation/Shape/Table/Row.php#L47.

[2017-05-22 12:36] Progi1984 commented on #359
@milvus1962 Have you got a screenshot for what you want ?

[2017-05-22 15:17] milvus1962 commented on #359
Of course, I mean a chart type like this.

Thank You very much,

Von: Progi1984 [mailto:notifications@github.com]
Gesendet: Montag, 22. Mai 2017 14:37
An: PHPOffice/PHPPresentation
Cc: Schmitt, Dr. Horst; Mention
Betreff: Re: [PHPOffice/PHPPresentation] Is it possible to mix two different chart types? (#359)

@milvus1962<https://github.com/milvus1962> Have you got a screenshot for what you want ?

[2017-05-22 15:18] Progi1984 commented on #359
@milvus1962 It lacks a screenshot :)

[2017-05-22 15:34] milvus1962 commented on #359
Like this

[cid:image001.png@01D2D321.A3A8DCE0]

Von: Progi1984 [mailto:notifications@github.com]
Gesendet: Montag, 22. Mai 2017 14:37
An: PHPOffice/PHPPresentation
Cc: Schmitt, Dr. Horst; Mention
Betreff: Re: [PHPOffice/PHPPresentation] Is it possible to mix two different chart types? (#359)

@milvus1962<https://github.com/milvus1962> Have you got a screenshot for what you want ?

—
You are recei

[2017-05-22 15:37] Progi1984 commented on #359
@milvus1962 No, you need to use the web interface .

[2017-05-22 17:45] milvus1962 commented on #359
Like this
[Screenshot@milvus1962-1.pdf](https://github.com/PHPOffice/PHPPresentation/files/1019701/Screenshot.milvus1962-1.pdf)

[2017-05-23 06:48] Progi1984 commented on #359
![image](https://cloud.githubusercontent.com/assets/1533248/26341528/9b69a05c-3f94-11e7-9f85-580c57a0e0a5.png)

[2017-05-23 06:52] himanshu-esfera opened #367 "Reading and Replacing Text Using PhpPresentation."
Hi, I want to replace the keywords with the values in the ppt file using PhpPresentation . Unable to find a solution could you please help me.
Thanks

[2017-05-23 08:41] Progi1984 commented on #367
@himanshu-esfera I don't understand what you want. Could you define more precisely your feature ?

[2017-05-23 08:44] himanshu-esfera commented on #367
I have a ppt file which contains the keywords like ${ppt_1}, ${ppt_2}, ${ppt_3} ....etc. these keywords are used in the ppt file. I want to replace them with there values.  For eg : Hello ${ppt_1} is replaced by Hello Himanshu.

[2017-05-23 09:45] himanshu-esfera commented on #367
I have founded a solution but It is giving me the style error in some cases :
Check my raw code
$pptReader = IOFactory::createReader('PowerPoint2007');
					 $oPHPPresentation = $pptReader->load('/var/www/html/3.ppt');
					 $property = $oPHPPresentation->getDocumentProperties();
					 $slides = $oPHPPresentation->getAllSlides();

					 foreach ($slides as $slide_k => $slide_v) {
					 	$shapes =

[2017-05-23 09:45] delia-curiel opened #368 "can't merge 2 pptx files"
Hi, I can't merge two pptx files in one.  The result pptx has all slides in blank. Here is my code:

$oPHPPresentation = new PhpPresentation();

        $oReader1 = IOFactory::createReader('PowerPoint2007');
        $oPHPPresentation1 = $oReader1->load(storage_path('app/diapositiva1.pptx'));
        $c = $oPHPPresentation1->getSlideCount();
        for($i=0; $i<$c; $i++)
            $oPHPPresentat

[2017-05-23 12:37] Progi1984 commented on #171
@kailashgajara : Hi, Could you
- download this file : [Sample_05_Chart_Line.pptx.zip](https://github.com/PHPOffice/PHPPresentation/files/1022125/Sample_05_Chart_Line.pptx.zip)
- rename it to .pptx
- verify in the first chart that interval unit is 5

Thanks

[2017-05-23 12:57] kailashgajara commented on #171
@Progi1984 Yes, interval unit is 5. I verified it on windows. Although it did ask to repair. Btw on mac office 2008, even after repair, all slides were empty. In windows all slides came out to be fine.

[2017-05-24 13:55] Progi1984 commented on #171
@kailashgajara :

Did the generated file on PowerPoint on Windows asked you to repair ?
Did the generated file on PowerPoint on Mac asked you to repair ?

[2017-05-24 14:15] kailashgajara commented on #171
@Progi1984 Yes, both windows and mac asked me to repair. In windows, after repair (there were like 3-4 popups), it showed all charts fine but in mac even after repair, all slides where empty. Full white.

[2017-05-25 02:42] xihaxiaoji commented on #359
@Progi1984 i want to get this chart, too. you have mentioned the web interface. Is there a link address?thank you!

[2017-05-29 10:44] dookieffs opened #369 "Support for content output from WYSIWYG editors?"
Is it possible to keep formatting from WYSIWYG editor output, some basics like:
List elements
Anchor elements
Strong text
And of course display it within presentation..
Some text parser sort of which will loop through text regexing tags like <ul><li></li></ul>, <a></a> and calling appropriate functions for making rich text shapes? Sorry for posting here, Know this isn't an issue but possible featu

[2017-05-29 19:14] JewrassicPark opened #370 "Update to allow color for transparent png images"
Hey,

I needed this for a project so I added it to my hacked up phppres but it's a small change so thought you might want to merge it.

In the writeShapeDrawing function of Writer/PowerPoint2007/PptSlides.php

You can add

 $this->writeFill($objWriter, $shape->getFill());

just before writeBorder

Same way as in writeShapeText (though that now appears to be in the abstract file).

[2017-05-29 21:38] DiegoLoTre opened #371 "Combine Area and Line Chart"
I see that now can't be added 2 kinds of chart but the examples are with bar and lines, however I wanna know if there is any way to combine Line and Area charts

[2017-05-30 12:08] Progi1984 commented on #347
@maikgramatte Have you had some time to test the develop branch with your code ?

[2017-06-01 08:26] maikgramatte commented on #366
@Progi1984
I have basically two concerns/notices:

1.) Does somebody uses to set the height of a row?
2.) The Open-Error can still ocurre once you set the Height manually and apply a to high margin top/bottom. So maybe we can calculate to prevent this from happening.

I didn't had time, to test more. I am using PHPPresentation in production and i am just applied Patches for the needs. I can invest

[2017-06-08 07:32] mikeyc1030 commented on #345
I get the same message running one of the sample files (Sample_05_Chart.php).

The message is:
PowerPoint has detected a problem in the contents of [name_file] .pptx.
PowerPoint may try to repair the presentation.
If you approve the source of this presentation, click Repair

After clicking "Repair" I get the message:

PowerPoint couldn't read some content in Sample_05_Chart.pptx [Repaired and remo

[2017-06-15 03:29] jozellrili opened #374 "Make slide sized for on-screen show to 16:9"
Hello, I'm new to using this library for generating presentations. I have already tried making one and was successful but I noticed that the aspect ratio of the presentation is 4:3. I've been trying to find the right documentation or at least a forum where I can figure out how to make it 16:9 but to no avail. Can someone point me to a proper documentation about this or a hint on how to do this?

T

[2017-06-15 08:54] jozellrili commented on #374
Hi, I finally found the solution. I can't believe it was that easy.
Link: https://github.com/PHPOffice/PHPPresentation/blob/develop/src/PhpPresentation/DocumentLayout.php.
Closing this issue.

[2017-06-15 08:54] #374 closed

[2017-06-15 12:46] Progi1984 commented on #330
@forexgg @blu3print Could you test the develop branch ?

[2017-06-15 13:48] forexgg commented on #330
sure, I’ll test it later.

From: Progi1984
Sent: Thursday, June 15, 2017 7:46 AM
To: PHPOffice/PHPPresentation
Cc: forexgg ; Mention
Subject: Re: [PHPOffice/PHPPresentation] Cannot use background image in master slide (#330)

@forexgg @blu3print Could you test the develop branch ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thr

[2017-06-28 12:02] maheshdama13 commented on #271
I am also looking for the same, to change angle/rotation of X axis label. If you find it then let me know. Thanks in advance

[2017-06-29 14:17] dulara1994 commented on #163
jdleung how did you overcome the uncaught exception error? please. explanation would be greatful.
Thanks!

[2017-06-29 16:07] maheshdama13 opened #375 "show Text as Y Axis label in Charts"
Hi,
Is it possible to show text/string as Y axis labels rather than number??
I want output as attached.
![string_on_y_axis](https://user-images.githubusercontent.com/13948725/27697850-0fec9506-5d13-11e7-853f-6fea0ea6d4d8.png)

[2017-06-29 16:14] maheshdama13 opened #376 "Scatter chart > Hide line between two markers"
Is is possible to hide line between 2 selected markers and also hide that markers also?

[2017-07-05 10:15] Progi1984 opened #378 "Release 0.10.0"
- [ ] Wait that all tickets assigned to [Milestone v0.10.0](https://github.com/PHPOffice/PHPPresentation/milestone/11) are closed.
- [ ] Create the [next milestone](https://github.com/PHPOffice/PHPPresentation/milestones/new)
- [ ] Create the [next release ticket](https://github.com/PHPOffice/PHPPresentation/issues/new).
- [ ] Set date of the release in `CHANGELOG.md`.
- [ ] Create and merge [PR f

[2017-07-05 12:14] Progi1984 commented on #275
@alejandrososa PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:14] Progi1984 commented on #5
@lejuraco PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:15] Progi1984 commented on #9
@fbenothman PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:15] Progi1984 commented on #52
@fabianoleo PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:15] Progi1984 commented on #84
@chuebert PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:15] Progi1984 commented on #85
@GavinMcL PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:15] Progi1984 commented on #90
@manikrds PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:15] Progi1984 commented on #91
@Gyzmoo PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:15] Progi1984 commented on #93
@chuebert PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:16] Progi1984 commented on #106
@Devintelligence PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:16] Progi1984 commented on #128
@shruti222patel PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:16] Progi1984 commented on #132
@RightHandedMonkey PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:16] Progi1984 commented on #155
@muhzak PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:16] Progi1984 commented on #175
@pranshuagrawal PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:16] Progi1984 commented on #238
@maurocrispin21 PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:17] Progi1984 commented on #245
@MariaGabriel108 PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:18] Progi1984 commented on #347
@maikgramatte PhpPresentation 0.9.0 has been released. I would like to solve your issue for 0.10.0. Could you answer to my question ?

[2017-07-05 12:23] #261 closed

[2017-07-05 12:23] #349 closed

[2017-07-05 12:37] rijvirajib commented on #91
Confirming - this 0.9.0 version fixes the empty text run crash.

[2017-07-05 12:39] #91 closed

[2017-07-05 12:39] Progi1984 commented on #91
@rijvirajib Thank you for the feedback :)

[2017-07-05 21:46] forexgg commented on #330
Yeah, master slides shows the background image fine now.

      But trying to load the existing PPTX, got error below:

      imagecreatefromstring(): gd-png: fatal libpng error: IDAT: invalid literal/length code

      in PowerPoint2007.php (line 731)

From: Progi1984
Sent: Thursday, June 15, 2017 7:46 AM
To: PHPOffice/PHPPresentation
Cc: forexgg ; Mention
Subject: Re: [PHPOffice/PHPPresentation]

[2017-07-06 09:06] Progi1984 commented on #330
@forexgg Have you got the problem with samples ?

If it isn't the case, could you give us your existing PPTX ?

[2017-07-06 13:36] forexgg commented on #330
Hi Progi,

Sure, I attached one of our program to this email. This file has 3 master slides and 4 layouts.

I tried not use existing PPTX and generate slides from scratch. I can generate new master slide. But there are not much documents that I can reference to generate new layouts for particular master slide. And also, apply different new slides to different layouts. If you have part of the examp

[2017-07-06 20:33] Progi1984 commented on #330
@forexgg Hi, Github doesn't accept attachments sent by mail. Could you go on the web interface ?

Have you any code for reproducting fastly the problem ?

[2017-07-07 01:20] forexgg opened #379 "can't read in pptx file"
can't read this file
[test.pptx](https://github.com/PHPOffice/PHPPresentation/files/1129669/test.pptx)

        $pptReader = IOFactory::createReader('PowerPoint2007');

        $oPHPPresentation = $pptReader->load(public_path() . "/" . "test.pptx");

[2017-07-07 01:21] forexgg commented on #330
I created the issue and upload the file,

https://github.com/PHPOffice/PHPPresentation/issues/379

From: Progi1984
Sent: Thursday, July 6, 2017 3:33 PM
To: PHPOffice/PHPPresentation
Cc: forexgg ; Mention
Subject: Re: [PHPOffice/PHPPresentation] Cannot use background image in master slide (#330)

@forexgg Hi, Github doesn't accept attachments sent by mail. Could you go on the web interface ?

Have

[2017-07-07 12:38] #330 closed

[2017-07-07 19:12] DiegoLoTre opened #380 "Images bigger than Slide"
I'm creating the images slide dynamically getting the source from some DB, but the image's width and heigh isnt the same for everyone, so i wonder if is a way to reduce the image if is bigger than the slide, and in case of a smaller, put it in the center

[2017-07-09 13:38] Progi1984 commented on #366
@maikgramatte A solution :
* Define the default height to 0 px in `PhpPresentation/Shape/Table/Row.php#L47`
  * That define the height automatically
* Those who want to define manually the height can use the `setHeight` method.

Your feedback ?

[2017-07-09 14:06] Progi1984 commented on #376
@maheshdama13 Hi have you a screenshot for what you want, please ? Thanks

[2017-07-09 14:08] Progi1984 commented on #380
@DiegoLoTre Have you tried to define setWidth & setHeight for images shape ?

[2017-07-10 06:51] jozellrili opened #381 "Broken layout on html to pdf conversion"
Hello, has someone encounter this issue during conversion of html to pdf? The design looks good in html and is exactly how I like it to be. But when I converted it to pdf, the layout is broken. It's either the image is overlapping each other or they are like what you can see on the picture.

Please help me, I've been doing a lot of adjustments in my css but it doesn't seem to solve the problem.

H

[2017-07-10 22:33] DiegoLoTre commented on #380
But i only want to affect the ones that are bigger, not all

[2017-07-11 07:42] Progi1984 commented on #380
@DiegoLoTre You can browse all shapes. You filter only ImageShape. If images are bigger than slide, you setWidth & setHeight for these Images shapes.

[2017-07-11 12:50] simplyray opened #382 "Charts are broken / doesn't validate against Office 2013 XML"
I'm using the latest 0.9.0 release but the file generated from the Sample_05_Chart.php is broken and Powerpoint 2016 needs to repair the file before opening it (which removes the charts completly).

[Sample_05_Chart.pptx](https://github.com/PHPOffice/PHPPresentation/files/1138865/Sample_05_Chart.pptx)

I've tried to validate the generated *.pptx file against Office 2013 XML formats and it throws 2

[2017-07-11 14:07] Progi1984 commented on #382
@simplyray Thanks for the issue.

Where can i find the xsd for validating pptx file against Office 2013 XML formats ? (And may be Office 2007 & 2010)

[2017-07-11 14:20] simplyray commented on #382
@Progi1984 I've used the [Open XML SDK Tool](https://www.microsoft.com/en-us/download/details.aspx?id=30425) from Microsoft

[2017-07-11 15:28] Progi1984 commented on #382
Todo :
* Update [tests schema ooxml](https://github.com/PHPOffice/PHPPresentation/tree/develop/tests/resources/schema/ooxml) from [libreoffice/contrib/test-files](https://cgit.freedesktop.org/libreoffice/contrib/test-files/tree/ooxml-strict)
* Test all files with ooxml if Presentation2007 as writer

[2017-07-12 06:46] figochenfei opened #383 "resizing ppt files from 16:9 or any custom aspect ratio to 4:3 without distortion of text and images"
I have tons of ppt files with different aspect ratios, i wanted to convert all the files to 4:3(25.4x19.05cm) without distortion. How can i achieve this? Thanks in advance.

[2017-07-18 14:17] #380 closed

[2017-08-01 03:02] qlzxmacheng opened #386 "How to browse pptx by PHPPresentation"
I need browse pptx on the Google Browser ,  but I use Sample 12 Reader PowerPoint2007 , only look tree , I need  browse pptx and it can play animation in the pptx , can you help me ? Thinks

[2017-08-01 07:57] Progi1984 commented on #386
@qlzxmacheng What is the Google Browser ?

You want to view a presentation (pptx or odp) in a browser ?

[2017-08-01 08:12] dookieffs commented on #368
any update on this? lost most of the formatting when I tried to read previously generated pptx by phpPresentation

[2017-08-01 08:24] qlzxmacheng commented on #386
yes ,  I want to  view a ppt in a browser ,  such as ppt -> H5  ,  Can you help me ?my english is not good...

[2017-08-01 08:27] qlzxmacheng commented on #386
@Progi1984  Thinks for you,  I want to view a ppt in a browser, such as ppt -> h5 in a brower, Can you help me?  my English is very bad......

[2017-08-01 08:34] Progi1984 commented on #386
@qlzxmacheng What is h5 ?

What is your preffered language (french, for me) ?

[2017-08-01 08:38] qlzxmacheng commented on #386
@Progi1984 Sorry , I am Chinese,   H5 is  html5 ,  i would like to view a ppt in the browser,  Can you help me?

[2017-08-01 08:44] Progi1984 commented on #386
Duplicates #221

[2017-08-01 08:46] qlzxmacheng commented on #386
thank you very much

[2017-08-01 08:47] Progi1984 commented on #386
Duplicate of #221

[2017-08-01 08:47] #386 closed

[2017-08-01 08:50] qlzxmacheng commented on #386
Do you have a good method to solve this problem?

[2017-08-01 08:59] Progi1984 commented on #386
Yes, write a PR with a HTML Writer :) or wait for it :)

[2017-08-01 09:00] Progi1984 commented on #368
@delia-curiel or @dookieffs Have you got two pptx in error to share ?

[2017-08-01 09:03] qlzxmacheng commented on #386
thank you

[2017-08-03 18:12] forexgg opened #387 "Corrupted file after open writer copied pptx and transparent PNG became opaque"
I'm trying to describe two bugs here.

1. I generated test.pptx file using writer with background.jpg and logo.png (logo file is transparent). I can open this file in Powerpoint 2007 without any problem.

2. Read this test.pptx and write to test_copy.pptx, Powerpoint 2007 can't open it with the error message:

This file may have become corrupt or damaged for the following reasons:
Third-party XML

[2017-08-03 18:33] forexgg opened #388 "Question about multiple Master Slides or Layouts"
I had a question which I searched for a long time, hope someone could help.

**How do you generate multiple Master Slides and apply to different slides?
or can you generate multiple layouts and apply to different slides?**

either of these will solve my current problem.
Right now, I could only generate one Master slides and apply to other slides across the board.

Do you have any code examples?

[2017-08-06 12:53] Progi1984 commented on #382
PR relative to this issue : #390

[2017-08-07 07:07] qlzxmacheng opened #392 "Why I can't get background color in the slide"
In ppt , I set my ppt background color black, but in my code , I can't get my background, can you help me ?

[2017-08-07 07:38] #392 closed

[2017-08-07 10:00] IkarosMa opened #393 "Can you help me how to get background in the ppt??"
![image](https://user-images.githubusercontent.com/28077421/29021885-a9454352-7b99-11e7-963a-0ffa36d17896.png)
![image](https://user-images.githubusercontent.com/28077421/29021904-b4e4ace8-7b99-11e7-8416-89d81f5d0438.png)
![image](https://user-images.githubusercontent.com/28077421/29021912-c6b99a14-7b99-11e7-9b10-8a749893ae1b.png)
![tim 20170807180006](https://user-images.githubusercontent.com/280

[2017-08-08 05:37] Progi1984 commented on #393
Could you share the file, please ?

[2017-08-08 06:09] IkarosMa commented on #393
[ccc.pptx](https://github.com/PHPOffice/PHPPresentation/files/1207040/ccc.pptx)

[2017-08-09 01:06] IkarosMa commented on #393
who can help me save this problem?thank you.

[2017-08-09 02:17] IkarosMa commented on #393
this is PHPPresentation's xml
![image](https://user-images.githubusercontent.com/28077421/29102354-16b8b8a4-7ceb-11e7-813e-42479b2d6e90.png)
this is ppt's xml
![image](https://user-images.githubusercontent.com/28077421/29102362-254b726c-7ceb-11e7-9365-1aa5abad2a97.png)

[2017-08-09 02:44] IkarosMa commented on #393
my ppt is powerpoint 2016,  Do I must to use PowerPoint2007?

[2017-08-09 06:36] Progi1984 commented on #393
@IkarosMa Hi, PhpPresentation is a side project. I work on it on my free time.

[2017-08-09 07:59] IkarosMa commented on #393
think you very much . I'll find another way in the Google ...

[2017-08-09 10:04] FuRi0n opened #394 "Problem with pictures in Master Slides"
I'm having problems loading a pptx presentation, even if I just load and save it I lose all my pictures and some of the text boxes are moved in my master slides, I don't know why, is there any way to keep them?

I attached the original file and the result after being saved by PHPPresentation:
[report_original.pptx](https://github.com/PHPOffice/PHPPresentation/files/1211065/report_original.pptx)
[r

[2017-08-10 19:41] dan-d-martin opened #395 "Font super/sub script"
Hello

The setSuperScript() and setSubScript() methods on the Font class always set the opposing property to the opposite value. That is to say that setSuperScript(true) also sets subScript = false.

This means if one of those methods is called then it is no longer possible to return the font to its original state in which both are false.

[code]

I don't suppose this is the biggest issue in the w

[2017-08-10 19:49] dan-d-martin commented on #395
Just seen this: https://github.com/PHPOffice/PHPPresentation/pull/360

[2017-08-10 19:49] #395 closed

[2017-08-11 08:47] IkarosMa opened #396 "PowerPoint2007 : How can get color ?"
![image](https://user-images.githubusercontent.com/28077421/29206427-834dc8cc-7eb4-11e7-9e9a-91f6f6f2f098.png)
![image](https://user-images.githubusercontent.com/28077421/29206493-be1a27f2-7eb4-11e7-88e8-cabd0c319e88.png)

the tx1 is dk1 , dk1 is 000000 .
how can I get color by lumMod and lumOff

[2017-08-11 09:06] #396 closed

[2017-08-11 09:19] IkarosMa opened #397 "How can i get color by schemeClr?"
![image](https://user-images.githubusercontent.com/28077421/29207524-1159098e-7eb9-11e7-877c-9aba13a939cc.png)
in the slide1, i get a color by schemeClr , is's val is accent1  ,  accent1 in the theme.xml,how can i get rgb color by schemeclr?

[2017-08-16 09:10] amirakbari opened #398 "Image Crop"
Is there any way to crop images on phppresentation ?

[2017-08-19 20:50] danielpromo opened #399 "Memory limity end 300 slides"
Personal, I have a server with 4gb of ram, two cpus but I can not generate presentation with more than 50 mb, or 300 slides, I have 5000 slides.
Does anyone have a solution?

[2017-08-20 08:05] awoerl commented on #346
Hello, I have the same problem with PowerPoint 15 on Mac. Is there any chance to get this fixed? My company would maybe pay for the fix as otherwise we can not release some new feature including PowerPoint templating.

[2017-08-23 20:56] Progi1984 commented on #397
@IkarosMa Could you test the PR #401 ?

After that, you could read the color like this : `$oSlide->getBackground()->getSchemeColor()->getRGB()`

[2017-08-23 20:57] Progi1984 commented on #393
Duplicate the #397 :)

[2017-08-23 20:57] #393 closed

[2017-08-30 06:33] Progi1984 commented on #397
@IkarosMa Some news ?

[2017-09-01 21:34] kkatadp opened #403 "Exception - Array to string conversion"
https://github.com/PHPOffice/PHPPresentation/blob/097d50a7bf03bcdaec865dce1a46123bf01e5ddb/src/PhpPresentation/Writer/PowerPoint2007/LayoutPack/AbstractLayoutPack.php#L61

Said line causes an _Array to string conversion Exception_ in Laragon 3.1.2 w/ PHP 7.1.7. According to the doc comment, it should be an array, and changing it to `protected $themes = array();` does indeed fix the exception probl

[2017-09-07 10:42] Progi1984 commented on #355
Fixed in develop branch.

[2017-09-07 10:42] #355 closed

[2017-09-07 10:44] Progi1984 commented on #403
Fixed in develop branch (e5ef770fc1054d582a902de52940f64d42153418).

[2017-09-07 10:44] #403 closed

[2017-09-07 10:45] Progi1984 commented on #397
@IkarosMa Some news ?

[2017-09-07 10:47] Progi1984 commented on #376
@maheshdama13 Some news ?

[2017-09-08 06:49] Progi1984 commented on #370
@JewrassicPark Fixed in develop branch (Reader / Writer - ODPresentation & PowerPoint2007)

[2017-09-08 06:49] #370 closed

[2017-09-08 11:40] Progi1984 commented on #142
@disiri & @pei-lun : Fixed in 0.8.0 version.

[2017-09-08 11:40] #142 closed

[2017-09-08 11:51] Progi1984 commented on #309
@eL-Prova I just done

[code]

The tabulation is well present :
![image](https://user-images.githubusercontent.com/1533248/30210384-c0c921ee-949c-11e7-97a3-edba18fbec7a.png)
![image](https://user-images.githubusercontent.com/1533248/30210397-d456e8e0-949c-11e7-80f4-add0048939cd.png)

[2017-09-08 11:51] #309 closed

[2017-09-08 11:57] Progi1984 commented on #397
@IkarosMa Fixed in develop branch.

[2017-09-08 11:58] #397 closed

[2017-09-08 12:06] Progi1984 commented on #340
@dookieffs In LibreOffice, I can't create a shadow for the shape, and a shadow for a part of the text. Have you a sample file for me ? Thank you.

[2017-09-11 12:33] Progi1984 commented on #371
@DiegoLoTre Hi, I don't find any possibility. Could you have a sample for us, please ?

[2017-09-11 12:33] #371 closed

[2017-09-11 12:34] #275 closed

[2017-09-11 12:35] Progi1984 commented on #234
@maurocrispin21 Some news ?

[2017-09-12 19:20] eL-Prova commented on #309
@Progi1984 I use version  5.6.30, when I make multiple spaces, it will be reduced to one space instead of multiple. char(9) is convert to a space. Should I take a newer version? Or do I do something wrong?

[2017-10-05 07:39] Mrttoo opened #405 "Row height after text resized cell"
Hello, I am trying to create presentation which will insert images below tables. My problem is that if text inside table cell doesn't fit on one row then it will create another row inside cell which is fine but the height of the row inside row object stays same.  I am calculating height of the table from sum of heights of rows and then inserting table at the offset of that sum. But when the text d

[2017-10-06 11:52] Progi1984 commented on #405
@Mrttoo Have you got some code and some screenshots for reproduicing your issue ? Thanks

[2017-10-06 12:11] Mrttoo commented on #405
@Progi1984 sure, do you have any email I can send it to ?

[2017-10-06 13:11] Progi1984 commented on #405
My nickname @gmail.com

[2017-10-09 16:38] abdel-ouhajjou opened #406 "how to use link to a slide by Id"
Hi, everybody
plz i wanna use link to a slide using it's Id (not sliderIndex)
thanks in advance.

[2017-10-09 19:54] whitakerc18 commented on #245
I'm having a similar issue, I get this error: "Fatal error: Uncaught exception 'Exception' with message 'File ./resources/phppowerpoint_logo.gif not found!", but the file does exist in that path.

[2017-10-09 20:40] daum opened #407 "Spacing before/after paragraph?"
Is there a way to set the spacing for before/after a paragraph?  Specifically, I'm trying to set the line spacing between some bullets.  I tried with `getActiveParagraph()->getAlignment()->setMarginBottom(xxx);` but it doesn't appear to anything.

[2017-10-10 07:51] abdel-ouhajjou commented on #407
you can concatinate your text with "\n", like this: "\n".$text."\n"
 it will look us like as it has a spacing.

[2017-10-10 11:55] daum commented on #407
It appears on bullets that causes an extra bullet.  Also I'm trying to only add a tiny bit of spacing after rather than a full line.

[2017-10-11 18:37] larryb-redflare commented on #353
Using XML Package Validator the problem with charts is

The 'val' attribute is invalid - The value '100.00%' is invalid according to its datatype 'http://schemas.openxmlformats.org/drawingml/2006/main:ST_PositiveFixedPercentage' - The string '100.00%' is not a valid Int32 value.

This is caused by line 102 in PhpPresentation\Writer\PowerPoint2007\PptCharts Line 102

      $objWriter->writeElementI

[2017-10-11 19:34] larryb-redflare commented on #382
See comment on #353
PhpPresentation\Writer\PowerPoint2007\PptCharts Line 102 outputs a % which cause invalid XML

  $objWriter->writeElementIf($hPercent != null, 'c:hPercent', 'val', $hPercent . '%');

[2017-10-12 09:23] Progi1984 commented on #407
@daum Have you tried to define the line spacing : https://github.com/PHPOffice/PHPPresentation/blob/develop/src/PhpPresentation/Shape/RichText/Paragraph.php#L312 ?

[2017-10-12 09:25] Progi1984 commented on #406
@abdel-ouhajjou Have you a sample code for what you want to do, please ?

[2017-10-12 09:54] abdel-ouhajjou commented on #406
hi, thank you for your reply:

firstly I have a block of code that displays  designations of claims:

while($Li_claims = Database::Read($result))
{
  $currentSlide = $objPHPPresentation->createSlide();
  $shape = $currentSlide->createTableShape(1);
  $cell = $row->nextCell();
  $textRun= $cell->createTextRun($reclamation->object);
  **$textRun->getHyperlink()
   ->setUrl("ppaction://customshow?id=

[2017-10-13 14:48] juliohds commented on #394
I'm having this same problems

[2017-10-16 10:45] juliohds commented on #237
see my example:

$shape = $currentSlide->createRichTextShape()
    ->setHeight(50)
    ->setWidth(200)
    ->setOffsetX(760)
    ->setOffsetY(235);
$textRun = $shape->createTextRun($texto201);
$textRun->getFont()->setBold(false)
    ->setItalic(true)
    ->setSize(24)
    ->setName('Trebuchet MS')
use ->setName('Trebuchet MS') to change.

[2017-10-16 10:51] juliohds commented on #394
@FuRi0n I'm copying all images, and inserting manualy in my new slide.

[2017-10-16 11:58] Progi1984 commented on #237
@juliohds That change for the current shape. Not for all shapes.

[2017-10-16 12:41] parixit572 commented on #380
@Progi1984 Hey, is this issue resolved? As I can not add larger image at center.

Here is my code:
`
$imageData = "data:image/jpeg;base64,".base64_encode(file_get_contents('http://localhost/tmp_uploads/1.jpg'));
        list($width, $height) = getimagesize('http://localhost/tmp_uploads/1.jpg');
        //$shape->setWidthAndHeight($width, $height);
        $shape->setName('PHPPresentation logo')

[2017-10-16 18:13] juliohds commented on #237
@Progi1984

in PhpOffice\PhpPresentation\Style\Font
you can change the __construc() method
$this->name = 'Calibri';

So always that you instanced new font is default

[2017-10-16 18:15] juliohds commented on #398
you can crop before send

[2017-10-16 18:18] juliohds commented on #399
split the slides, and after you can join. Or use a virtual machine

[2017-10-18 18:41] daum commented on #407
@Progi1984 yep tried that it doesn't appear to be having any affect on it.

[2017-10-24 09:36] jdelafuente opened #414 "Problem merging two pptx files"
Hi,
I just need to merge two pptx files into a new one. The problem is that the result is not good, it doesn´t take the original content as it is, the result file has slides in blank or just an image... but not the full original content. I don´t know if it is posible to do what I need with PHPPresentation. Please can you tell me if it is posible and how?

The original files are:
http://cabeceras-t

[2017-10-24 12:31] faca5 commented on #414
Hello.

We have similar problems.

When We open custom PPTX file and then save via PHPPresentation, None of slides have styles.

We need marge two or more files in one.

	// with your own install
	require_once 'src/PhpPresentation/Autoloader.php';
	\PhpOffice\PhpPresentation\Autoloader::register();
	require_once 'src/Common/Autoloader.php';
	\PhpOffice\Common\Autoloader::register();

	use PhpOffic

[2017-10-24 14:34] awoerl commented on #414
Hello,

we have the same problem.

We can not use the API at all like that, as our whole plan is to open a template file, replace tokens and write back.

But this seems to break the layout of the file completely, so that we can not use it.

Regards. Alex.

Alexander Wörl
Head of Research & Presales

[cid:D4486490-1AC7-4EA8-81F2-9663A5E21960@awoerl]

M +49 160 700 690 8 E-Mail: awoerl@contentserv.c

[2017-11-04 06:57] xplorebitshq commented on #367
@himanshu-esfera Did you find the final solution for this? I am also trying find a way to replace one string/Image with another

[2017-11-04 15:26] himanshu-esfera commented on #367
Hello @xplorebitshq ,
After a long search, I have done it using Google Slide Service.

Here is my code :
$slidesService = $this->googleSlideConfig();
$service = $this->googleDriveConfig(); //GOOGLE DRIVE CONFIGURATION
$file = new Google_Service_Drive_DriveFile();
$file->setName($file_name);
$file->setMimeType('application/vnd.google-apps.presentation');

$result2 = $service->files->create(
  $file

[2017-11-09 16:59] dlollman commented on #353
I am still having this issue even when changing line 102 (on master branch). Any other things I can do? I verified that the c:hPercent val is "100" and not "100%".

I have tried other branches as well (develop, etc) to no avail.

Thanks all.

[2017-11-09 23:48] bomg66 opened #418 "Editing an existing powerpoint file with PHPPresentation"
I need to edit a powerpoint file. I've searched high and low all over the internet and I havent found anything. Please help!

[2017-11-10 14:45] Progi1984 commented on #418
@bomg66 Is it a PowerPoint97 or PowerPoint2007 file ?

[2017-11-10 15:24] bomg66 commented on #418
@Progi1984 PowerPoint2007

[2017-11-11 14:57] Progi1984 commented on #418
@bomg66 You have some samples here:

https://github.com/PHPOffice/PHPPresentation/blob/develop/samples/Sample_12_Reader_PowerPoint2007.php

[2017-11-13 20:26] AndreasBergmann commented on #383
Hello I´ve got the same issue, is there a way ?

[2017-11-13 21:58] nmerck1 opened #419 "Is there any way to have a template PowerPoint to add data to?"
Elaboration: What I want to do is have a div (or image) with its contents be put onto an already existing PowerPoint -my template PowerPoint.

Is this possible?

[2017-11-15 23:17] neovldz commented on #89
In case this helps anyone I just noticed something that helped me solve this issue
I was using ->createTextRun($isJV)... $isJV value was empty text (double quote ''), maybe not the best solution but solved it adding a space (' ').

[2017-11-16 08:25] albertnel opened #420 "Line charts not formatting series data as numbers"
Hi, it seems like series data that I give to a Line() object does not format the values into numbers as they should be.

Because of this the following does not work:

[code]

Also, the Y-axis labels aren't displaying as percentages either. Can you please help or make any suggestion?

When I open the generated .pptx file and right-click on the chart and select "Edit Data", I can see that the way it

[2017-11-21 12:34] pascalzoet commented on #420
Hi, I have a question for you. I'm using phppresentation with laravel 5.1 and i'm trying to make charts in my powerpoint. The problem i'm facing is that whatever i try, my powerpoint will always be broken and needs repairing.

I wondered if you you had the same problem and if you had you could tell me how to solved this

Thanks

[2017-11-21 12:47] albertnel commented on #420
Hi @pascalzoet ,

I had the exact same problem and couldn't get anything to really work with the current dev-master branch. I switched to 0.8.0 and most things started working for me. Try it and let us know.

[2017-11-21 13:35] pascalzoet commented on #420
Hi @albertnel

Switched to version 0.8.0 and got the charts (finally) working. Thanks for the help!

[2017-11-21 13:42] albertnel commented on #420
@pascalzoet awesome, glad you got it working! :)

[2017-11-21 19:27] Progi1984 commented on #420
@albertnel @pascalzoet Thanks for answers. So that works with 0.8.0 but not with the develop branch ?

[2017-11-21 19:50] Progi1984 commented on #382
@dlollman You can test this branch and give your feedback.

[2017-11-21 20:09] dlollman commented on #382
@Progi1984 Thanks, no good for that branch for me. Using Powerpoint for mac (microsoft). Relevant code I am using to test this out:

`$current_slide++;
    // Slide 5 (REDACTED)
    // Create slide
    ////echo date('H:i:s') . ' Create slide '.$current_slide.EOL;
    $slides[$current_slide] = $objPHPPresentation->createSlide();
    $slides[$current_slide]->setName('REDACTED');
    $slides[$current

[2017-11-22 08:37] pascalzoet commented on #420
@Progi1984 So i tested this code on both version 0.8.0 and dev-master

        $currentSlide = $objPHPPresentation->createSlide();
        $seriesData = array(
            'Monday' => 12,
            'Tuesday' => 15,
            'Wednesday' => 13,
            'Thursday' => 17,
            'Friday' => 14,
            'Saturday' => 9,
            'Sunday' => 7
        );

        $lineChart = new \P

[2017-11-22 15:23] merick2312 opened #421 "error when executing the examples"
error when executing the examples when opening the pptxt has an error in the presentation they could help me to know what is the reason for this

[2017-11-22 20:21] merick2312 commented on #359
@Progi1984
I have the same question from dkkggffg if it is possible to create a graphic as well as the one that shows if you could help me with that theme please
if it is possible to create a graphic as well as the one that shows if you could help me with that theme please
![9b69a05c-3f94-11e7-9f85-580c57a0e0a5](https://user-images.githubusercontent.com/16745919/33148182-64e5fb16-cf90-11e7-9592-57

[2017-11-22 20:37] Progi1984 commented on #359
@merick2312 Could you give us a sample file for analysis ? Thanks

[2017-11-22 20:41] merick2312 commented on #359
I need a graph how is this

![imagen1](https://user-images.githubusercontent.com/16745919/33148880-242dbe4e-cf93-11e7-85a9-33818ff21c1a.png)

[2017-11-22 20:43] Progi1984 commented on #359
@merick2312 Have you got the pptx file for this ?

[2017-11-22 20:47] merick2312 commented on #359
of course
[Presentación1.pptx](https://github.com/PHPOffice/PHPPresentation/files/1497430/Presentacion1.pptx)

[2017-11-22 20:49] merick2312 commented on #359
Regarding another topic, it is possible to remove the legends from the PIE3D graphs which I point out in the image for your attention. Thank you very much

![imagen2](https://user-images.githubusercontent.com/16745919/33149161-4f1b062e-cf94-11e7-89ba-948764bb4f01.png)

[2017-11-22 21:16] Progi1984 commented on #359
@merick2312 please open a new issue.

[2017-11-22 22:07] merick2312 commented on #359
@Progi1984
very well in a moment I open a new one

[2017-11-22 22:10] merick2312 opened #422 "doubts about Pie3D graphics"
@Progi1984

You can remove the legends from the graphics that appear on the right side of each one
![imagen2](https://user-images.githubusercontent.com/16745919/33151905-a87b3544-cf9f-11e7-8c0c-f4111ea694b6.png)
[Presentación1.pptx](https://github.com/PHPOffice/PHPPresentation/files/1497593/Presentacion1.pptx)

[2017-11-23 21:05] Progi1984 commented on #382
Before release :
- Sample_05_Chart.pptx : no chart
- Sample_05_Chart_Line.pptx : no chart
- Sample_14_Zoom.odp : Zoom not defined in ODP
- Sample_18_Animation.odp : Animation not defined in ODP
- Sample_20_ExternalSlide.odp : Out of order
- Sample_20_ExternalSlide.pptx : Out of order

[2017-11-26 11:57] mroustchev commented on #421
I am getting the same error with charts (e.g. Sample_05_Chart).
I also check someolder release.
The last release where Sample_05_Chart is error free is 0.6.0.

[2017-11-27 06:39] marin1993 opened #423 "how to view ppt file in web like office365?"
hello, I want to use it like this
[https://products.office.com/en-us/office-online/view-office-documents-online](url)
or like a pdf file view in chrome.
Products have no this function? what should I do?
Hope you can get your help, thank you!

[2017-11-27 14:06] alexandretaz opened #424 "Serialize to make easy to work on frameworks"
I created a Fork to add methods to serialize the objects on JSON to make easy record on databases

[2017-12-06 14:13] phakn911 opened #425 "Fatal error on sample"
Hello,
I have the following error message when i launch sample :
Fatal error: Can't use method return value in write context in D:\web\xampp\htdocs\PHPPresentation\samples\Sample_Header.php on line 269

Do you have an idea.
Thanks.
Miky

[2017-12-07 08:57] bjxiaoxiao opened #426 "通过Sample_12_Reader_PowerPoint2007.php文件读取文件，不做任何操作，再次导出PPT格式错误"
以下是简单的代码
$pptReader = IOFactory::createReader('PowerPoint2007');
$oPHPPresentation = $pptReader->load('resources/test001.pptx');

echo write($oPHPPresentation, basename(__FILE__, '.php'), $writers);

有什么办法可以使格式不变，原样呈现？

[2017-12-08 08:45] bjxiaoxiao opened #427 "Reading PPT files through Sample_12_Reader_PowerPoint2007.php, some formats can't be read, such as: font, background color, etc."
Reading PPT files through Sample_12_Reader_PowerPoint2007.php, some formats can't be read, such as: font, background color, etc.

-------------------code------------------------------------
$pptReader = IOFactory::createReader('PowerPoint2007');
$oPHPPresentation = $pptReader->load('resources/test001.pptx');
-------------------code------------------------------------

Which one has met and solved

[2017-12-14 18:53] neovldz opened #428 "Multiple colspan"
Hello!

I'm having trouble when trying to add multiple colspans, it will just take the first and ignore the rest, am I doing something wrong? Or is it just that it is not possible?

<img width="722" alt="captura de pantalla 2017-12-14 a la s 11 52 19" src="https://user-images.githubusercontent.com/5368540/34009250-60b4ca0e-e0c5-11e7-8332-739df3a4cd88.png">

here's my piece of code

$shape = $slide

[2017-12-16 06:57] pgee70 opened #430 "Sample 5 output does not load in powerpoint"
The code for sample 5 code does not open in powerpoint / keynote/ preview. But does open with libreoffice.

The powerpoint created does not validate with open xml sdk 2.5 productivity tool for microsoft office.  There are 218 errors, mostly related to the '%' symbol being present in integer fields.

[2017-12-16 09:25] pgee70 commented on #399
if you have 5000 slides you are doing something wrong.
No one is going to go to a presentation with 5000 slides, so consider what you want to really do.  would a standard PDF be a better output format?

[2017-12-19 09:33] kaanmijo opened #431 "Repair required when adding a video"
Hi,

Whenever I try to add a video to a slide and try to open the exported .pptx file, PowerPoint greets me with this message:

![screen shot 2017-12-19 at 10 29 50](https://user-images.githubusercontent.com/4430874/34150085-99f83428-e4a7-11e7-94c4-0d7a90e461d8.png)

As you can see, this also happens with samples provided by the repo itself. I've tried every branch in the repo, but they all throw

[2017-12-19 11:20] mhasanshahid opened #432 "scatter plot > line between two points"
is it possible to hide line between two points in a scatter chart? need urgent help

[2017-12-20 22:01] pgee70 commented on #430
clone of #382

[2017-12-20 22:01] #430 closed

[2017-12-23 08:50] Progi1984 commented on #432
@mhasanshahid Why do you close the issue ?

[2017-12-29 21:28] Progi1984 commented on #428
@neovldz Have you got the same problem with the Sample_04 : https://github.com/PHPOffice/PHPPresentation/blob/develop/samples/Sample_04_Table.php#L41-L54 ?

[2017-12-29 21:28] Progi1984 commented on #427
@bjxiaoxiao Have you got some screenshots ?

[2017-12-29 21:29] Progi1984 commented on #426
@bjxiaoxiao Sorry : could you translate your message in english ?

[2017-12-29 21:32] Progi1984 commented on #424
@alexandretaz Could you open a Pull Request ?

[2017-12-29 21:34] Progi1984 commented on #423
@marin1993 It's a HTML Renderer.

Sample : https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fgithub.com%2FPHPOffice%2FPHPPresentation%2Fblob%2Fdevelop%2Fsamples%2Fresources%2FSample_12.pptx%3Fraw%3Dtrue

Duplicate #221

[2017-12-29 21:34] #423 closed

[2017-12-29 21:37] #422 closed

[2017-12-29 21:38] Progi1984 commented on #421
@merick2312 Is it the same error like #425 ?

[2017-12-29 21:40] Progi1984 commented on #399
@danielpromo Actually, I have no solution for that. But I will follow the answer of @pgee70 .

[2017-12-29 21:40] #399 closed

[2017-12-29 21:44] Progi1984 commented on #425
Fixed in develop branch

[2017-12-29 21:44] #425 closed

[2017-12-29 21:44] Progi1984 commented on #425
Thanks @pgee70

[2017-12-29 21:45] Progi1984 commented on #383
@figochenfei @AndreasBergmann You can :
- open your files with PhpPresentaion Reader
- change the documentlayout : DocumentLayout
- save files with PhpPresentaion Writer

[2018-01-02 12:52] mhasanshahid opened #436 "Shapes and fix for sample broken charts are added as a pull request"
I have added shapes like rectangle, triangle, round rectangle and arrow pointer. Also sample charts were broken, and now fixed with this pull request.

[2018-01-02 13:01] mhasanshahid commented on #432
I have found the solution, and I have also made a pull request.

[2018-01-02 13:38] Progi1984 commented on #432
PR : #435

[2018-01-03 11:15] mhasanshahid commented on #376
PR: #435
You can check scatter plot. Now It has points without lines.

[2018-01-05 10:02] MindlineAnalytics opened #438 "Multiple Master Slide"
With this line "$objPhpPowerPoint->getAllMasterSlides()[0]" I have my master slide as default which I can see over my other slides.

If for example I put "$objPhpPowerPoint->getAllMasterSlides()[1]" as another master slide. How can i attach it to my other slide? I want to know how to attach slides with master? I mean If I want my slide 3 to attach with master slide at index 1 who can I do that? @P

[2018-01-05 10:45] MindlineAnalytics commented on #388
I have the same question. If anybody can help urgently

[2018-01-05 14:20] MindlineAnalytics commented on #438
can anybody help me with this?

[2018-01-05 15:14] mhasanshahid commented on #438
Works as follows :

////Master Slide 1
$oMasterSlide1 = $objPhpPowerPoint->getAllMasterSlides()[0];
$shape = $oMasterSlide1->createDrawingShape();

$shape->setName('PHPPresentation logo')
    ->setDescription('PHPPresentation logo')
    ->setPath('resources/abc1.png')
    ->setHeight(36)
    ->setOffsetX(10)
    ->setOffsetY(100);
$shape->getShadow()->setVisible(false)
    ->setDirection(45)
    -

[2018-01-05 15:29] mhasanshahid commented on #388
Works as follows :

////Master Slide 1
$oMasterSlide1 = $objPhpPowerPoint->getAllMasterSlides()[0];
$shape = $oMasterSlide1->createDrawingShape();

$shape->setName('PHPPresentation logo')
->setDescription('PHPPresentation logo')
->setPath('resources/abc1.png')
->setHeight(36)
->setOffsetX(10)
->setOffsetY(100);
$shape->getShadow()->setVisible(false)
->setDirection(45)
->setDistance(10);

////Maste

[2018-01-08 05:51] parixit572 opened #439 "Compress PPTX file size"
Hello all,

I m creating PPTX with avg 20 images in each file and file size is near about 16/17 MB. I am already compressing image via PHP to reduce it's size in all possible manner.

However when I compress file manually using  https://www.wecompress.com/ then file is redeced to 2/3 MB! That is too much difference.

Can you please direct me to compress PPTX file further?

Thanks

[2018-01-08 13:02] Progi1984 commented on #439
@parixit572 Could you give us two samples (uncompressed & compressed) for understanding tips for compressing ?

[2018-01-08 15:12] parixit572 commented on #439
[ORIGINAL.pptx](https://github.com/PHPOffice/PHPPresentation/files/1611973/ORIGINAL.pptx)
[COMPRESSED.pptx](https://github.com/PHPOffice/PHPPresentation/files/1611974/COMPRESSED.pptx)

@Progi1984 Thank you for reply. I am attaching files as requested.

[2018-01-08 16:03] mhasanshahid opened #440 "sample_19_SlideMaster"
By Default inside this placeholder text is white, how can i change the color of the text inside??

`$shape = $currentSlide->createRichTextShape();
$shape->setWidthAndHeight(960, 80)->setOffsetX(0)->setOffsetY(60);
$shape->getFill()->setFillType(Fill::FILL_SOLID)->setStartColor(new Color(Color::COLOR_BLUE));
$shape->getActiveParagraph()->getAlignment()
    ->setHorizontal(Alignment::HORIZONTAL_RIGH

[2018-01-08 16:06] Progi1984 commented on #439
All the optimization is done on images (png => jpg) :

![image](https://user-images.githubusercontent.com/1533248/34679371-06eb445a-f496-11e7-8d4a-9bbc4f80c995.png)

[2018-01-08 16:07] Progi1984 commented on #439
@parixit572 So you can do it oustide PhpPresentation :)

[2018-01-08 16:07] #439 closed

[2018-01-09 17:46] dlollman commented on #382
@Progi1984 is there anything else I can try here to help out?

[2018-01-09 21:16] Progi1984 commented on #382
@dlollman You can help to fix this comment #382#issuecomment-346697422

[2018-01-09 21:19] dlollman commented on #382
@Progi1984 That comment has a commit referencing a change for sample 20 which seems to not have any bearing on sample 5 (charts), can you confirm what you want me to do?

Thanks so much

[2018-01-09 21:22] Progi1984 commented on #382
@dlollman With this branch, Sample 05 generate slides without charts, you can start by fixing it :) Thank you for advance

[2018-01-10 11:08] mhasanshahid commented on #440
Solutions seems to use body instead of using title. Body has a default black which can be used with various fills.

[2018-01-13 08:19] keepWalks opened #444 "how to preview ppt document in browser use PHPPresentation"
Can you show some example?
just like Office Web Viewer or Google Slides.

Never mind，I uesed libreoffice fixed it out

[2018-01-18 08:44] DeathError commented on #318
Good afternoon. A similar problem for Russian characters with version 5.3 of php, problem 5.6 is not observed

[2018-01-18 08:57] DeathError commented on #318
current solution mb_internal_encoding("UTF-8");

[2018-01-21 01:48] williammck opened #446 "Animation writing off by one"
When using the PowerPoint2007 Writer, all the slide animations are off by one. For example, the first shape I animate has no animation, all the rest do, and the next shape I insert has an animation, even though I did not animate it.

I've traced it back to issue #227 and PR #229.
I'm not exactly sure why that would be causing the issue, as that commit was designed to fix a similar bug, but would s

[2018-01-21 19:13] chriskapp opened #447 "New release"
Hi, we are currently using this library in a project where we need to generate a Doughnut chart. But unfortunately it is only available in the master and the latest 0.9 release does not include those classes.
I saw the issue #378 where you list all todos for the 0.10 release. Do you want to implement all pending [milestones](https://github.com/PHPOffice/PHPPresentation/milestone/11) before you tag

[2018-01-25 05:49] barrychapman opened #448 "error when loading ppt into reader"
When opening a ppt file using the following:

        $path   = $this->attachment->prefix_path . $this->attachment->path . DS . $this->attachment->attachment;
        $doc    = \PhpOffice\PhpPresentation\IOFactory::createReader('PowerPoint97');

It errors no matter what with the following stacktrace:

	Notice Error: Uninitialized string offset: 262837774 in [/data/web/wa/vendor/phpoffice/phppresen

[2018-01-26 13:35] mhasanshahid commented on #150
@Progi1984 I am still have this problem. Can you please guide me how to fix this?

[2018-01-26 14:27] mhasanshahid commented on #150
@Progi1984 I am trying to follow this issue, but I am still not sure if its solved or not, because after saving my new pptx file show the same broken layout as images mentioned in this issue.

[2018-01-28 17:19] ankitsam commented on #367
@himanshu-esfera

 pptx file is just a zip file, you can rename .pptx to .zip then directly unzip the .pptx file, there you will find xmls inside the ppt/slides folder.

[2018-01-29 03:09] saikksub commented on #367
@ankitsam

pptx or docx files are in open XML format by default. In order to get all the XML files -
**just Unzip the .pptx file in the same working directory**
and you can access all the XML files and replace text in the same place holder.

I am working on a npm package that can replace text with placeholder for docx and pptx files.

[2018-01-29 11:59] mhasanshahid opened #449 "PowerPoint2007 : Read/Write SlideLayout"
Can any one guide me how to actually read the slide layout, and in general get exactly a copy of this sample slide.

[2018-01-29 15:05] mhasanshahid commented on #449
@Progi1984 Can you please guide me how it works?

[2018-01-31 11:12] tianlai0910 opened #450 "throw Excpetion 'Feature not implemented (l.811 : fcc' when read ppt"
Feature not implemented (l.811 : fcc in /home/parallels/web/composer/vendor/phpoffice/phppresentation/src/PhpPresentation/Reader/PowerPoint97.php:811

[2018-02-01 03:21] rossoneri commented on #450
Encountered same problem:

[code]
The ppt I loaded was a pptx file at first and was saved as a ppt file, hope this clue can help.

[2018-02-06 21:32] bkanber opened #452 "Percent signs in PptCharts cause unrepairable failure"
When using PowerPoint2007 writer to create charts and opening in Powerpoint for Mac, I get an unrepairable error from PPT.

The source of the issue is two lines in PptCharts:

Line 108:

[code]

Line 2325:

[code]

If I remove the two percent symbols everything works as expected.

Would this be a safe pull request to make?

[2018-02-08 08:41] MindlineAnalytics commented on #452
Yes its because of the new version of the powerpoint. This is safe.

[2018-02-08 08:41] mhasanshahid commented on #452
Yes its because of the new version of the powerpoint. This is safe.

[2018-02-08 16:06] bkanber commented on #452
Thank you, I have submitted a pull request with passing tests. Please let me know if the changes I made to the test suite are acceptable. I have left the following comment on the PR explaining the logic:

[2018-02-08 19:41] #452 closed

[2018-02-12 15:18] Stefanbracke commented on #419
Yes, is this possible?

[2018-02-12 15:19] Stefanbracke commented on #394
Same problem. Anyone has a working example of loading a template pptx and using it as a blueprint for new pptx?

[2018-02-13 12:34] Progi1984 commented on #452
Fixed in  #453

[2018-02-14 14:48] advacom opened #456 "Audio"
Hi All,

Is it possible to add audio to the presentation? If yes, how?

[2018-03-05 13:13] ahsanshoaib45 opened #458 "Newly created pptx file through addExternalSlide get corrupted"
I am running sample example 20 on my local machine. if I paasess the pptx file that has only one slide it works fine and outputs the correct pptx file but in case the input pptx file has more than 1 slide than the newly created pptx file get corrupted.

[2018-03-06 08:06] amirakbari opened #459 "text direction control for Right-To-Left paragraphs"
there is no way to control Text Direction for RTLs Paragraphs

[2018-03-06 09:46] #458 closed

[2018-03-19 13:01] pdmchugh commented on #428
I'm having this issue too - the first colspan in a row works fine, subsequent ones are ignored.

Anyone have a fix?

Thanks

[2018-03-19 14:39] BoomshakalakaNL opened #461 "Implementing video issue"
Hi All,

I'd like to know how I can add a video in mp4- or wmv- format into the Powerpoint. I used the following function which should work.
[code]

When I do this, the powerpoint will be created, but I get an error from powerpoint saying the file is broken and it needs to repair. The error is dutch. I'm using Powerpoint 2016 and tested it on 2007 and 2013 with no results
![knipsel](https://user-i

[2018-03-22 15:00] dookieffs opened #462 "Way to embed files within powerpoint?"
Is there such functionality to add attachment to the slide, and prompt download on click, or any other way for attached file to be extracted? Thnx

[2018-03-23 10:55] geri777 opened #463 "Who can give commercial support?"
Hi PHPOffice specialists! I would like to use PHPPresentation for a project, where I create a Powerpoint (pptx). This PPT will also include a third party plugin. I am looking for someone who has good experience with PHPPresentation and who can take over critical parts of this project. Feedback until end of March 2018, please. Please write to ranner(at)gmx.net or answer here. Thanks

[2018-03-28 10:21] jourdier opened #465 "Styles disappear after deleting multiple slides"
Hello,
I'm having issues when I delete multiples slides. Indeed, styles disappear after removing slides.
I work with  a PowerPoint 2007 (.pptx) file.

Here is my code:
`                $pptLayout = new \PhpOffice\PhpPresentation\DocumentLayout();
                $pptLayout->setDocumentLayout($pptLayout::LAYOUT_SCREEN_16X10);
                $reader = IOFactory::createReader("PowerPoint2007");

[2018-03-30 09:33] geri777 commented on #463
I have not received any answers so far :-(

[2018-04-02 20:04] jeffsrepoaccount commented on #378
Any movement yet on implementing this release? I'm specifically interested in PR #435 (or PR #441, whichever one will fix charts).

[2018-04-03 14:58] raghavzwt06 opened #466 "Design broken after add new slid on exiting ppt file"
I'm having issues when load ppt file and add new slide on that file and save result should not same as original ppt file.

Here attached both files 1) Original file: original.pptx
[original.pptx](https://github.com/PHPOffice/PHPPresentation/files/1872047/original.pptx)
 2) Generated file: generated.pptx
[generated.pptx](https://github.com/PHPOffice/PHPPresentation/files/1872053/generated.pptx)

Pl

[2018-04-03 15:03] raghavzwt06 commented on #9
I have same issue faced. I have used  PhpPresentation 0.9.0 version.

[2018-04-09 08:37] LinkerM commented on #359
Hello, please help me see how this is done. @Progi1984
![_15232627887930](https://user-images.githubusercontent.com/33533167/38487897-52ad8090-3c14-11e8-97e6-2387c8a44761.png)

[2018-04-10 07:01] LinkerM commented on #359
@Progi1984 Can you give a demo

[2018-04-10 08:45] raghavzwt06 commented on #105
Can be possible this type of Stacked and Grouped column chart ?
![screenshot_1](https://user-images.githubusercontent.com/20964161/38546177-96095070-3cc9-11e8-8a59-4fde429060f4.png)

[2018-04-10 19:43] Progi1984 commented on #105
@raghavzwt06 Have you got a sample file ?

[2018-04-11 14:45] dlollman commented on #438
@MindlineAnalytics did you ever figure this out?

[2018-04-11 14:51] Progi1984 commented on #9
@raghavzwt06 Have you got a sample file (PPTX) and a sample code for testing ?

[2018-04-19 08:48] EddieHuang79 opened #468 "I can't get correct value of Vertical Alignment and FontSize in the Shape"
Hi Author,
                 I get a mission to preview ".pptx" file on the web. For this job, I create a pptx file to test function, just like following picture.

[2018-04-24 12:29] Stefanbracke opened #469 "IOFactory chokes on 'big' pptx file"
Results in:
**Fatal error:**  Allowed memory size of 268435456 bytes exhausted (tried to allocate 2200 bytes) in /.../vendor/PhpPresentation/Reader/PowerPoint2007.php</b> on line <b>743

And note that I increased the memory for php from 128M to 256M.
Please tell me how to read this file without resorting to ruby for example.

[2018-04-26 07:34] amirakbari commented on #398
yes but Microsoft PowerPoint have multiple option for crop in slides that save original image and show a view of cropped image and user can change dimension of crop

[2018-04-28 08:24] gzanthony opened #470 "how to compatibility wps."
Hi, i have a problem with wps open a create by PHPPresenation use PowerPoint2007 format well be fault on line spaceing, and i comparison between ms ppt xml and wps ppt xml, found the wps is use 1000 unit , but microsoft ppt is use % unit , so how fixed this ?

wps line space xml : <a:spcPct val="100000"/>
ms line space xml: <a:spcPct val="100%"/>

[2018-05-08 07:27] dookieffs opened #471 "A possibility to set "mark as final""
It would be nice, and I hope not too hard, to implement the "readonly" functionality, which is in ms powerpoint called "Protect presentation" -> "Mark as final"

[2018-05-18 09:13] NovicePHP opened #472 "How to view it in browser insetad of downloading it"
Hello Team,

I don't have write access on the server folder and so am unable to create the ppt. The below Piece of code wites the ppt and stores it in the root directory.

$oWriterPPTX->save(__DIR__ . "/sample.pptx");

Is there something that I can download it from the browser just like we use it for mpdf.

$mpdf->Output($filename. '.pdf', 'I');

I was struck in a point on how to download the ppt

[2018-05-19 06:10] Progi1984 opened #473 "Clean git directory"
PHPOffice/PhpWord#1355

[2018-05-22 10:49] NovicePHP commented on #472
Can anyone help me out here please. I was stuck at this point on downloading the ppt file directly from the browser

[2018-05-29 03:05] huangliming82 opened #474 "How to change the slide size from 4:3 to 16:9"
How to change the slide size from 4:3 to 16:9

[2018-05-29 10:29] tcagkansokmen opened #475 "Can't save any files from samples"
hi,

i'm trying to use samples for undertanding the system.
buy it doesn't save anything?

for example i'm using; Sample_19_SlideMaster.php file. but it doesnt save any new file?
no error, no log and no response.

what could be the problem?
where is it to save file?

[2018-05-29 11:55] #475 closed

[2018-05-29 11:58] tcagkansokmen opened #476 "Empty slides when use Line_charts?"
hello, I couldn't find the problem. I'm using default samples; Sample_05_Chart_Line.php

It saves a pptx file, and it's broken and empty.
how can I solve it?

My samples are in: /public_html/phppresentation/samples
my vendor is in: /public_html/phppresentation/vendor

what could be the problem? I didnt customize anything.

[2018-06-11 09:43] atm080203 commented on #245
I'm have a same issue, just because the file don't have the right permission

[2018-06-18 13:42] vinuf666 opened #477 "Is there any way by which we can move slide to a particular index"
I am trying to figure if there is a way to insert a slide at a particular index instead of the default behavior of appending it to the end? (for e.g when using createSlide() can I specify the index where it has to be inserted.
Or is there a way to move a slide to a particular index in the presentation?

[2018-06-20 20:02] OptrixAU opened #478 "Not Loading Animations"
I threw together a very basic single-slide presentation with a couple of items (text and images) with basic animations (ie. fade and fly-in) in Powerpoint Online and exported them in both ODP and PPTX formats.

While the content loaded fine, the animations were lost - they simply don't seem to be loaded. A print_r of the slide shows **[animations:protected] => Array ( )**

The animations are visib

[2018-06-21 08:54] Deeph87 commented on #474
You can specify it into the Layout of your document by passing an existing constant :

[code]

[2018-06-26 02:55] jinmingzhu opened #479 "when use office default format, php read both offsetX and offsetY is 0"
I use Microsoft PowerPoint 2013, I found when using phpoffice samples read pptx file, the shape offsetX and offsetY both 0, If I move ppt file shape one pix , then reading is correct. It seems
that it can't read office default design format offset.

[2018-06-27 06:41] i3iorn opened #480 "Only some rich text shapes show up"
I am trying to read the text from an .odp file and I get the first 2 rich text fields but the remaining, in this case 9 fields, is nowhere in the slideCollection.

[2018-06-29 09:14] polmqwaz opened #481 "can i open an existing ppt, and insert some new slide, than save it? if can, how to do it? thank you"
i have a template ppt. i want to use phppresentation to open this template ppt and insert some new slide and save and download it. is it possible? if can , can you tell me the way, pls.
thank you very much!

[2018-07-02 08:04] jinmingzhu opened #482 "when office pptx insert text box, api can't read text break"
when use office2013 in pptx insert text box, api can't read text break. It seems that all text in one line.

[2018-07-02 12:13] vinuf666 opened #483 "How to display a series value as percentages instead of numbers?"
I am trying to display the Y units are percentages (10%,20%..100%) but it displays them as values (0.1, 0.2,...,1.0)

Here is the code
`
   $seriesAoC = array(
    '01/07/2015' => 0.2,
    '01/08/2015' => 0.5,
    '01/09/2015' => 0.8,
    '01/10/2015' => 1.0
    ); //supposed to display plots at 20%, 50%, 80% and 100% on axis Y ???
    $oFill = new Fill();
    $oFill->setFillType(Fill::FILL_SOLID)

[2018-07-04 08:29] polmqwaz opened #484 "use more than two colspan in a table row， will be wrong"
i use more than tow colspan in table row， some of colspan be invalid. why？

[2018-07-04 09:22] polmqwaz commented on #428
example:
  in a row
    1st  cell  :   $row->getCell(0)
    2nd cell :    $row->getCell(1);   colspan(2)
    3rd  cell :    $row->getCell(3);

the 3rd cell , we focus it not use getCell(2), rather than use getCell(3)
if use nextCell(), i think should use nextCell() twice

[2018-07-04 09:23] polmqwaz commented on #484
i got it

[2018-07-04 15:35] NovicePHP commented on #472
Any feedback?

[2018-07-05 04:44] sam1238801 opened #485 "Change the color of the bar in bar chart."
Hello, I need help, how can i change the colour of the bar in bar chart. The default colour series is in the order blue, red and so on. I need to change the order of the series. Is it possible.Please reply asap.

[2018-07-09 08:57] aksoybekir opened #486 "Changing from 4:3 to 16:9 without affecting design of slides"
Hi,
I have been creating my slides using 4:3 size but I want to change it to 16:9. I am using `$myppt->getLayout()->setDocumentLayout(DocumentLayout::LAYOUT_SCREEN_16X9);`
but the design of slides changing. For example I am centering a logo using
`$shape->setOffsetY(($height - $shape->getHeight())  / 2);`
It was working correctly on 4:3 but not working on 16:9.Also $height variable is the height o

[2018-07-09 11:10] #486 closed

[2018-07-10 09:21] LSC13D2 commented on #476
I have the same issue. I created a slide with a line Chart it works but I try to create another chart on another slide and it fail and generate an empty slide...

[2018-07-11 07:09] ajitrishabh commented on #352
@bhanushalimahesh3  have you got the secondary Y axis. if yes pls guide.

[2018-07-11 09:20] bhanushalimahesh3 commented on #352
@ajitrishabh no

[2018-07-12 02:47] polmqwaz commented on #427
打开保存后：
![image](https://user-images.githubusercontent.com/27537320/42609770-d0188ac0-85c0-11e8-9f61-a63f0659c327.png)
打开保存前：
![image](https://user-images.githubusercontent.com/27537320/42609784-e6842814-85c0-11e8-8894-614b244f4caa.png)

[2018-07-19 09:49] victortodoran opened #487 "Loading presentation results in Division By Zero."
Env Php7
PhpPresentation - master.

**Context**
I'm creating a set of pptx.
I'm opening and closing presentations to add|remove slides.
I'm using the following reader `IOFactory::createReader('PowerPoint2007');`
I'm using the following writer `IOFactory::createWriter($pptHandler, 'PowerPoint2007');`

**Expected behavior**
Everything to go smoothly

**Actual behavior.**
$reader->load($destination);

[2018-07-25 10:17] abhishek-swt commented on #250
Hello guys, I have manually downloaded PHPPresentation and facing the same problem.
I have downloaded the master branch from your repository. How can I fix this?

[2018-07-30 05:00] PongVL opened #488 "auto margin the TextRun when using the Bullet"
Hi all, I have met the issue when using the Bullet, can anyone advise me how to make the RichText margin when I using the Bullet on the Paragraph (expect the bullet only the text like we as we usually do in word and Powerpoint).

My code
`$Textshape2->getActiveParagraph()
            ->getBulletStyle()
            ->setBulletType(Bullet::TYPE_NUMERIC)
            ->setBulletColor(new Color(Color::

[2018-07-31 14:37] forexgg commented on #388
@mhasanshahid

I appreciate your reponse. When I new an instance,

[code]

This is fine. But I think there is **only one MasterSlide generated**.

So when I tried this,

`
$oMasterSlide2 = $objPhpPowerPoint->getAllMasterSlides()[1];
`

It will give me an error "Undefined offset: 1", that is why I can't generate the second Master Slide.

Any thoughts?

[2018-07-31 15:04] forexgg commented on #388
@mhasanshahid

By adding

`
        $objPhpPowerPoint->createMasterSlide();
`

before

`
$oMasterSlide2 = $objPhpPowerPoint->getAllMasterSlides()[1];
`

I was able to generate the second MasterSlide.  Will dig into more ...

Thanks!

[2018-07-31 22:13] forexgg opened #489 "How to set background img by Picture or texture fill?"
Office 2007 has the background set which can use **Picture or texture fill.**

That way, I can use a small image and don't have to use the large image as a background.

I can't find in the documentation that option being available.

Could someone help? or this feature is not developed yet.

[2018-08-01 07:06] mhasanshahid commented on #388
@forexgg you got it exactly right.. 👍

[2018-08-01 14:07] erswelljustin opened #490 "imagecreatefromstring(): Data is not in a recognized format"
I am trying to use PhpPresentation to read a `sample.pptx` file using the simple instructions for readers in the docs and I am getting:

`imagecreatefromstring(): Data is not in a recognized format`

I have checked that I have PHP7.2-gd installed and all of the other dependencies.

My Code:

[code]

Can anybody help me understand the issue?

The file with the issue is `vendor/phpoffice/phppresenta

[2018-08-07 20:47] Laar2 opened #491 "Video in Office 2010 is possible after manual adjusting. Please make adjustmensts in code."
I am using PHPPresentation to create PPTX for Office 2010. When adding a video the PPTX must be repaired.
I compared some files and saw the following :

- in the PPTX this file is missing : \ppt\media\image1.png . This image is used as the black background in the video .
- in the ppt\slides\_rels\slide1.xml.rels the reference to this image1.png is also missing
- In the file ppt\slides\slide1.xml

[2018-08-08 19:02] Laar2 commented on #491
I started working on this...
I found a bug in AbstractSlide.php
line 1170 writing the media relation
`$objWriter->writeAttribute('r:embed', $shape->relationId);`

the same `$shape->relationId` is used when writing the video-relation

I added a function to add 1 to the relationId, which is a string;
`    /**
     * Increase the relationId.
     * @param string $currentRId
     * @return string new

[2018-08-09 20:17] Laar2 commented on #491
It is working   :-)

I made several adjustments in the code and now i am able to add a video to the PPTX, without Powerpoint complaining about repairs.....

I reversed engineered the "Timing"- block in the Slide.
I also extended a Video-class from Media, just because I want to add audio to the PPTX using an Audio Class.
Which is working also.

Some fine-tuning is still needed.....

[2018-08-12 08:41] marin1993 opened #492 "How to create a bulleted list, or a numbered list?"
This project is great, very powerful！
but the documentation is a bit less, how to create a bulleted list, or a numbered list ?
thank you very much !

这个项目太棒了，非常厉害，唔，就是文档有点少，怎么创建项目符号列表，或者编号列表  =。=
感谢您百忙之中的回复。

[2018-08-12 08:53] marin1993 commented on #492
Yay, I find it at 'Sample_11_Shape.php'

[2018-08-12 08:53] #492 closed

[2018-08-13 12:13] aksoybekir opened #493 "Is it possible to export a ppt as pdf?"
Hi,
Is there any way to save a ppt as pdf file? Does phppresentation include anyway of this?

[2018-08-14 12:14] AashayThakurMMX opened #494 "PPTX not open below than office 2010 version"
PPTX not open below than office 2010 version

give lost data error & only images show

[2018-08-16 07:14] mayurhgce opened #495 "Warning: include(PHPPowerPoint.php): failed to open stream"
When i use this code on Hostgator Server it's show error.

**Error :**
Warning: include(PHPPowerPoint.php): failed to open stream: No such file or directory in /home2/xenonerp/public_html/timios/export/export_ppt.php on line 86

Warning: include(PHPPowerPoint.php): failed to open stream: No such file or directory in /home2/xenonerp/public_html/timios/export/export_ppt.php on line 86

Warning: incl

[2018-08-17 03:08] cuongpv0504 opened #496 "cell width change with first row use colspan"
It says "The width of cells are defined by the width of cell of the first row" in document so how do i change cell width if my table use colspan in first row?

[2018-08-17 03:16] #496 closed

[2018-09-04 14:37] mhasanshahid opened #497 "drawing a bar chart"
$series1 = array();

//pushing values in $series1

$StackedBarChart = new Bar();
    $series1 = new Series( '18-24 Jahre', $series1 );

    $series1->setShowSeriesName( false );
    $series1->getFill()->setFillType( Fill::FILL_SOLID )->setStartColor( new Color( 'FF00FFFF' ) );
    $series1->getFont()->getColor()->setRGB( '000000' );
    $series1->setShowValue( true );
    $series1->setShowPercenta

[2018-09-05 02:57] phpsb opened #498 "PHPPresentation can drawing pie chart ?"
PHPPresentation can drawing pie chart ?

thx.

@Progi1984

[2018-09-05 03:08] phpsb commented on #497
you chart dot need value ?

$series1 is x,y value

[2018-09-05 05:57] mhasanshahid commented on #497
Horizontal stack bar that means just one value no x y.

On Wed 5. Sep 2018 at 5:08 AM, phpsb <notifications@github.com> wrote:

[2018-09-05 10:20] mhasanshahid opened #499 "How can i display category name on x axis in group bar chart"
Like we display axis title, how can i display name of category on my x axis group bar chart?

[2018-09-05 10:26] mhasanshahid commented on #499
@Progi1984

[2018-09-05 11:14] mhasanshahid commented on #499
![category](https://user-images.githubusercontent.com/16210347/45089788-9c504e80-b10d-11e8-8253-c4d44e86fd69.png)

[2018-09-05 11:39] mhasanshahid commented on #499
I am not able to see these kategorie names in my chart. Anyone can help me ?

[2018-09-05 12:02] phpsb commented on #499
x name is Document array $seriesData1 key.

eg:
$seriesData1 = ['x-name-1'=>1,'x-name-2'=>2];

x-name-1 is x nama
x-name-2 is x name

you know?

@mhasanshahid

[2018-09-05 12:03] mhasanshahid commented on #499
Please read my question again.

[2018-09-06 03:48] phpsb commented on #499
sorry ~

how do you know set header and footer ?

i dot find it

@mhasanshahid

[2018-09-06 04:02] phpsb opened #500 "how to set page header, foot in slides ?"
i need set page header, foot.

but ,i don't find document about it.

anybody can help me?

thanks.

[2018-09-06 06:03] phpsb commented on #426
你的意思是ppt样式出错吗?

[2018-09-06 06:11] #498 closed

[2018-09-06 07:06] #499 closed

[2018-09-06 07:07] mhasanshahid commented on #500
There is a file named "Sample_Header". You can add that first, and see how its behaving.

[2018-09-06 07:15] phpsb commented on #500
first, thanks your Reply.

yes, i can see 'Sample_Header' file.

but. don't find how to set slides header,foot.

@mhasanshahid

[2018-09-06 07:17] mhasanshahid commented on #500
I have tested it by including it on top ...
include_once 'vendor/phpoffice/phppresentation/samples/Sample_Header.php';

and it works for me

[2018-09-07 08:47] mhasanshahid opened #501 "Scatter chart Problem"
Scatter chart plot values from an array like (x=>y) so x is supposed to be a key and y is a value. But what if my x value repeats ? but in an array x is a key that can only exist once.

[2018-09-07 08:47] mhasanshahid commented on #501
@Progi1984 How can i work with this problem?

[2018-09-07 08:55] phpsb opened #502 "how this to move bottom in Charts"

[2018-09-07 09:00] phpsb commented on #501
hi~
can you help me?

i hava a question,

but, i don't know how to say.

can you give me your email ?
thx
@mhasanshahid

[2018-09-07 09:02] mhasanshahid commented on #501
@phpsb you can write me here as you will write me on email.

[2018-09-07 09:06] phpsb commented on #501
@mhasanshahid

it's ok update file

you see top image

i need move to bottom!

thanks man

[2018-09-07 09:09] mhasanshahid commented on #501
@phpsb use $shape->getLegend()->setPosition(OPTIONS);

OPTIONS are :
 const POSITION_BOTTOM = 'b';
    const POSITION_LEFT = 'l';
    const POSITION_RIGHT = 'r';
    const POSITION_TOP = 't';
    const POSITION_TOPRIGHT = 'tr';

Let me know if that helps.

[2018-09-07 09:18] mhasanshahid commented on #501
@phpsb use POSITION_BOTTOM as  'b';

[2018-09-07 09:26] phpsb commented on #501
@mhasanshahid

ok~ thank you very much.

happy to you.

[2018-09-07 09:28] mhasanshahid commented on #502
@phpsb you can close this.

[2018-09-07 11:45] phpsb commented on #502
@mhasanshahid  ok.

[2018-09-07 11:45] #502 closed

[2018-09-10 06:04] phpsb commented on #483
hi.

do you know How to display a series value as percentages?

if you know, please help me thanks.

[2018-09-10 06:18] 3masterplus opened #503 "hi~ i need you help."
hi~

i before username is phpsb .

We have exchanged

now, i hava two question need you help.

if you know, please help me thx.

question 1:

Charts Y axis how to set percentage. like 10% 15% 26%

question 2:

my ppt is work, but i give other people, this ppt is error..

@mhasanshahid

[2018-09-10 06:33] CURDMAN commented on #470
朋友, 这个我那天你解决了吗.

[2018-09-10 11:55] mhasanshahid commented on #503
@phpsb you mean
$shape->getPlotArea()->getAxisY()->setMaxBounds( 100 );
this value you in %?

[2018-09-10 15:08] mhasanshahid commented on #503
try this
$shape->getPlotArea()->getAxisY()->setFormatCode('0%');

[2018-09-11 07:34] phpsb commented on #503
DrawingShape  image path

can use url ?

i use url is error  file 'http://asdadasdad.com/abc.jpg' not found~

code
        $shape = $currentSlide->createDrawingShape();
        $shape->setPath('http://asdadasdad.com/abc.jpg')

is error.

eg: http://asdadasdad.com/abc.jpg

[2018-09-12 08:10] mhasanshahid commented on #503
@phpsb did it worked correctly? or you did anything else?

[2018-09-12 08:46] phpsb commented on #503
no no no..

Demand has changed.

so i dot make it.

hahha~

@mhasanshahid

[2018-09-12 08:49] mhasanshahid commented on #503
@phpsb ok good luck

[2018-09-12 09:10] Progi1984 opened #504 "Migration from PHPExcel to PhpSpreadsheet"
@mhasanshahid

[2018-09-12 12:47] phpsb commented on #503
i export ppt need Repair in office 2016

office 2013 Charts are broken

what you use branch ?

i use 0.9.0

wps is work, but office need Repair

do you meet that question ?

@mhasanshahid

[2018-09-12 12:49] mhasanshahid commented on #503
@phpsb I dont understand your question. Please write english correctly or use a translator if you are from another language.

[2018-09-12 13:11] phpsb commented on #353
hi this issue are you solve?
i meet same issue.
@dlollman

[2018-09-12 13:13] phpsb commented on #353
this issue how to solve ?

i use dev-master branch and edit PptCharts Line 102

but, to no avail.

anybody help me ?

@amitrajput92 @larryb-redflare

[2018-09-12 13:41] phpsb commented on #503
when you open file(ppt), you meet powerpoints file is damage need repairing?

in powerpoints

@mhasanshahid

[2018-09-13 08:02] mhasanshahid commented on #504
@Progi1984 When will this update happen?in upcoming version 10 or?

[2018-09-13 08:59] phpsb opened #505 "Sample_05_Chart.pptx need Repair"
How to solve?

[2018-09-13 09:02] phpsb commented on #505
open Sample_05_Chart.pptx in PowerPoint show need Repair.

Don't want to bother you, but i can't solve it.

@mhasanshahid

anybody can solve it?

[2018-09-13 09:55] mhasanshahid commented on #505
@phpsb Which office version are you using?

[2018-09-13 09:55] mhasanshahid commented on #505
@phpsb Meanwhile can you also download my version of phppresentation, because for me all samples are working in my version.

[2018-09-13 10:00] phpsb commented on #505
your mean is your : https://github.com/mhasanshahid/PHPPresentation ?

office 2016 and 2013.

[2018-09-13 10:01] mhasanshahid commented on #505
@phpsb office 2016 it works perfect. Yes this one @phpsb

[2018-09-13 10:02] phpsb commented on #505
@mhasanshahid  ok. thank you very much.

[2018-09-13 10:34] #501 closed

[2018-09-13 12:02] mhasanshahid commented on #505
@phpsb is it working now with my version of it??

[2018-09-13 14:19] phpsb commented on #505
@mhasanshahid

no bro. my leader solve this question.

i feel composer install Library and https://phppresentation.readthedocs.io/en/latest/ Manual install Library is different.

fix PptCharts.php 102 line

        $objWriter->writeElementIf($hPercent != null, 'c:hPercent', 'val', $hPercent . '%');
to
        $objWriter->writeElementIf($hPercent != null, 'c:hPercent', 'val', $hPercent);

i try you

[2018-09-13 14:32] mhasanshahid commented on #505
@phpsb delete all % signsss.... its an old fix that i have done way back.

[2018-09-13 14:39] phpsb commented on #505
How about result？

Is't work now.

The day after tomorrow need online.

So i don't hava enough time.

[2018-09-14 02:37] #500 closed

[2018-09-17 10:17] mhasanshahid commented on #504
@Progi1984 this migration should only be implemented under writer PptCharts or?

[2018-09-19 14:34] mhasanshahid commented on #504
@Progi1984 Done with migration will give a pull request.

[2018-09-24 05:31] nplesa opened #506 "RichText issue"
Hi guys,

i have this code as part in my phppresentation.

       // // Create a shape (text)
       //  $oShapeRichText = $currentSlide->createRichTextShape();
       //  $oShapeRichText
       //      ->setHeight(400)
       //      ->setWidth($slide_width - 100)
       //      ->setOffsetX(50)
       //      ->setOffsetY(200);
       //  $oShapeRichText->getActiveParagraph()->getAlignment()->se

[2018-09-25 18:13] Zetkolink opened #507 "Chart"
When I create a slide with a diagram, Power Point at the opening of the presentation writes that an error has been found and gives the choice of either canceling or resurrecting, after which it says that it was not possible to restore and some elements were deleted. The presentation opens without a chart.

[2018-09-26 11:35] kkorzeniak opened #508 "Can't create master slide"
Hi, I have some problems with creating master slide. Everything works fine if I'm establishing usual slide, but when I try to create master slide, it doesn't render in downloaded pptx. I tried using method from `https://phppresentation.readthedocs.io/en/latest/slides_layout.html` in various combinations, I was also trying to switch `createSlide()` with `createMasterSlide()` in working functions, b

[2018-10-03 11:32] #383 closed

[2018-10-03 11:33] Progi1984 commented on #387
@forexgg Could you test with the develop branch after the PR #454 from @karlosagudo ? Thanks

[2018-10-03 11:37] #418 closed

[2018-10-03 11:39] Progi1984 commented on #427
@polmqwaz Could you give the sample file, please ?

[2018-10-03 11:44] Progi1984 commented on #444
@keepWalks The solution would be an output to HTML (#221) or PDF (#181) or images.

[2018-10-03 11:44] #444 closed

[2018-10-03 11:48] Progi1984 commented on #447
@chriskapp I would like to implement all current pull request before releasing 0.10.

[2018-10-03 11:57] Progi1984 commented on #447
@chriskapp I would like to implement all current pull request before releasing 0.10.

But currently, I have no time... I thought to have a patreon to finance some time to open source but I didn't know if people would be interested.

[2018-10-03 11:57] #447 closed

[2018-10-03 11:58] Progi1984 commented on #448
@barrychapman Do you have a sample file for testing, please ?

[2018-10-03 12:03] Progi1984 commented on #463
@geri777 Sorry, I have no time since the start of the year... I thought to have a patreon to finance some time to open source but I didn't know if people would be interested.

[2018-10-03 12:03] #463 closed

[2018-10-03 12:04] Progi1984 commented on #466
@raghavzwt06 Could you have the code for testing it on original.pptx ?

[2018-10-03 12:05] Progi1984 commented on #468
@EddieHuang79 Could you give us your sample file ?

[2018-10-03 12:06] Progi1984 commented on #469
@Stefanbracke Could you give us a sample file for optimizing it ?

[2018-10-03 12:09] Progi1984 commented on #474
@Deeph87 Thank you for the answer.

[2018-10-03 12:09] #474 closed

[2018-10-03 12:12] Progi1984 commented on #478
@OptrixAU Could you show me your sample code, please ?

[2018-10-03 12:13] Progi1984 commented on #479
@jinmingzhu Could you give us a sample file & code for testing ?

[2018-10-03 12:14] Progi1984 commented on #480
@i3iorn Hi, Could you give us a sample file for testing ? Thank you

[2018-10-03 12:16] Progi1984 commented on #482
@jinmingzhu Hi could you give us a sample file for testing, please ? Thank you

[2018-10-03 12:16] #484 closed

[2018-10-03 12:19] Progi1984 commented on #490
@erswelljustin Which sample.pptx do you use ?

[2018-10-03 12:21] Progi1984 commented on #494
@AashayThakurMMX Hi could you give us a sample file for testing, please ? Thank you

[2018-10-03 12:25] #503 closed, assigned to nobody

[2018-10-03 12:36] Progi1984 commented on #245
Check rights problem before reading

[2018-10-03 12:38] Progi1984 commented on #150
@mhasanshahid Which problem do you have ? Could you open a new issue, please ?

[2018-10-03 12:39] Progi1984 commented on #380
@parixit572 Could you open a new issue, please ?

[2018-10-03 12:40] Progi1984 commented on #309
@eL-Prova Which version 5.6.30 ?

[2018-10-03 12:48] Progi1984 commented on #345
@Progi1984 May be fix here #345#issuecomment-302448316

[2018-10-03 13:40] AashayThakurMMX commented on #494
Text lost below 2010.

On Wed, Oct 3, 2018 at 5:51 PM Progi1984 <notifications@github.com> wrote:

[2018-10-03 13:48] Progi1984 commented on #494
@AashayThakurMMX Hi could you give us a sample file (PPTX extension) for testing, please ? Thank you

[2018-10-04 11:34] Progi1984 opened #509 "Writer Image"
Export slides as images

[2018-10-04 11:36] Progi1984 commented on #224
Closes #509

[2018-10-04 11:36] #509 closed

[2018-10-05 07:44] Progi1984 commented on #382
I just found the problem for charts in pptx

[2018-10-08 07:48] pcholewa commented on #507
I have the same problem. Anyone can help?

[2018-10-08 09:05] Progi1984 commented on #382
Open XML is so hard to validate... I'm looking for a lasting solution for OpenXML which support Office 2007 / 2010 / 2013 / 2016 / 2019...

Actually, I found schema for Office 2010 so it's not lasting

[2018-10-08 09:26] Progi1984 opened #510 "Migration PowerPoint2007 to PPTX, ODPresentation to ODP"
Because PPTX is linked to multiples versions of Office (Office 2007/2010/2013/2016/2019...)
Because ODP is linked to mulitples ODF versions (1.0/ 1.1/1.2)

[2018-10-08 09:28] Progi1984 commented on #507
Duplicates #382.

[2018-10-08 09:28] #507 closed

[2018-10-08 13:51] Progi1984 commented on #505
@phpsb @mhasanshahid Duplicates #382.

[2018-10-08 13:51] #505 closed

[2018-10-08 13:52] Progi1984 commented on #353
@phpsb @dlollman @amitrajput92 @larryb-redflare Duplicates #382.

[2018-10-08 13:52] #353 closed

[2018-10-08 14:06] Progi1984 commented on #382
@Zetkolink @pcholewa From #507
@phpsb @mhasanshahid From #505
@phpsb @dlollman @amitrajput92 @larryb-redflare  From #353

[2018-10-08 14:09] Progi1984 commented on #382
@Zetkolink @pcholewa From #507
@phpsb @mhasanshahid From #505
@phpsb @dlollman @amitrajput92 @larryb-redflare  From #353

If anything has informations about schema (XSD) for validating Office 2007 files, I'm interested.

[2018-10-10 13:41] larryb-redflare commented on #382
Have you tried ....

https://www.microsoft.com/en-us/download/confirmation.aspx?id=4463

[2018-10-10 13:55] Progi1984 commented on #382
@larryb-redflare Thank you. But no information inside :

[2018-10-10 16:08] larryb-redflare commented on #382
I know higher in the thread someone linked to the Micsoroft XML SDK kit 2.5; maybe the older one v2.0 might help if you don't already have it ...

https://www.microsoft.com/en-ie/download/details.aspx?id=5124

First line of blurb says ,... Open XML is an open ECMA 376 standard and is also approved as the ISO/IEC 29500 standard that defines a set of XML schemas for representing spreadsheets, charts

[2018-10-10 21:34] TrevorBradleyCDN commented on #275
I think I've just hit this same bug.

I'm attempting to load an existing PHP Presentation which has a LibreOffice "Area".  The source xml file of the slide in question looks like:

`<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<p:sld xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/main"
       xmlns:p="http://schemas.openxmlformats.org/presentationml/2006/main"
       xmlns:r=

[2018-10-10 22:04] TrevorBradleyCDN commented on #275
This isn't quite what @alejandrososa was talking about.  Let me see if I can write up a new issue to summarize my problem.

[2018-10-10 22:32] TrevorBradleyCDN opened #511 "Powerpoint2007 Reader : Implement fill in RichText"
I'm having an issue where I'm attempting to load an existing PPTX file, with a background fill colour, defined as an "Area" in LibreOffice Impress, or as a solidFill in the slide XML.

All background fill colours, or "Area" shapes, appear to be completely discarded by IOFactory's load function.

I thought it was just me, so I modified Sample_06_Fill.php to attempt to reload, then resave the PPTX f

[2018-10-11 07:52] Progi1984 commented on #275
@TrevorBradleyCDN Please open a new issue :)

[2018-10-11 08:00] Progi1984 commented on #511
It's not implemented for the moment :).

[2018-10-11 10:01] Progi1984 commented on #382
@larryb-redflare & all :)

ECMA 376 is here : https://www.ecma-international.org/publications/standards/Ecma-376.htm

Office 2007 is based on the first version and schemas are in the part 4 :
* XML schemas for the markup languages are declared as XSD and (non-normatively) using RELAX NG
* Link : https://www.ecma-international.org/publications/files/ECMA-ST/Office%20Open%20XML%201st%20edition%20Par

[2018-10-11 12:06] zoltanseer commented on #431
Any news for this? I have a similar problem, but I don't have videos. Just merging some pptx files. I could reproduce the bug in office 2011 and 2013. From version 2016 it opens fine.

[2018-10-11 13:47] Progi1984 commented on #382
@larryb-redflare A solution will be to create my own xsd based from ECMA 376 -1st edition...

[2018-10-12 17:37] markhedberg opened #512 "Bulleted List - Wrapped Text Indentation"
I'm not sure if this is what @PongVL (Issue #488) is asking, but I have an issue with bullets not rendering the same way as native-PowerPoint bullets. The margin/padding/indentation (whatever it's called!?) is not nudging over a bullet's wrapped text.

Here's what the PHP generated file looks like in PowerPoint:
![ugly](https://user-images.githubusercontent.com/2739911/46884589-69dbf480-ce23-11e8-

[2018-10-12 22:04] Progi1984 commented on #512
@markhedberg Thanks for your issue. Could you send two PPTX files : one with the error, one without the error ? It's for analysis.

[2018-10-12 22:13] markhedberg commented on #512
@Progi1984 I cleared out some of the other content that is generated in my template and saved the "ugly.pptx" file from PowerPoint. Let me know if you need the file untouched by PowerPoint or if you can work with it. Thanks!

[ugly.pptx](https://github.com/PHPOffice/PHPPresentation/files/2474717/ugly.pptx)
[pretty.pptx](https://github.com/PHPOffice/PHPPresentation/files/2474718/pretty.pptx)

[2018-10-15 07:46] Progi1984 commented on #512
@markhedberg Perfect.

[2018-10-16 08:04] sujatasarmah commented on #506
Bump! Facing the same issue.

[2018-10-16 08:53] Progi1984 commented on #494
@janetthecoder Have you the code for generating this file, please ?

[2018-10-16 18:21] TrevorBradleyCDN commented on #511
Here's hoping for Hacktoberfest then. :)

[2018-10-24 07:13] Progi1984 commented on #382
@pcholewa No, but we are open to pull requests & help :)

[2018-10-24 12:38] MrAlexEvers commented on #490
I have the exact same issue, with practically the exact same code.

Stackoverflow suggests that the _imagecreatefromstring_ function, only handles several image formats.
This is a native PHP function, so I fear a solution might take a while, but I'm looking forward to see if this can/will be solved.

[2018-10-24 12:47] Progi1984 commented on #490
@MrAlexEvers Have you got a sample file ?

[2018-10-24 13:02] MrAlexEvers commented on #490
@Progi1984 The presentations I'm using are from my client, which I fear I am not at liberty to share.
But it contains a **.emf** file, which cannot be handled by _imagecreatefromstring()_

[2018-10-24 13:05] Progi1984 commented on #490
Thanks. I will transform in feature request.

References :
* PHPOffice/PHPWord#1480
* PHPOffice/PhpSpreadsheet#274

[2018-10-24 15:30] youssefboudaya commented on #88
i installed phppresentation package in my 5.4 laravel application and tried a simple example i get this error "Class 'PhpOffice\PhpPresentation\PhpPresentation' not found" How can i fix it ?

[2018-10-24 15:54] youssefboudaya opened #514 "Class 'PhpOffice\PhpPresentation\PhpPresentation' not found ?"
I installed phppresentation package with composer "phpoffice/phppresentation": "dev-master" on my laravel application and tried the basic example but i get this error "Class 'PhpOffice\PhpPresentation\PhpPresentation' not found" even though i wrote this

     `use PhpOffice\PhpPresentation\PhpPresentation;
      use PhpOffice\PhpPresentation\Style\Alignment;
      use PhpOffice\PhpPresentation\Sty

[2018-10-25 09:17] #514 closed

[2018-10-26 09:19] youssefboudaya opened #515 "How to set the background color of a slide ?"
I installed the phppresentation package in my laravel application,I want to change the background color of my slides i followed what was written in the samples and this is my code:

     `use PhpOffice\PhpPresentation\PhpPresentation;
      use PhpOffice\PhpPresentation\IOFactory;
      use PhpOffice\PhpPresentation\Style\Alignment;
      use PhpOffice\PhpPresentation\Style\Bullet;
      use PhpOf

[2018-10-29 11:32] #515 closed

[2018-10-29 11:44] youssefboudaya opened #517 "How to create charts with phppresentation ?"
I'm trying to create some charts i used the sample code in Sample_05_Chart.php.
this is my code:

      ` $objPhpPresentation = new PhpPresentation();

        $oFill = new Fill();
        $oFill->setFillType(Fill::FILL_SOLID)->setStartColor(new StyleColor('FFE06B20'));

        $oShadow = new Shadow();
        $oShadow->setVisible(true)->setDirection(45)->setDistance(10);
        $seriesData = ar

[2018-10-30 08:08] Progi1984 commented on #517
@youssefboudaya Duplicates #382.

[2018-10-30 08:08] #517 closed

[2018-10-30 11:18] youssefboudaya commented on #292
is there a way to change the color of the  values of the axis X and Y ?

[2018-10-31 21:47] TrevorBradleyCDN commented on #387
Followup: I just tested PR #454 (specifically, 028f81d) and it works great!  Before I appear to have been using the old master branch.

[2018-10-31 21:53] Progi1984 commented on #387
@TrevorBradleyCDN Perfect. I close the issue.

[2018-10-31 21:53] #387 closed

[2018-11-01 17:29] olegka311 commented on #150
i have the same problem. All styles are lost after
$pptReader = IOFactory::createReader('PowerPoint2007');
$oPHPPresentation = $pptReader->load('Sample.pptx');

$xmlWriter = IOFactory::createWriter($oPHPPresentation, 'PowerPoint2007');
$xmlWriter->save("Sample-copy.pptx");

![pptx](https://user-images.githubusercontent.com/11794752/47868218-5e6d5f00-de0c-11e8-8937-30d7564bc561.png)

[2018-11-01 17:36] TrevorBradleyCDN commented on #511
I wasn't patient enough for Hacktoberfest. :)

Note that this is NOT a complete solution.  It only takes into account solid backgrounds.  But it might be a strong hint to anyone who wishes to tackle this.

I subclassed Reader/PowerPoint2007.php for my own purposes.  Here's my revised loadShapeRichText().  Note that the initial return statement has been dropped, that a final else statement has been

[2018-11-14 14:30] youssefboudaya opened #518 "How to create phppresentation chart with multiple lines ?"
I have multiple data for each year so i want to create multiple lines in my chart the y axis values are the same but the x axis are different how should i make my series or line to have this result ?

[2018-11-15 10:01] youssefboudaya commented on #255
is it possible to change the label's color of the axis X and Y when using line chart ?

[2018-11-15 10:38] Progi1984 commented on #255
@youssefboudaya Please create a new issue.

[2018-11-20 10:52] santoshj-cuelogic opened #519 "Indent of lines added using createTextRun and paragraph"
Whenever new paragraph created using createRichTextShape, new line gets added using createTextRun.
First line of paragraph is indented differently than other lines. From second line onwards it has space in front of them
e.g.
First line of para with no space
 Second Line with space
 Third Line with space

I want to remove spaces from second line onwards  or want to add space at start of first line.

[2018-11-21 11:09] lectronix opened #520 "Doesnt work on PHP 5.3"
Sample_Header.php line 283 uses empty() which doesn't work right on 5.3. Got around that but then got another exception 'Hoa needs at least PHP5.4 to work; you have 5.3.2-1ubuntu4.30.'

Gave up at that and seeing if my hosting co. will update PHP for me.

[2018-11-21 21:58] flymke opened #521 "Display the page number"
Is it possible to display the page number of a slide?
I couldn't find any thing about it.
I just want to make sure that if for example a page is deleted in the final PPT, the page numbers will change accordingly.

[2018-11-22 08:48] SvyrydovAndrey opened #522 "Problem with reading and saving pptx presentation."
Hello guys. Thank you for libriary.
Can you help me ? I got broken presentation after reading and saving.
Frist step:
[code]
The next step:
[code]
I added all atachments.

![screeen 2018-11-22 10-43-41](https://user-images.githubusercontent.com/8123354/48891414-fd054280-ee43-11e8-8462-9a66d1ac4ba9.png)
![screen after saving 2018-11-22 10-44-05](https://user-images.githubusercontent.com/8123354/488

[2018-11-28 11:31] Progi1984 commented on #520
@lectronix It seems that the bug is not relative to PhpPresentation but to Hoa. (Hoa needs at least PHP5.4).

[2018-11-28 11:31] #520 closed

[2018-11-28 11:37] Progi1984 commented on #519
@santoshj-cuelogic Hi, thank your for your issue. Could you give us a sample of code ? and a screenshot for the bad rendering ? Thank you.

[2018-11-28 11:39] Progi1984 commented on #518
@youssefboudaya Could you show me a sample code for testing in local ? Thanks.

[2018-11-30 10:04] Progi1984 commented on #382
After  a lot of search, I must create my own XSD with merging all xsd.

[2018-12-04 16:43] flymke commented on #521
not possible at the moment? :/

[2018-12-05 13:18] Cryde commented on #491
Hello,

I'm facing an issue with video insertion (that need to be repair)

How did you solve this ?
Is a patch available somewhere ?

Thank you

[2018-12-05 16:13] Laar2 commented on #491
I created my own version of PHPpresentation. I can send you the code.

It includes samples how to use the new classes Audio en Video.
But ONLY for PPTX, not for ODP!

[2018-12-06 20:58] Laar2 commented on #491
You can download the complete Eclipse project here :

https://laarnink.home.xs4all.nl/download/PhpOffice.zip

See the samples :
Sample_LA_audio.php
Sample_LA_video.php
Sample_LA_media.php

[2018-12-11 13:40] pcholewa commented on #382
Any chance that you will to do it?

[2018-12-14 05:21] abinhho opened #524 "[PHP] com_exception unknown when use $ppApp->Presentations->Open(filepath)"
Hi,

Im using PHP to open ppt/pptx file but got error at line:

$ppApp = new COM("PowerPoint.Application") or die("Unable to instantiate Word");

$presentation = $ppApp->Presentations->Open(public_path($path), false, false, true); // <---- fail at this line

When I check SID in security audit, I saw SID is null.

Creator Subject:
Security ID:  SYSTEM
Account Name:  SAMPLE-440$
Account Domain:
SAMP

[2018-12-16 05:35] sajumani opened #525 "PPT Animation"
Hi Guys,

Is it possible to create Text Animation ?

[2018-12-18 14:30] Progi1984 commented on #524
@abinhho COM class is not relative to our project.

The documentation is here : http://php.net/manual/fr/book.com.php

[2018-12-18 14:30] #524 closed

[2018-12-18 14:31] Progi1984 commented on #525
@sajumani Have you got a sample file, please ?

[2018-12-19 12:56] pcholewa commented on #382
@Progi1984 thx for info

[2018-12-28 22:14] gregsullivan commented on #491
@Laar2 Thanks for this—I'd begun noticing the same issues while manually comparing output for slides with video from PowerPoint with similar output from PHPPresentation, and found your fork just as I'd started doing the work of trying to resolve those mismatches myself.

Much appreciated! You say fine-tuning is needed; have you encountered any issues with PowerPoint compatibility so far?

[2018-12-29 07:18] Laar2 commented on #491
@gregsullivan I am using this version on one of my websites without any problems.
I use:
- only the PPTX
- in MS Office 2010

I did not test or try other versions of Powerpoint.

[2018-12-30 20:58] ridaajroudi opened #526 "powerpoint detected unreadable content"
currently i have a laravel project in which i need to generate a powerpoint document so i install phppresentation in cmd with the command
compose require phpoffice / phpresentation
the installation is going well so far there is no problem I used a simple code that I found in the documentation:
 $objPHPPowerPoint = new PhpPresentation();
$Slide1 = $objPHPPowerPoint->createSlide();
$shapeContent = $

[2018-12-31 21:05] gregsullivan commented on #491
@Laar2 Thanks for letting me know, and thanks for making those changes!

To the extent it's useful for anyone else to know, this solved the problem for me on the latest Office 365 version of PowerPoint. Previously any presentations with videos would require repair, which removed the video.

[2019-01-25 10:32] Progi1984 commented on #526
@ridaajroudi Duplicates #382.

[2019-01-25 10:33] #526 closed

[2019-02-01 21:51] DanielRuf opened #529 "Failing CI"
https://travis-ci.org/PHPOffice/PHPPresentation/builds/479016573

[2019-02-04 15:37] Naberdz opened #530 "get background from master slide"
We have a powerpoint file which contains master slides with custom backgrounds.
when we try to get background we always get null back
[code]
Uploaded file which we use for making presentations:
[NL  version20161130.pptx](https://github.com/PHPOffice/PHPPresentation/files/2828672/NL.version20161130.pptx)

[2019-02-17 04:01] Aggiekev commented on #446
I FINALLY figured this one out.

The issue #227 solved one aspect of the problem but there is still an issue with how the shapes are added to the Slide itself. The writeShapeCollection function in AbstractSlide.php starts the shapeId at 0 instead of 1. Since the Slide is position 0, it ends up putting the first Shape added to the Slide at the end of the array of components. That is why the animati

[2019-02-19 16:42] sajumani opened #532 "Is it possible to convert PDF to PPT ?"
Hi,

Is it possible to create PPT from PDF ?

[2019-02-24 18:31] camper5510 opened #533 "Dont work with Russian symbols"
Hello. When i add text with russian symbols i got pptx file, but this file broken and need recovery. Any idea why its happening and how fix that?

[2019-02-25 07:27] camper5510 commented on #506
Do you fixed that?

[2019-03-07 04:28] jsnke commented on #512
For what it's worth the following gives me the indenting I want (and I think you want; changing just the last part of your example):

[code]

Turning the bullets off and on afterwards in PowerPoint doesn't make them render any different than before.

As to your size question, I don't think so. You seem able to set the font face and colour, but no size or scaling.

[2019-03-11 12:36] badwolf770 opened #534 "problems with imageHashDictionary"
Hi guys!
I found the bug with generates slide relationship XML(files into /ppt/slides/_rels / path.
Library has the class "PptSlides". Into writeSlideRelationships() method on 94 line generates relationship XML file. This code uses getIndexedFilename() method to get  image file name for target image into /media/ path, but this target image may not exists, because generate only unique images from h

[2019-03-13 15:58] CViniciusSDias opened #535 "Question: Is there any way to use .pot files with PHPPresentation?"
I need to create presentations from a .pot (template) file. Can I use PHPOffice/PHPPresentation to do this?

[2019-03-23 12:41] GeekTuanr opened #536 "Textbox content cannot be modified"
When I use it, the generated file can not modify the contents of the text box, and can not select all of them. As shown in the figure, the text is above the text box.
![image](https://user-images.githubusercontent.com/16734677/54866201-febc2400-4dab-11e9-8f89-a2b12e4e1f07.png)

[2019-03-25 05:29] wuqinqiang opened #537 "Hi, Can we convert PPT to HTML now"

[2019-04-06 18:18] denisgualda opened #538 "Use phppresentation with php 5.6"
Hi,
totally newest with this library and low level with php obviously.
Any examples loads in my server.
It has php 5.6.... readme.md says you need ### Requirements PHP 5.3+

It's works with 5.6?

Regards and thanks!

[2019-04-11 05:10] smithyj commented on #538
`index.php` write `require './vendor/autoload.php';`

[2019-05-09 15:08] Progi1984 opened #540 "Migrate documentation to Docsify/Hugo"

[2019-05-10 13:17] Progi1984 commented on #382
[ecma_house.zip](https://github.com/PHPOffice/PHPPresentation/files/3166625/ecma_house.zip)

To integrate in the branch

[2019-05-21 16:52] websitedevTychy opened #541 "Hyperlink text color in PowerPoint2007"
When I'm using PowerPoint2007 Writer hyperlinks are always blue. getFont() and styling color is not working. In ODPresentation everythink is ok. Is it possible to change color to black?
Code:
[code]

[2019-05-24 21:49] Progi1984 commented on #382
I may have fixed this file for PowerPoint2007 files... I must check each rendering in Office.

[2019-05-28 14:17] montac opened #542 "Styles not conserved when creating a pptx from another one"
Hello,
I'am trying to create a pptx from another one by reading an `input pptx`, then writing the same one to an `output.pptx`. The output document does not conserve the input document's styles nor the layout. below is the code I use

[code]

Input

[code]

Output

[code]

Any idea ?

Thank you,

[2019-05-29 14:03] Progi1984 opened #543 "Drop the support for HHVM"

[2019-06-04 14:16] mszbot opened #544 "add slides from another powerpoint"
Is it possible to add slides to an existing powerpoint from another powerpoint?

[2019-06-09 20:29] Progi1984 commented on #382
@Zetkolink @pcholewa From #507
@mhasanshahid From #505
@dlollman @amitrajput92 @larryb-redflare From #353

Hi here, The PR has been finally fixed... Could you test on develop branch and give me some feedback ?

[2019-06-10 13:24] Progi1984 commented on #544
@mszbot Yes you can do it.

Check https://github.com/PHPOffice/PHPPresentation/blob/develop/samples/Sample_20_ExternalSlide.php

[2019-06-10 13:30] Progi1984 commented on #538
PHP 5.3+ means  PHP > 5.3
As you can see in travis build : https://travis-ci.org/PHPOffice/PHPPresentation/builds/543474880

[2019-06-10 13:30] #538 closed

[2019-06-10 13:31] Progi1984 commented on #537
Duplicate from #221

[2019-06-10 13:31] #537 closed

[2019-06-10 13:34] Progi1984 commented on #535
Actually no... May be you can work a PR :) ?

[2019-06-10 13:38] Progi1984 commented on #506
@nplesa @sujatasarmah @camper5510 Have you tested the latest version of the develop branch ?

[2019-06-10 13:38] Progi1984 commented on #533
@camper5510 Have you got a sample code for testing and fixing ?

[2019-06-10 13:39] Progi1984 commented on #532
Duplicate from #181

[2019-06-10 13:39] #532 closed

[2019-06-10 13:43] camper5510 commented on #533
I fixed that, it was problem with script file encoding.

[2019-06-10 13:43] #533 closed

[2019-06-11 05:03] CViniciusSDias commented on #535
Oh... I actually don't even know what a .pot file is. I asked because one of the guys in the team brought it up. I'll try to study it.

[2019-06-11 08:07] Progi1984 commented on #535
Thanks. 🙏

[2019-06-13 03:52] Bagasdew opened #548 "Blank result from base64 image"
I tried to add image from base64 code. And it gives me a blank slide with no image. I've tried all possible tutorial and it give me no result. Can somebody help?
Here is my code :

[code]

[2019-06-13 12:36] bellu opened #549 "getAnimations always return empty array"
I'm trying to retrieve the animations of a slide, but using the method getAnimations() i had always an empty array.

I've tried different files and different slides, without success.

[2019-06-13 14:06] Progi1984 commented on #549
@bellu Is it in reading ?

Could you give me a sample file :)

[2019-06-13 14:09] Progi1984 commented on #548
@Bagasdew Have you seen this sample ?

https://github.com/PHPOffice/PHPPresentation/blob/6a51e021404bb285ebdb2524e8143a434fea205b/samples/Sample_03_Image.php#L58-L68

[2019-06-13 14:20] bellu commented on #549
[test2.pptx](https://github.com/PHPOffice/PHPPresentation/files/3286581/test2.pptx)

Yes, is in reading.
I've passed the sample file (it's just a sample from the web that i'm using to do some experiments).
Here my full code ( i'm using Laravel):

`      $fileName = 'ppt/test2.pptx';

        $pptPath = \Storage::disk('local')->path($fileName);

        $pptReader = IOFactory::createReader('PowerPo

[2019-06-14 06:22] Bagasdew commented on #548
It's working! 😄
But I still don't understand, what's wrong with my code. Can you explain? Thanks a lot

[2019-06-14 08:15] Progi1984 commented on #548
Just here, I think you don't define height and width

[2019-06-14 08:15] #548 closed

[2019-06-19 12:48] Bagasdew commented on #548
thanks

[2019-06-19 13:03] Bagasdew opened #550 "Error when adding images other than jpeg"
So I've tried to add images using Base64 with jpeg file types and it works fine. But when I use png or svg+xml type it return this error:
![image](https://user-images.githubusercontent.com/26299574/59767764-3401e080-92cd-11e9-82b1-6ea82a69ef19.png)
Did the library is not yet supporting images other than jpeg?
thanks a lot

[2019-06-25 06:51] sajumani commented on #525
I want to create a PPT with PHPPresentation, like a sample attached

[http://ec2-3-14-69-220.us-east-2.compute.amazonaws.com/Presentation1.pptx](url)

[2019-07-03 13:17] #466 closed

[2019-07-04 08:49] alucardwind opened #552 "lost shape when save to pptx"
i create a pptx in PowerPoint 2016 which only one page with a shape.
![before](https://user-images.githubusercontent.com/51143541/60652539-0004ee80-9e7b-11e9-8361-0e4df2ad3852.JPG)
then i use phppresentation read and wirte
[code]
the shape is gone
![after](https://user-images.githubusercontent.com/51143541/60652925-9d602280-9e7b-11e9-9236-6dd8c9fe5bff.JPG)
i dont know what's wrong with i did

[2019-08-02 15:14] mszbot opened #554 "Duplicate slides in existing PowerPoint"
Is it possible to duplicate/clone a given slide within an existing powerpoint?

[2019-09-16 12:10] JavierDelSolar commented on #382
Hi, im trying to create charts, i have the same problem... somebody can?

[2019-10-01 21:38] #543 closed

[2019-10-01 21:39] Progi1984 commented on #543
Thank you @sunspikes for your PR.

[2019-10-10 20:33] ComunicacionesCarey opened #558 "how to write a tittle and bullet list in the same shape"
hi there.

i need to write a paragraph of text, follow by a title and a bullet list, like this

![image](https://user-images.githubusercontent.com/8367622/66603900-78b6cd80-eb83-11e9-9629-7adeb93a7965.png)

but when i set the bullet it set to all lines in the shape.

is possible to add bullet only one portion of the shape?

for the moment i draw a bullet before the line and set indent and left mar

[2019-10-10 23:29] CarmenR13 commented on #382
Hi, I´m using the develop branch to run Sample_05_Chart but the Stacked Bar and the Stacked Percentage Bar charts are removed from the resulting pptx file.

I'm getting the following errors:

![image](https://user-images.githubusercontent.com/56416181/66613614-af90e180-eb8b-11e9-8af2-d6d57b77e557.png)

Any help?

[2019-10-15 04:45] lienthanhnhan opened #559 "Cannot getNote of file with PowerPoint97 format"
Sorry, I couldn't get note content of file with ppt (PowerPoint97) format.
Can you support me with this?
I have 2 sample files below, you can unzip to help me check them?
Thank you very much!
[Documents.zip](https://github.com/PHPOffice/PHPPresentation/files/3727398/Documents.zip)

[2019-10-16 15:26] MisMagJr opened #560 "Solid Fill works but fill whole line"
Let's say a paragraph has only 1 word in it, I wanna fill the background of that one word only and not the whole line. Is it possible or in the works?

[2019-10-19 14:26] Progi1984 commented on #560
@MisMagJr Hi, Thank you for the issue. Have you a sample pptx with what you want ?

[2019-10-19 14:28] Progi1984 commented on #552
@alucardwind Hi Thank you for your issue. Could you give us your first pptx file ? Thanks

[2019-10-19 14:30] Progi1984 commented on #550
@Bagasdew Hi, Thank you for your issue. Could you check the develop branch ?

[2019-10-25 20:09] dsjkaa commented on #382
Hi, is there any way to make charts work? I tried creating a few, but I always get "Repairment needed" message. Interestingly enough, in Sample_05_Chart two slides are actually created: a 3D pie chart and a non-3D pie chart. Any idea why?

[2019-10-31 07:17] jarrettj commented on #328
Hi,

Good day.

I see the topic of widescreen has already been mentioned. Is there an example of how to achieve this in a slide? Thanks.

Regards.

[2019-10-31 07:51] jarrettj commented on #328
In case anybody else is looking for widescreen example:
[code]

[2019-11-01 01:03] necouchman commented on #328
I'm using a somewhat old version, but this is my code, here.  I think the 4:3 vs. 16:9 code is already built-in.

    function createPres($layout) {
      $thisLayout = new DocumentLayout();
      if($layout == "widescreen")
        $thisLayout->setDocumentLayout(DocumentLayout::LAYOUT_SCREEN_16X9, true);
      else
        $thisLayout->setDocumentLayout(DocumentLayout::LAYOUT_SCREEN_4X3, true);

[2019-11-04 06:28] jarrettj opened #561 "Add an example of setting the color of shape using RGB."
Hi,

Good day.

Took a while to figure out that I needed to use the setRGB function and not pass the color via Color().

Regards.

[2019-11-12 10:54] jarrettj commented on #175
Hi,

Good day.

I can give you a screenshot :)

![Screenshot 2019-11-12 at 12 53 37](https://user-images.githubusercontent.com/777547/68665865-83320180-054b-11ea-8470-2cf25136ef40.png)

How would you position the text in the centre of the cell? Thanks.

Regards.
JJ

[2019-11-21 18:11] MehdiAroui commented on #382
@dsjkaa same problem here, any solution ?

[2019-11-26 05:51] abonne01 opened #562 "PHPPresentation setLayoutPack missing documentation"
Hello,

We were using (in previous version) function setLayoutPack and master slide.
We loaded template, select master slide (with his id) and then layout with name. Maybe not the best way, but it worked.
I tried to migrate code bellow without success on new library version.

way to load template:
[code]
How we assigned slide to it
[code]

I didn't find examples to perform this action. Could you p

[2019-11-26 06:25] abonne01 commented on #562
![Teamplate view in powerpoint](https://user-images.githubusercontent.com/6329026/69604461-d745e700-101d-11ea-96f4-010b47ec5f23.png)

[2019-12-02 16:56] toscan opened #563 "Inserting variables"
Hey,

Is it possible to insert variable into an existing pptx file and insert some images into existing slides ?

[2019-12-03 08:52] abonne01 commented on #563
Hello,

Yes, you can add Images. This is an example used:

[code]

[2019-12-03 09:27] toscan commented on #563
Ok, thanks a lot.
And what about the variables ? Is possible to merge variables into an existing doc like :
https://github.com/mbence/OpenTBSBundle
    $TBS->MergeField('client', array('name' => 'Ford Prefect'));

[2019-12-03 09:59] abonne01 commented on #563
I personally don't use functionality and have no idea about it..

[2019-12-05 17:49] ADamCarraway opened #564 "How to create layout slide TITLE_ONLY and fill title?"

[2019-12-08 15:10] tkeil69575 opened #566 "Linespacing not working (not implemented)"
$shape->getActiveParagraph()->setLineSpacing(300);
has no effect on the line spacing of a paragraph;

[2019-12-09 08:31] mtabdar opened #567 "is it possible to view presentations with phpPresentation?"
hi
thanks for the great job.
i wonder if it is possible to view presentations with phpPresentation?
i tried "read" samples but it just shows the tree structure of presentation and i need something like [PPTX2HTML](https://github.com/g21589/PPTX2HTML) that shows the presentation in html format.

[2019-12-10 11:00] tkeil69575 commented on #566
I managed to fix it (implement line spacing for both odp and pptx) by adding in

`$objWriter->writeAttribute('fo:line-height', $item->getLineSpacing().'%');`

to /src/PhpPresentation/Writer/ODPresentation/Content.php in the Switch statement (from line 201) for paragraph properties, e.g.,
[code]

and then for pptx, I changed line 526 in /src/PhpPresentation/Writer/PowerPoint2007/AbstractSlide.php t

[2019-12-17 16:26] toleabivol commented on #154
@Progi1984 how to set a delay in seconds for each slide (pause during loop) ?
 I found to be able only to set the `isLoopContinuouslyUntilEsc` to true

[2020-01-17 20:32] joloco commented on #522
I have the same issue, not even the sample code works ( at https://github.com/PHPOffice/PHPPresentation/blob/develop/samples/Sample_20_ExternalSlide.php – have tried various pptx files as the import file, even extremely simple ones created with PhpPresentation).

Everything appears fine, but PowerPoint won't open the file.

[2020-01-17 20:59] joloco commented on #522
Just a quick follow-up… the issue seems related to having a background image (maybe also a background colour, I haven't checked that yet).

So: I make a new single-slide presentation with some text, an image, and a background image, and save it as PowerPoint2007 format. Then I create a new presentation, import the slide from the presentation I just saved, and save the newly-created presentation fi

[2020-01-17 21:51] joloco commented on #522
Okay, more information! Apologies for my stream-of-consciousness verbosity here, but I'm writing messages with the intention of stopping soon, then doing a little bit more...

So, the problem seems to be linked to the temporary path of the background image, after it's loaded into PHP. By finding the path, copying the image, and setting the background image path again, everything works fine. (I sus

[2020-01-17 22:06] joloco commented on #522
Finally for now, this only seems to work on PPTX files created with PHPPresentation. When using identical code, but loading a PPTX file that was created with PowerPoint, the background image isn't found (PHP error message shown is: ```Fatal error: Call to a member function getPath() on null``` which refers to ```$bgImgPath = $externalSlide->getBackground()->getPath();```)

[2020-01-21 12:49] Scheissy opened #568 "Is it possible to set the background color for a data label?"
Hey guys!
I'm looking for a way to set the background color of a label in a (bar) chart. With
`$series->getFont()->getColor()->setRGB($color);`
it is possible to change the font color for the label. I was hoping for something similar for the background color, but the `Font` class doesn't have a background color attribute and the `Outline` object for a `Series` only changes the outline (color) of t

[2020-01-30 15:43] Scheissy opened #569 "Broken ppt file for large presentation"
Hey guys!

I'm trying to generate really large presentation file with up to 300 slides and I'm running into an issue with broken ppt files. When I'm trying to open the file I am advised that the file is broken and needs to be repaired. After the repair process is done I always get a prompt telling me that some content could not be read and was removed.
When I check the now repaired presentation fi

[2020-02-04 00:06] ingo-lorenz commented on #382
Is there already a solution for this problem? You cannot use generated PPTX files with charts in current Office versions.

I have already tested the dev-master.

Thanks to you

Ingo

[2020-02-20 14:25] jarrettj commented on #419
Probably still in the pipeline?

[2020-02-24 04:14] Aryan1 commented on #554
Docs does not have more info about it...would like to know too

[2020-03-02 18:56] czarpino opened #570 "Extracted timestamps in document properties are incorrect"
### What happened
Extracting document properties `created` and `modified` both return the current date.

### Expected
Values should reflect what is in the respective tags of created and modified properties in docProps/core.xml.

### Steps to reproduce

1. Prepare some pptx file
2. Copy file into a .zip file e.g. `cp some.pptx some.zip`
3. Inspect zip
    * Go inside docProps > core and check dcter

[2020-03-05 20:05] peterkoppenaal commented on #542
Any update on this issue? I'm facing the same.

[2020-03-16 12:51] ianobre opened #573 "Subscript and superscript"
Hi there, its possible to create a text with subscript or superscript?

I need to write a simple text in my presentation: CO²
but i dont know how can i do this.

Thanks in advanced,  Ismael

[2020-03-19 15:03] chriswheeler commented on #550
PNG support appears to have been added on the develop branch, but not SVG. I tried adding `'image/svg+xml' => 'svg',` to https://github.com/PHPOffice/PHPPresentation/blob/develop/src/PhpPresentation/Shape/Drawing/Base64.php#L25 and it doesn't throw the exception, but I get this when loading the generated pptx in PowerPoint:

![image](https://user-images.githubusercontent.com/2039180/77081496-aafe0

[2020-03-20 14:42] bUxEE opened #574 "Create slide and paragraph that fit document"
I have been having a hard time to accomplish a simple task:

I am creating mutiple slides that need to contain only text which should be autosized to fit the slide.
I create a presentation and set to LAYOUT_SCREEN_4X3
`$presentation = new PhpPresentation();
$presentation->getLayout()->setDocumentLayout(LAYOUT_SCREEN_4X3, true);`

I then generate the slides in  a loop, for each slide i create a cre

[2020-03-25 08:35] lulibo opened #575 "ext-gd2 (Required to add images)"
I installed phpoffice/phppresentation library through composer and I get this advice : "phpoffice/phppresentation suggests installing ext-gd2 (Required to add images)".

From my server I have:
php -i | grep "GD Version"
GD Version => bundled (2.1.0 compatible)

Why the gd extension is not properly recognized by the installer?

Best,
Luca

[2020-04-15 07:29] MoheyElbaz opened #576 "Support arabic fonts"
Hi,

Kindly noted that this code:

// To fix arabic font
$objWriter->startElement('a:ea');
 $objWriter->writeAttribute('typeface', $element->getFont()->getName());
$objWriter->endElement();

// To fix arabic font
$objWriter->startElement('a:cs');
$objWriter->writeAttribute('typeface', $element->getFont()->getName());
$objWriter->endElement();

After:
`// Font - a:latin`

In AbstractSlide.php file.

[2020-04-17 01:33] Austem opened #577 "Chart Limit Line"
Is there a way to create a limit(or tend) line for a bar chart ?

![image](https://user-images.githubusercontent.com/12504258/79522485-dc85eb80-8029-11ea-8300-c4a45f2f5bb4.png)

[2020-05-19 08:02] swati-sapnagroup commented on #160
I am also having the same issue. Is this issue resolved?

[2020-05-19 10:29] swati-sapnagroup commented on #150
I am also facing the same issue. Any solution on this problem?

[2020-05-26 10:06] camillebaronnet commented on #414
Hi !

Originally, PHPPresentation is oriented on the creation, not the manipulation of an existing file.

The cristal/pptx package is oriented to manipulation, not creation. So currently, it's probably a better choice to merge/copy two pptx files.

https://github.com/CristalTeam/pptx

[2020-06-04 16:41] petertiny opened #579 "the labels on the doughnuts charts cannot be shifted outwards."
How to define an offset to shift label outside of the chart ?
Labels are illegible and incorrectly dimensioned

Thanks a lot
![chartlabel](https://user-images.githubusercontent.com/7093373/83786486-06a37380-a693-11ea-8dcf-ef5ff9f9a09b.png)

[2020-06-08 10:53] Dhaxor opened #580 "How to dynamically add text to the createTextRun method"
I'm using laravel and i want to dynamically add text coming from a text input to the createTextRun method

[2020-06-09 02:56] #580 closed

[2020-06-12 08:25] tangzhongzhengReal commented on #150
hello, do you find the solution?

[2020-06-17 04:20] joelg99 commented on #550
Any change of svg support being added as PowerPoint supports embedding SVG files?

[2020-06-24 12:55] ashishnishad commented on #491
@Laar2 First of all thank you very much for providing audio support in ppt. But i have a query regarding auto play slides music in background so there is any method or function using it ppt slideshow automatically play music because currently i need to play it manually.
I want added audio automatically play when i start slideshow.
Thanks

[2020-06-24 17:22] Laar2 commented on #491
@ashishnishad
I just had a quick look at it.

Quick Workaround is maybe;
- create the pptx with the music you want to play on the first slide
- after storing the pptx file,  open it in Powerpoint and click the music icon in your first slide
- go to the playback tab and choose 'Automatically' in the start list
- save your powerpoint
- when playing the slideshow the music will start automatically.
S

[2020-06-26 08:48] ashishnishad commented on #491
@Laar2 I have an issue with .wav extension audio, in PowerPoint showing codec unavailable.

[2020-06-26 10:05] Laar2 commented on #491
@ashishnishad
Google is showing lots of solutions for that.
Have you tried mp3?

[2020-06-26 11:59] ashishnishad commented on #491
@Laar2  Yeah, mp3 is working fine but i am recording voice from my website and then using in ppt and recorded audio in .wav format

[2020-06-26 15:25] Laar2 commented on #491
@ashishnishad
I don't think the problem is in PHPPresentation.
Maybe your recorded WAV does not have the right format/codec?
Maybe the codec you use on your website isn't present on the computer you play the wav (in PPTX) ??

Did you unzip the PPTX and tried to play the wav directly on your machine?

[2020-06-26 17:50] ashishnishad commented on #491
@Laar2 Yes audio is playing fine in browser.

[2020-06-29 15:30] aymeric451 commented on #150
+1

[2020-06-30 06:42] ashishnishad commented on #491
@Laar2 Have you any idea about why exported ppt is not working in ppt 2007 version ?

[2020-06-30 10:16] ashishnishad commented on #494
Not able to open in 2007 version but working in 2013 office.
[newtest-27 (1).pptx](https://github.com/PHPOffice/PHPPresentation/files/4851065/newtest-27.1.pptx)

[2020-07-07 03:05] wj7172 opened #584 "pie、"
develop分支
Pie、Doughnut两个类，在导出PowerPoint2007格式时，缺少了对explosion属性进行支持（只有Pie3D对explosion属性进行了支持）

[2020-07-11 02:56] prachisawarkar opened #585 "Is isMarkedFinal , markAsFinal and getZoom() are drecated or not?"
Fatal error:  Call to undefined method PhpOffice\PhpPresentation\PhpPresentation::isMarkedFinal() in F:\xampp\htdocs\PHP_Libraries\Composer\PHPPRESENTATION\index.php on line 181

[2020-07-16 13:54] DragoshDX opened #586 "How to read and get to a slide"
Hello.

I'm working on a project that requires me to just read a PPTX file and learn stuff about it's structure, every object present, every image, etc...

First tried in node.js which is my speciality but found no relevant solutions. This PHP package does seem to open my pptx and recognize a lot, if not all of the items inside. I see this in the debugger.

However, I can't get to the first (and o

[2020-07-17 14:27] Web-Mobiledev opened #587 "Issue of label position with line chart"
When I draw line chart, setLabelPosition() was not worked.
So I found the problem. The problem is to miss this code in Writer\PptCharts.php
// c:dLblPos
$this->writeElementWithValAttribute($objWriter, 'c:dLblPos', $series->getLabelPosition());

I solved this by adding above code after line 1788

[2020-07-25 08:26] zmip commented on #236
It's broken. Even the example turns out wrong, with its animations in the wrong order.

<img width="1131" alt="animation_order" src="https://user-images.githubusercontent.com/17986109/88452716-4a2f8800-ce61-11ea-99e6-1c4fd5736cd5.png">

[2020-07-25 11:08] JewrassicPark commented on #236
I suspect they've changed it since I wrote the original animation code but
this is how I use it in my current code.

$currentSlide = $this->pp->getActiveSlide()

$shape = $currentSlide->createRichTextShape();
$shape2 = $currentSlide->createRichTextShape();

$animation = new Animation();;
$currentSlide->addAnimation($animation);
$animation->addShape($shape);
$animation->addShape($shape2);
It's been

[2020-07-25 11:18] zmip commented on #236
@JewrassicPark It took me a few hours of getting to know how things work, and then the fix seemed to be just merely:

Change:

[code]

To:

[code]

in `writeSlideAnimations()` in PptSlides.php. I see the pain you must have gone through writing this, because you need those indexes to be **exactly** the same as in `writeShapeCollection()`, without actually having access to them in `writeSlideAnimati

[2020-07-25 11:25] JewrassicPark commented on #236
Glad to hear you got it working. Thanks for letting me know what the issue
is in case I check out a newer branch.

On Sat., Jul. 25, 2020, 7:18 a.m. zmip, <notifications@github.com> wrote:

[2020-07-29 12:31] gutofurlan opened #589 "Chart PPT"
Would anyone have an example of creating a table and chart in phppresentation?
I'm testing and I'm just having an error

[2020-08-06 05:35] incredimike opened #590 "The `convertUnit()` method is convenient. Could it be public?"
The `convertUnit()` method is convenient. Could it be public?

https://github.com/PHPOffice/PHPPresentation/blob/a352768c8c63722d877862e07fe8a27cf5fdffd2/src/PhpPresentation/DocumentLayout.php#L205

[2020-08-14 14:38] devX2712 opened #592 "Need to retrieve the thumbnail image store into the file (stored as image)"
Hello,
I need to get the thumbnail stored by Powerpoint when he save a file. This is a representation as image of the first slide. This is usefull to make a Powerpoint file explorateur.
Anybody has already starting to work on it ?

[2020-08-27 01:21] 602303068 commented on #573
$textRun->getFont()->setSuperScript(true);

[2020-08-27 01:23] 602303068 commented on #573
$textRun = $shape->createTextRun('CO');
$textRun = $shape->createTextRun('2');
$textRun->getFont()->setSuperScript(true);

[2020-08-27 01:31] #573 closed

[2020-08-31 05:23] niloyniloy opened #594 "Style & content is missing in when create new pptx file from existing pptx file"
`
  require_once 'vendor/autoload.php';

  use PhpOffice\PhpPresentation\PhpPresentation;
  use PhpOffice\PhpPresentation\IOFactory;
  use PhpOffice\PhpPresentation\Style\Color;
  use PhpOffice\PhpPresentation\Style\Alignment;

 function createPPT($template){
     $pptLayout = new \PhpOffice\PhpPresentation\DocumentLayout();
     $pptLayout->setDocumentLayout($pptLayout::LAYOUT_SCREEN_16X10);

[2020-09-01 06:09] niloyniloy opened #595 "Style & layout is not copied while creating new pptx from pptx in PHPPresentation"
https://stackoverflow.com/questions/63677747/style-layout-is-not-copied-while-creating-new-pptx-from-pptx-in-phppresentatio

[2020-09-01 18:18] niloyniloy commented on #150
does any one found any solution ?

[2020-09-14 16:17] biswa34 opened #596 "How can I read a PPTX file using PHPPresentation ?"
I am getting this after trying to read from a .pptx
**Here is my code:**
[code]

Kindly help ASAP !!

![Screenshot_1](https://user-images.githubusercontent.com/58202181/93110894-88b02900-f6d3-11ea-88fc-ea2d30f661e2.png)

[2020-09-30 10:44] amirakbari commented on #459
is there any way for set paragraphs to RTL (Right to Left) after 2 years  ?

[2020-10-01 21:16] amirakbari opened #599 "RTL (Right To Left) Support"
Hello every body.
I wanna add RTL support to PhpPresentation but I don't know how can I do this?
anybody can help me for making PR ?

[2020-10-05 08:20] nikolajlovenhardt commented on #490
Anyone, feel free to get inspiration from https://github.com/nikolajlovenhardt/PHPPresentation/releases/tag/0.10.0

I added support for the TIFF format by converting the image using Imagick.

[2020-10-14 20:59] nhalle opened #600 "tmp directory not configurable"
Hi,

I was trying to rewrite the tmp directory so tmp files could be sent to my app's tmp directory, but tmp files are currently configured to be saved at the root './' `$pFilename = @tempnam('./', 'phppttmp')￼ `  [https://github.com/PHPOffice/PHPPresentation/blob/a352768c8c63722d877862e07fe8a27cf5fdffd2/src/PhpPresentation/Writer/ODPresentation.php#L8
](https://github.com/PHPOffice/PHPPresentatio

[2020-10-21 01:50] muaz234 commented on #596
hi,

you can try as per below:
```$message = $writer->save('asset/docs/template_result.pptx');```

This library is for creating and writing to presentation formats.

[2020-10-21 02:08] muaz234 commented on #595
having the same issue as you. all style and layout does not copy over well and when open the generated pptx file, microsoft powerpoint will attempt to repair the files but still the layout and styling breaks.

[2020-10-21 02:12] muaz234 commented on #542
facing the same issue too

[2020-10-22 10:38] muaz234 commented on #595
can try this library, works well for me to replace texts in presentation while conserving the original powerpoint file template: https://github.com/CristalTeam/pptx

[2020-10-31 09:04] Tabll commented on #343
+1 meet the same problem

i find a php document about fseek: https://www.php.net/manual/en/function.fseek.php

is it possible to save ppt like a file pointer, that we can save slide one by one?

[2020-10-31 14:10] #587 closed

[2020-11-08 16:26] collectiveaccess commented on #600
We're having issues with this as well, where tmp files are being dumped into the app root and sometimes not cleaned up due to file permissions. It would be great to have the ability to route where these files land as it would make management of them so much simpler.

[2020-11-10 03:28] akmalirfan commented on #382
For my case, I fixed this issue (partially, at least) by changing the source code in 0.9.0 release following the latest source code (at the time of writing) in develop branch. This means, the developers are already working on it but it is not ready for release yet.

Particularly, I changed the code for writing c:hPercent in PptCharts.php by deleting the percent symbol and the code for writing a:al

[2020-11-10 14:34] pistou commented on #150
It's been 5 years yet this is still an issue.
I have no clue why this is closed, opening and saving an existing file with a layout breaks the styles.

[2020-11-26 04:42] surajjdhv commented on #388
This helped me a lot. Thank you. A huge thanks to @Progi1984 for maintaining.

[2020-11-29 19:37] EvelRus commented on #367
Good afternoon everyone.
Have an adequate way to replace a text template?
$ {my_text_Welcome} -> "Welcome friend"

Thank you in advance!

[2020-11-30 02:04] pal-software opened #602 "Embedded fonts"
Is it possible to add font embedding functionality to the presentation file

[2020-12-05 16:34] premax opened #603 "CreateDrawingShape cannot insert image without file extension"
Hello,

took me a while to discover that when using CreateDrawingShape and then setting setPath to valid image without extension (i.e. ".jpg), the type of the image (JPEG) is not passed and fatal error occures: PHP Fatal error:  Uncaught Exception: Invalid parameters passed.
(in ...vendor/phpoffice/phppresentation/src/PhpPresentation/Writer/PowerPoint2007/ContentTypes.php:154)

[2020-12-07 07:46] yuhal opened #604 "createTextRun no newline in thinkphp framework"
- Not in the thinkphp framework

![image](https://user-images.githubusercontent.com/24805661/101323084-12226200-38a3-11eb-803a-ab059632204d.png)

- In the thinkphp framework

![image](https://user-images.githubusercontent.com/24805661/101323142-29614f80-38a3-11eb-9f59-63f5e1b1a30a.png)

I looked for some information, but I didn't find out how to solve it.

[2020-12-13 15:24] pal-software opened #605 "PowerPoint get error when Stacked or PercentStacked Charts included (with solution)"
When I try to open presentation generated by PHPPResentation & including stacked chart with MS PowerPoint 2013, then I receive error about broken file.

Solution was change line 983 of the file src/PhpPresentationWriter/PowerPoint2007/PptCharts.php from
`$objWriter->writeAttribute('val', '100000');`
to
`$objWriter->writeAttribute('val', '100');`

[2020-12-14 14:13] pal-software opened #606 "Set mark position for Line Chart (with solution)"
Method setLabelPosition(..) has no effect for lineChart (for PowerPoint output file). So you can`t to change label position from default label position.

**Solution:**
at the file `src/PhpPresentationWriter/PowerPoint2007/PptCharts.php`
at the method `protected function writeTypeLine(...)`
after line
`$objWriter->startElement('c:dLbls');`
add line
`$this->writeElementWithValAttribute($objWriter, '

[2020-12-20 03:54] pal-software opened #607 "Test issue 1"
Test issue content

[2020-12-20 03:54] #607 closed

[2020-12-20 07:19] pal-software opened #608 "Launch samples without composer (with your own install)"
Change the samples to run without composer install (with your own install)

[2020-12-23 11:27] Marcote2014 opened #610 "Bar charts not formatting series data as numbers"
Hi, I have created a series and I want to format it as a percentage and the% does not appear.
From what I have verified it is putting the formatCode label where it does not correspond.

My code:
      // Create a bar chart
      $barChart = new Bar();
      $barChart->setGapWidthPercent(50);

      $series1 = new Series('MOB SR', $series1Data);
      $series1->setShowSeriesName(FALSE);
      $seri

[2020-12-29 17:13] naman4488 opened #612 "Table display the cells border bottom only in different color in foreach loop"
I have tried to set the grey color of border bottom for table cells created inside a php foreach loop but it displays border bottom at the end of the table. I think it displays border only for last row.
How i can achieve this for all rows?

[2021-01-11 19:12] kw-pr opened #613 "setIncludeSpreadsheet => PHPExcel has not been loaded"
If I include the data of a chart:

    $shape->setIncludeSpreadsheet(true);

I get the error:

    PHPExcel has not been loaded. Include PHPExcel.php in your script, e.g. require_once 'PHPExcel.php'.

This is caused by [PptCharts::writeSpreadsheet](https://github.com/PHPOffice/PHPPresentation/blob/1fcc84072ee0061f8991b8f83050a99e706fe5ce/src/PhpPresentation/Writer/PowerPoint2007/PptCharts.php#L213

[2021-01-13 18:13] rlocatelli9 commented on #608
Hey @pal-software!
I'm new to PHP. Could you explain how to do it?
I did the following ... And it didn't work in my presentation.php file:

[code]

I ran **echo "TEST "**, just to see if it worked, but it failed with error 500.

[2021-01-19 04:32] parthiv2585 opened #615 "Add Image in Table Cell"
Hi All,

I am using PHP Presentation display table in PPT. I want to add an image in a table cell. How to add an image in a table cell. i have used below code.

`$objPHPPowerPoint = new PhpPresentation();

// Create slide
$currentSlide = $objPHPPowerPoint->getActiveSlide();

// Create Table
$tableShape = $currentSlide->createTableShape(3);
$tableShape->setHeight(1200);
$tableShape->setWidth(960);

[2021-01-21 07:38] cyberwavee opened #616 "Offset is equal to zero"
When load presentation which was saved in windows power point - offset of some elements is equal to zero, but when this presentation was saved in google docs - offset of some elements is normal. :c

Google docs presentation - [https://drive.google.com/file/d/1e1EwP2SF2_AZl3lv6a6U61FcRYp6wMAn/view?usp=sharing](url)
Windows power point presentation - [https://drive.google.com/file/d/1nlmmk7UArclSrzP

[2021-01-26 12:00] parthiv2585 commented on #615
Please update on this.

[2021-01-30 14:48] potofcoffee opened #618 "Add font outline in rich text runs"
Would it be possible to add support for outlined texts in rich text runs in .pptx documents?
Basically this just needs to add something like this to `<a:rPr>`:

`<a:ln><a:solidFill><a:srgbClr val="000000"><a:alpha val="100000"/></a:srgbClr></a:solidFill></a:ln>`

[2021-02-18 16:42] BeycanDeveloper opened #619 "How can I get texts in ppt and pptx files."
Hello, all I want is to get the texts in ppt and pptx files. I couldn't understand how I can do this. Can you help me?

I will send the ppt and pptx and assign the inside texts to a variable. How can I do?

[2021-02-23 15:14] BeycanDeveloper opened #620 "Getting the numbers of words and characters in the file."
I examined the document and searched it on the internet, but I couldn't get any results. Please can someone help me?

[2021-03-17 21:46] fedegar commented on #405
Did you find a solution for this? I have the same issue...

[2021-03-18 07:17] bamatic commented on #518
You should add several series (4) to your $lineChart
$serie1Data = ["2018-10-18"=>0,2018-10-19=>0]
$lineChart->addSeries($series1Data);
$series2Data =  ["2018-10-18"=>5,2018-10-19=>5];
$lineChart->addSeries($series2Data);
and so on

[2021-03-18 16:15] ksmeeks0001 opened #623 "Chart Stacking"
There is an issue with setting a bar charts bar grouping to Bar::GROUPING_STACKED or Bar::GROUPING_PERCENTSTACKED. PowerPoint gives a message that file needs repaired. Commenting this out of the stacked bar function in sample_05 fixes.

[2021-03-22 08:17] harman-preet opened #624 "Support for Powerpoint 2013"
Is this library support Powerpoint 2013, etc.

[2021-03-22 13:19] ahorany commented on #160
I am also having the same issue. Is this issue resolved?

[2021-03-22 13:22] ahorany commented on #150
hello, do you find the solution?

[2021-03-24 11:05] ahorany commented on #150
You can use this library it's very fantastic and simple
it will export to PowerPoint, excel, word and another
https://www.tinybutstrong.com/opentbs.php

[2021-03-24 11:06] ahorany commented on #346
You can use this library it's very fantastic and simple
it will export to PowerPoint, excel, word and another
https://www.tinybutstrong.com/opentbs.php

[2021-03-24 11:06] ahorany commented on #291
You can use this library it's very fantastic and simple
it will export to PowerPoint, excel, word and another
https://www.tinybutstrong.com/opentbs.php

[2021-03-24 11:49] niloyniloy commented on #150
@ahorany its nice that you found have that library. Earlier, I struggled to get the solution. But didnt get in that time. Seems repository owner dont mange this project at all.

[2021-03-24 19:20] ahorany commented on #160
You can use this library it's very fantastic and simple
it will export to PowerPoint, excel, word and another
https://www.tinybutstrong.com/opentbs.php

[2021-04-04 23:23] DionPotkamp commented on #618
That would be something like this right? It is the only thing left to complete my project...
![image](https://user-images.githubusercontent.com/40297131/113524145-1c344300-95ad-11eb-9c00-1e5d2e33d4ec.png)

[2021-04-05 15:39] potofcoffee commented on #618
Exactly like this!

[2021-04-07 09:29] DionPotkamp commented on #620
Maybe this could help?
[code]
And then something like this:
[code]

[2021-04-07 10:43] DionPotkamp commented on #619
Do something like this but just dont count the words:
[code]
#620

[2021-04-07 10:50] DionPotkamp commented on #586
Maybe these two issues can help you get further along:
#619 & #620

[2021-04-07 16:44] mikevang commented on #450
I'm having this same issue. Pptx files load fine, but any ppt that I try throws this error.

[2021-04-08 19:23] #620 closed

[2021-04-08 19:23] BeycanDeveloper commented on #620
Thank you

[2021-04-08 19:23] BeycanDeveloper commented on #619
Thank you

[2021-04-08 19:23] #619 closed

[2021-04-12 12:07] Abhi1108 commented on #405
I have also same issue. I am also looking for solution.

[2021-04-12 12:34] martinhonza commented on #405
Hey, sorry, I dont remember remember the solution and I dont have access to the code anymore, I think we cut off the text so it always stayed on one row which was fine.

[2021-04-12 12:39] Abhi1108 commented on #405
Thanks for reply, but cutting text will not work for us.

[2021-04-16 06:21] gregcoding opened #628 "RichText setting the gradient fill"
I didn’t find out about setting the text gradient fill like this.
Does it support this kind of operation?
thanks!!
![image](https://user-images.githubusercontent.com/15666474/114980283-d043a100-9ebe-11eb-814a-51ab57688382.png)

[2021-05-05 10:50] stevo-king commented on #367
Good afternoon everyone.
Have an adequate way to replace a text template?
$ {my_text_Welcome} -> "Welcome friend"

Thank you in advance!

[2021-05-21 18:28] ksmeeks0001 opened #632 "Formatting axis labels with format code"
I am trying to format the labels on the y axis

`$axis->setFormatCode('#.0\%');`

I have tested and this will work as expected if you change Writer\PowerPoint2007\PptCharts.php on line 2279 to

`$objWriter->writeAttribute('sourceLinked', '0');`

Can anyone tell me why that is?

[2021-05-27 10:04] Mr-houzi commented on #594
I have the same problem. Have you solved this problem？

[2021-05-31 22:23] Progi1984 opened #634 "Roadmap for new version"
- [x] Migration to Github Actions from Travis CI
    - #635
- [x] Support for recents versions of PHP and remove support for PHP < 7.1
    - #636
- [x] Add PHPStan
    - #639
- [x] Add PHPCSFixer
    - #637
    - #640
- [x] Use Coveralls for replacing Scrutinizer
    - #648
- [x] Remove all deprecated
    - #650
- [x] Migration documentation to Markdown (@mkdocs)
    - #647
    - #649
- [x] Migrat

[2021-05-31 22:58] #605 closed

[2021-06-06 19:23] Progi1984 commented on #382
Hi all, I think it is fixed on develop branch. Could you check it @akmalirfan @ingo-lorenz @MehdiAroui @AlexanderKulia ?

[2021-06-06 19:29] #351 closed

[2021-06-07 03:35] akmalirfan commented on #382
Yes it is. Thanks @Progi1984

[2021-06-07 04:19] Offbeatmammal opened #638 "getName on all shapes"
is it possible to get the name of a RichText, Chart etc object (using ->getName() or similar)?

we use Powerpoint templates where the name of the object on the slide is used to determine various substitutions. To move from our current VBA Macro (shudder) solution to PHPPresentation with minimal redevelopment of the templates it would be very good if we can have a way to see what the designer has c

[2021-06-07 05:00] Offbeatmammal commented on #305
was there any progress on this? I'm not having much luck reading an existing pptx, and trying to find charts/tables, and then realized that when it's saved the chart has disappeared.

using this code to read/save the pptx (and try and find the data so I can edit it
[s1.pptx](https://github.com/PHPOffice/PHPPresentation/files/6605949/s1.pptx)

    $pptReader = IOFactory::createReader('PowerPoint200

[2021-06-19 13:07] Progi1984 commented on #602
@pal-software Have you got a sample file ?

[2021-06-19 13:08] Progi1984 commented on #599
@amirakbari Have you got a sample file ?

[2021-06-19 13:09] Progi1984 commented on #595
@niloyniloy Have you got a sample file and a sample code ?

[2021-06-19 13:10] Progi1984 commented on #589
@gutofurlan Could you check with develop branch ?

[2021-06-19 13:13] Progi1984 commented on #579
@petertiny Have you got a sample file and a sample code ?

[2021-06-19 13:13] Progi1984 commented on #577
@victorferzar Have you got a sample file ?

[2021-06-19 13:15] Progi1984 commented on #576
@MoheyElbaz Have you got a sample file ?

[2021-06-19 13:31] amirakbari commented on #599
I added some change here:
https://github.com/PHPOffice/PHPPresentation/pull/629

[RTL Support.pptx](https://github.com/PHPOffice/PHPPresentation/files/6680763/RTL.Support.pptx)